html {
  position: relative;
}

html,
html a,
* {
  -webkit-font-smoothing: antialiased !important;
}

body {
  background-color: #d9d9d9;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  text-transform: none;
}

.bg-white {
  background-color: #ffffff!important;
}
.bg-dark {
  background-color: #717171!important;
}
.bg-black {
  background-color: #000000!important;
}
.bg-blue {
  background-color: #2c8fbd!important;
}

.bg-darkBlue{
  background-color: #375467!important;
}

.bg-darkBlue2 {
  background-color: #162c39!important;
}

.bg-grey {
  background-color: #ededed!important;
}

.bg-greyBlue {
  background-color: #6a808e!important;
}

.bg-orange {
  background-color: #ff8a00!important;
}

.bg-orangeTransparent {
  background-color: rgba(255, 138, 0, 0.7)!important;
}

.bg-transparentDark {
  background-color: rgba(0,0,0,.5)!important;
}
.bg-transparentClear {
  background-color: rgba(250,250,250,.5)!important;
}

.noPadding {
  padding: 0!important;
}
.noMargin {
  margin: 0!important;
}

.noBorder {
  border: none!important;
  border-top: 0!important;
  border-right: none!important;
  border-bottom: none!important;
  border-left: none!important;
}

.square {
  border-radius: 0!important;
}

.boxShadow {
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,.4);
}

@media (max-width: 767px) {
  .noScroll {
    overflow: hidden;
  }
}

.alert {
  border-radius: 0;
}

.btn {
  border-radius: 0;
}

.btn-white {
  background-color: #ffffff;
  border-width: 1px;
  border-color: #8f8f8f;
  color: #5c5c5c;
}

input, select, button {
  border-radius: 0!important;
}

.body-container {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  padding: 0;
}

.body-container .row {
  padding: 0;
}

.top-content {
  display: table-cell;
  vertical-align: top;
}
.center-content {
  display: table-cell;
  vertical-align: middle;
}
.bottom-content {
  display: table-cell;
  vertical-align: bottom;
}

.block {
  position: relative;
  clear: both;
}

#navHome {
  position: absolute;
  z-index: 1000;
  right: 0;
  left: 0;
  padding: 5px 0;
}

#navHome .row {
  padding: 2px 0;
}

#navHome p {
  margin: 2px 0;
}

#navHome #logo .logo-color {
  display: block;
  float: right;
  width: auto;
  height: 60px;
  margin: 10px auto;
}

#navHome #logo a {
  font-weight: normal;
}

#navHome #logo a:hover {
  color: #6093bf;
}

#navHome #atnc-clientes a.login {
  color: #616161;
}

#navHome #atnc-clientes a.reg {
  color: #ff1400;
}

#navHome #atnc-clientes .bottom-border {
  border-bottom: 5px solid #ff4200;
}

#navHome #atnc-clientes .bottom-border-mini {
  border-bottom: 2px solid #aaa;
}

#navHome .bottom-border {
  border-bottom: 5px solid #ff4200;
}

#navHome .bottom-border-mini {
  border-bottom: 2px solid #aaaaaa;
}

#navIntern {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #fff;
  background-color: #50a7dd;
}

#navIntern .row {
  padding: 2px 0;
}

#navIntern #logo .logo-color {
  display: block;
  float: right;
  width: auto;
  height: 40px;
  margin: 15px 0 6px 0;
}

#navIntern #logo .slogan {
  margin: 11px auto;
}

#navIntern #logo a {
  font-weight: normal;
}

#navIntern #logo a:hover {
  color: #fff;
}

#navIntern #atnc-clientes a.login {
  color: #fff;
}

#navIntern #atnc-clientes a.reg {
  color: #fff;
}

#navIntern #atnc-clientes .bottom-border {
  padding-bottom: 3px;
  border-bottom: 2px solid #eee;
}

#navIntern p {
  margin: 2px 0;
}


/* ----- */

#navPlatform {
  position: relative;
  display: block;
  background-color: #50a7dd;
}

.navContainer {
  padding: 5px 0;
}

.navContainer .row {
  padding: 0;
}

.navBlock {}

.navLogo {}

.navLogo a,
.navLogo a:hover,
.navLogo a:active,
.navLogo a:visited,
.navLogo a:hover {
  text-decoration: none;
  text-transform: none;
  color: #ffffff;
}

.navLogoImg {
  float: left;
  padding: 7px 5px 3px 0;
}

.navLogoImg img {
  height: 45px;
}

.navLogoText {}

.navLogoText p {
  line-height: 1;
  margin: 0;
  padding: 9px 0 16px 0;
  color: #fff;
}

.navLogoText p sup {
  font-size: 50%;
  top: -1em;
  margin-left: -5px;
}

.navSearch {
  margin-top: 15px;
  margin-bottom: 15px;
}

.navSearchBox {
  margin: 0;
}

.navSearchBox .form-control {
  padding: 0 10px;
  font-size: 12px;
  height: 25px;
}

.navSearchBox .btn {
  padding: 2px 5px 1px;
}

.navControl {
  margin-top: 12px;
}

.navControl .dropdown-menu {
  right: 0;
  left: inherit;
  float: right;
  margin-top: 16px;
  text-align: right;
  border-radius: 0;
  background-color: #f9f9f9;
}

.navControl .dropdown-menu li {
  width: 100%;
  margin: 0 auto;
}

.navControlIcons {
  margin: 0;
}

.navControlIcons li {
  position: relative;
  width: 33px;
  height: 33px;
  margin: 0;
  padding: 0;
}

.navControlIcons li.miniProfilePic {
  margin-right: 10px;
}

.navControlIcons li a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: left;
}

.navControlBtn {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.navControlIcons .navSeparator {
  width: 4px;
  height: 33px;
  margin-right: 5px;
}

.navSeparator .navS {
  position: absolute;
  top: 6px;
  display: block;
  width: 100%;
  height: 23px;
  background-color: #fff;
}

.navControlIcons .profileLink {
  top: 1px;
  left: 0;
  overflow: hidden;
  width: 30px;
  height: 30px;
  border: solid 2px #fff;
  border-radius: 50px;
}

.navControlIcon {
  font-size: 23px;
  color: #fff;
  position: absolute;
  top: 6px;
}

.navControlBtn img {
  position: absolute;
}

.navControlBtn .badge {
  position: absolute;
  top: -5px;
  right: 0;
  background-color: #ffae00;
}

.navControlIcons #officeIcon img {
  top: 6px;
  width: 20px;
}

.navControlIcons #agendaIcon img {
  top: 4px;
  width: 20px;
  height: 22px;
}

.navControlIcons #notificationIcon img {
  top: 6px;
  width: 21px;
  height: 23px;
}

.notificationDropdown {
  width: 350px;
}

.notificationDropdown li {
  width: 100%;
  height: auto;
  padding: 0 10px;
}

.notificationDropdown li:hover {
  background-color: rgba(0,0,0,.1);
  cursor: pointer;
}

.btn-verNotificaciones {
  font-size: 20px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  padding: 10px;
  text-align: center;
  background-color: #ddd;
}

#notificacinesList{
  overflow-y: scroll;
  overflow: auto;
  max-height: 85%;
  padding-bottom: 60px;
}

#notificacinesList .media {
  height: 60px;
  margin: 0;
}

#notificacinesList .lbl-fecha{
  color: #aaa;
}

#plataforma {}


/*
#navPlatform #logo .logoImg img {
  display: inline-block;
  float: left;
  width: auto;
  height: 40px;
  margin: 15px 4px 6px 0;
}

#navPlatform #logo .logoText {
  display: inline-block;
  float: left;
  margin: 13px 0;
}

#navPlatform #logo a {
  font-weight: normal;
  color: #fff;
}

#navPlatform #logo a:hover {
  color: #fff;
}

#navPlatform .iconcontainer img {
  display: block;
  float: right;
  width: auto;
  height: 40px;
  margin: 15px 0 6px 0;
}

#navPlatform .iconcontainer a {
  font-weight: normal;
}

#navPlatform .iconcontainer a:hover {
  color: #fff;
}

#navPlatform .iconcontainer ul.btnicons {}

#navPlatform .iconcontainer li.btnicon {}


/* ----- */

#myCarousel {
  height: 600px;
  margin-bottom: 15px;
}

#myCarousel .carousel-inner {
  height: 100%;
}

#myCarousel .item {
  height: 100% !important;
  text-align: left;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

#myCarousel .item-bg {
  position: absolute;
  z-index: -1111111111;
  right: 0;
  left: 0;
  height: 100%;
  margin: 0 auto;
}

#myCarousel .carousel-caption {
  right: 18%;
  bottom: 15%;
  left: 12%;
  text-align: left;
  text-shadow: none;
}

#myCarousel .carousel-caption .item-title {
  height: 110px;
}

#myCarousel .carousel-caption h1.item-title-text {
  font-size: 51px;
  font-weight: bold;
  line-height: .8;
  display: inline-block;
  color: #3c3e41;
}

#myCarousel .carousel-caption h1.item-title-text small {
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #3c3e41;
}

#myCarousel .carousel-caption .item-block {
  display: inline-block;
  display: -moz-inline-stack;
  display: -webkit-inline-box;
  margin: 10px 0;
  padding: 3px 7px;
  background: #ff9a07;
  background: -webkit-linear-gradient(left, #ff9a07 0%, #f2cc39 100%);
  background: linear-gradient(to right, #ff9a07 0%, #f2cc39 100%);
  background-color: #ffaf00;
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff9a07', endColorstr='#f2cc39', GradientType=1);
}

#myCarousel .carousel-caption .large-text {
  font-size: 25px;
  font-weight: 200;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#myCarousel .carousel-caption .normal-text {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#item-1 {
  background-image: url('../img/slide-item1.png');
}

#item-2 {
  background-image: url('../img/slide-item2.png');
}

#item-3 {
  background-image: url('../img/slide-item3.png');
}

#myCarousel .carousel-control.left,
#myCarousel .carousel-control.right {
  background: none;
}

@media (max-width: 480px) {
  .hideonmobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .hideonmobile {
    display: none;
  }
}

@media (min-width: 768px) {
  .hideonmobile {
    display: none;
  }
}

@media (min-width: 998px) {
  .hideonmobile {
    display: inline;
  }
}

@media (min-width: 1200px) {
  .hideonmobile {
    display: inline;
  }
}


/*
WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
Need to override the 3.3 new styles for modern browsers & apply opacity
*/

@media all and (transform-3d),
(-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item.next,
  .carousel-fade .carousel-inner > .item.active.right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }
  .carousel-fade .carousel-inner > .item.prev,
  .carousel-fade .carousel-inner > .item.active.left {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }
  .carousel-fade .carousel-inner > .item.next.left,
  .carousel-fade .carousel-inner > .item.prev.right,
  .carousel-fade .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}


/* ---------------------------------- */

.carousel-fade .item {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.carousel-fade .active.left,
.carousel .active.right {
  z-index: 2;
  left: 0;
  opacity: 0;
}

.carousel-fade .next,
.carousel .prev {
  z-index: 1;
  left: 0;
  opacity: 1;
}


/*-------------------*/

.carousel-indicators li {
  border: 1px solid #8a8787;
}

.carousel-indicators .active {
  background-color: #8a8787;
}

.logo {
  width: 100%;
  height: 70px;
  border: solid 1px #333;
}

.row {
  padding-top: 0;
  padding-bottom: 10px;
}

#principal {
  height: 100%;
  padding-top: 90px;
  padding-bottom: 25px;
  background-image: url('../img/slideBG.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#directorio {
  height: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
}

#searchMedic {
  background-color: #cdd5da;
}

#searchMedic .upper .breadcrumb {
  margin: 0;
  padding: 8px 0;
  border-radius: 0;
  background-color: transparent;
}

#searchMedic .searchbox {
  border-radius: 0;
  background-color: #edf0f1;
}

#resultTabs .tab a {
  margin: 0 5px 5px 0;
  border: none;
  background-color: #edf0f1;
}

#resultTabs .tab.active a {
  margin-bottom: 0;
  padding-bottom: 15px;
}

#tabsContent .panel {
  border: none;
  border-radius: 0;
  background-color: #edf0f1;
}

#tabsContent .result {
  display: -webkit-box;
  height: auto;
  margin-top: 15px;
  padding-bottom: 15px;
  border-bottom: dashed 2px #aaa;
}

.list-ubicaciones li {
  margin: 2px auto;
}

.list-ubicaciones li .btn {
  /*width: 35px;
  height: 35px;*/
  padding: 2px 2px 0 0;
  text-align: center;
}

.list-ubicaciones li .btn .glyphicon {
  /*font-size: 25px;*/
  line-height: normal;
  top: 0;
  text-align: center;
}

.result .label.label-topDr {
  background-color: #d9534f;
}

.result .label.label-recomendado {
  background-color: #f0ad4e;
}

.result .resultOptions {
  border-left: solid 2px #aaa;
}

#tabsContent .media-enclosure {
  overflow: hidden;
  width: 170px;
  height: 170px;
  margin: 0 20px;
  border: solid 5px #fff;
  border-radius: 150px;
  background-color: #50a7dd;
}

#tabsContent .media-object {
  width: 100%;
}

#registro {
  height: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  background-repeat: no-repeat;
  background-position: center center;
}

#buscador #panel-buscador {
  border-radius: 20px;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .2);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .2);
}


#buscador #sel-busqueda.form-control,
#buscador #tipoBusqueda {
  background-color: #328ecb;
}

#buscador .autocompleteInput{
  background-color: transparent;
}

#buscador input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #ddd;
}

#buscador input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #ddd;
}

#buscador input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #ddd;
}

#buscador input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #ddd;
}

#servicios {
  position: relative;
  display: block;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #6093bf;
}

#servicios h1 {
  font-size: 50px;
}

#servicios .iconos-servicios {
  padding-top: 30px;
  padding-bottom: 30px;
}

#servicios .icon-white {
  display: block;
  width: 450px;
  height: 177px;
  margin-top: 15px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  background-image: url('../img/que-es-intermed-logo.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#servicios h1 {
  font-size: 35px;
  font-weight: 200;
  margin-top: 40px;
  letter-spacing: 2px;
}

#servicios h2 {
  font-size: 30px;
  font-weight: 200;
  letter-spacing: 1px;
}

#servicios h1 small {
  color: #fff;
}

#servicios .medium-text {
  font-size: 20px;
  letter-spacing: 1px;
}

#section3 {
  height: 500px;
  border-top: 10px solid #fff;
  background-image: url('../img/section3bg.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

#section3 .section3cover {
  width: 100%;
  height: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgba(255, 66, 0, .75);
}

footer {
  color: #fff;
  border-top: 2px solid rgba(250, 250, 250, .7);
  background-color: #ff1c00;
}

footer a,
footer a:active,
footer a:hover,
footer a:visited {
  color: #fff;
}

#CatRegModal .modal-content,
#RegPacModal .modal-content,
#RegMedModal .modal-content,
#LoginModal .modal-content {
  border-radius: 0;
}

#CatRegModal .modal-header,
#RegPacModal .modal-header,
#RegMedModal .modal-header,
#LoginModal .modal-header {
  margin: 20px 15px;
  padding: 5px 0px;
  border-bottom: solid 5px #76b6dd;
}

#CatRegModal .modal-header .close,
#RegPacModal .modal-header .close,
#RegMedModal .modal-header .close,
#LoginModal .modal-header .close {
  margin: 12px;
}

#CatRegModal h1 {
  margin: 5px 0 15px 0;
  text-align: center;
}

#CatRegModal h3 {
  margin: 5px 0;
  text-align: center;
  color: #fbad18;
}

#CatRegModal .modal-footer {
  border: solid 5px #fff;
  background-color: #fbad18;
}

#RegPacModal .modal-body,
#RegMedModal .modal-body {
  position: relative;
  min-height: 460px;
  padding: 0 15px;
}

#RegPacModal .modal-footer,
#RegMedModal .modal-footer {
  text-align: center;
  border: 0;
  padding: 0 15px;
}

#CatRegModal .hi-icon {
  background-color: #fbad18;
}

.regHeader b {
  color: #fbad18;
}

.regCorreo,
.regFacebook,
.regPersonales {
  padding: 20px 30px;
}

.regFacebook {
  text-align: center;
}

.separator {
  position: relative;
  top: 205px;
  width: 400px;
  margin: 0 auto;
  padding: 0;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  border: 2px solid #757575;
}

.separator2 {
  border: 5px solid #1E6488;
  margin: 10px 0;
}

.separator3 {
  width: 80%;
  float: right;
  border: 8px solid #1E6488;
  margin: 10px 0;
}

.stepsContainer {
  position: relative;
  margin: -53px 0;
  padding: 10px 0;
  background-color: #d8d8d8;
}

.stepsList {
  padding: 0;
  list-style: none;
}

.stepBullets {
  position: relative;
  z-index: 5;
  float: left;
  width: 30px;
  height: 30px;
  margin: 0 10px;
  padding: 5px;
  text-align: center;
  color: #fb0018;
  border-radius: 50px;
  background-color: #fbad18;
}

.stepBullets.current {
  color: #fff;
  font-weight: bold;
}

.stepsConnector {
  position: absolute;
  z-index: 0;
  z-index: 1;
  top: 45%;
  right: 0;
  left: 0;
  width: 80%;
  height: 5px;
  margin: 0 auto;
  background-color: #fbad18;
}

.topMsgReg {}

.topMsgReg .msgPrecio {
  font-size: 18px;
  margin: 0 -1px 0 -30px;
  margin-bottom: 0;
  padding: 10px 15px;
  color: #fff;
  background-color: #5D9AB7;
}

.msgPrecio .trngl {
  position: absolute;
  top: 6px;
  left: -29px;
  width: 27px;
  height: 27px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #5D9AB7;
}

.topMsgReg h4 {
  margin: 0;
  padding: 10px 15px;
  color: #fff;
  background-color: #1E6488;
}

.topMsgReg .msgSuccess {
  padding: 20px 15px;
  text-align: center;
  background-color: #009cde;
}

.regBox {
  position: relative;
  display: block;
  height: auto;
  padding: 10px 15px;
}

.selTipoPago {
  position: relative;
  top: -45px;
  margin-bottom: -55px;
}

.bigLabel {
  font-size: 25px;
  margin: 0;
  padding: 0 30px;
  letter-spacing: 1px;
}

.selTipoPago .labelRadio input {
  width: 30px;
  height: 30px;
  margin-top: 2px;
  margin-left: -23px;
}

.rB-gray {
  background-color: #d8d8d8;
}

.rB-orange {
  background-color: #fbad18;
}

.verificarAddon {
  padding: 0;
}

.verificarBtn {
  padding: 5px 12px;
  border-radius: 0;
}

.secureStamp p {
  margin: 0;
}

.secureStamp img {
  height: 26px;
}

.secureStamp .securedImgs.row {
  padding: 0;
  margin: 0;
}


/* ------ icons hover effect ------ */

.hi-icon-wrap {
  margin: 0 auto;
  padding: 2em 0 3em;
  text-align: center;
}

.hi-icon {
  font-size: 0;
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 220px;
  height: 220px;
  margin: 15px auto;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  /*background-color: #437eab;*/
  background-color: rgba(0, 0, 0, .3);
}

.hi-icon-modal {
  width: 100%;
  height: 100%;
}

.hi-icon-img {
  width: 100%;
}

.hi-icon:after {
  /*pointer-events: none;*/
  position: absolute;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  content: '';
  border-radius: 50%;
}

.hi-icon:before {
  font-family: 'ecoicon';
  font-size: 48px;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 90px;
  display: block;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
}


/* Effect  */

.hi-icon-effect .hi-icon {
  display: block;
  -webkit-transition: box-shadow .3s;
  transition: box-shadow .3s;
}

.hi-icon-effect .hi-icon:after {
  top: 0;
  left: 0;
  padding: 0;
  -webkit-transition: -webkit-transform .3s, opacity .3s;
  transition: -webkit-transform .3s, opacity .3s;
  transition: transform .3s, opacity .3s;
  box-shadow: 0 0 0 3px #fff;
}


/* Effect a */

.hi-icon-effect-a .hi-icon:hover:after {
  -webkit-transform: scale(.6);
  -ms-transform: scale(.6);
  transform: scale(.6);
  opacity: 0;
}

.hi-icon-effect-a .hi-icon:hover {
  color: #fff;
  box-shadow: 0 0 0 7px rgba(255, 255, 255, 1);
}

#ProfilePicture label {
  position: relative;
  color: white;
  display: none;
  background: rgba(0, 0, 0, .5);
  text-align: center;
  margin-top: -42px;
  height: 35px;
  cursor: pointer;
}

#ProfilePicture:hover label {
  display: block;
  float: left;
  padding: 10px;
  width: 200px;
}

.profileHolder {
  margin: 0;
  padding: 0;
}

.profileHeader {
  padding-top: 35px;
  background-image: url('../img/profileBG.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

.profileGeneralInfo {
  position: relative;
  padding-bottom: 35px;
  color: #fff;
}

#medico .profileGeneralInfo {
  vertical-align: bottom;
}

#paciente .profileGeneralInfo {
  vertical-align: middle;
}

/*.profilePic {
  position: relative;
  z-index: 2;
  overflow: hidden;
  width: 165px;
  height: 165px;
  margin-bottom: 35px;
  margin-left: 35px;
  border: solid 5px #fff;
  border-radius: 100px;
  background-color: #009cde;
}*/


/* profilePic cinthia */

.profilePic label {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  display: none;
  width: 140px;
  height: 40px;
  margin: 0 auto;
  padding: 15px;
  cursor: pointer;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, .5);
}

.profilePic:hover label {
  display: block;
}

.topDrBadge {
  font-weight: bold;
  position: absolute;
  z-index: 0;
  top: 20px;
  right: -120px;
  width: 200px;
  padding: 3px 10px;
  text-align: right;
  text-transform: uppercase;
  background: rgb(240, 170, 8);
  background: -moz-linear-gradient(left, rgba(240, 170, 8, 1) 0%, rgba(238, 230, 25, 1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(240, 170, 8, 1)), color-stop(100%, rgba(238, 230, 25, 1)));
  background: -webkit-linear-gradient(left, rgba(240, 170, 8, 1) 0%, rgba(238, 230, 25, 1) 100%);
  background: -o-linear-gradient(left, rgba(240, 170, 8, 1) 0%, rgba(238, 230, 25, 1) 100%);
  background: -ms-linear-gradient(left, rgba(240, 170, 8, 1) 0%, rgba(238, 230, 25, 1) 100%);
  background: linear-gradient(to right, rgba(240, 170, 8, 1) 0%, rgba(238, 230, 25, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f0aa08', endColorstr='#eee619', GradientType=1);
}

.profilePic img {
  height: 100%;
}

.profileGenerales {
  position: relative;
}

.vCard {
  margin: 0 0 5px 0;
  vertical-align: top;
  height: 70px;
  width: 65%;
}

.vCard .vcNombre,
.vCard .vcUbicacion {
  margin: 0;
  margin-bottom: 6px;
  line-height: .8
}

.vCardMainInfo {
  margin: 0;
  line-height: .7
}

.vCardExtraInfo {
  margin-top: 8px;
  line-height: .7;
}

.vCardEspInfo {
  line-height: .7;
  margin-top: 11px;
}

.vCard .espList,
.vCard .subEspList {
  margin-bottom: 6px;
  text-transform: uppercase;
  font-size: 13px;
}

.vCard .telList,
.vCard .mailList {
  line-height: 1;
}


/* Transition for carousel items */

#vCard.carousel .item {
  -webkit-transition: .4s;
  /*adjust timing here */
  -moz-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.profileExtraNav {
  margin: 0;
}

.profileExtraNav,
.profileExtraNav li {
  padding-left: 0;
  text-transform: uppercase;
  cursor: pointer;
}

.profileExtraNav li:hover {
  text-decoration: underline;
}

.profileExtraNav li a,
.profileExtraNav li a:hover,
.profileExtraNav li a:active,
.profileExtraNav li a:focus {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.profileOptions {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 27.9%;
  margin: 0;
  padding: 20px;
  color: #fff;
  background-color: rgba(20, 20, 20, .5);
}

.profileMobileOptions {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: auto;
  margin: 0;
  padding: 20px;
  color: #fff;
  background-color: rgba(20, 20, 20, .5);
  display: none;
}

.profileOptions .options {
  vertical-align: bottom;
}

.profileMobileOptions .options {
  vertical-align: top;
  font-size: 21px;
}

.profileMobileOptions .options li {
  margin-bottom: 10px;
}

.profileBody {}

.profileBodyNav {
  background-color: #edf0f1;
}

.profileBodyNav ul {
  border-left: solid 1px #dedede;
}

.profileBodyNav ul li {
  border-right: solid 1px #dedede;
}

.profileBodyNav ul li a {
  border-radius: 0!important;
  border: 0;
}

.profileBodyNav ul li.active a,
.profileBodyNav ul li.active a:hover,
.profileBodyNav ul li.active a:focus {
  border-radius: 0;
  border: 0!important;
}

.profileBodyElements {
  margin-top: 10px;
}

.profileBodyElements .panel,
.profileBodyElements .panel-body,
.profileBodyElements .panel-heading {
  border-radius: 0;
  border: 0;
  position: relative;
}

.profileBodyElements .element {}

.element .panelIcon {
  margin-left: 0;
  margin-right: 7px;
}

.element .elementPanel {
  background-color: #e3e7ea;
}

.element .elementPanel>.panel-heading {
  background-color: #377da8;
  color: #ffffff;
}

.element .elementPanel>.panel-body {
  padding: 5px;
  min-height: 327px;
}

.cvPanel {
  background-color: #e3e7ea;
}

.cvBody {}

.cvBody .nav-tabs {
  border-bottom: solid 5px #50a7dd;
}

.cvBody .nav-tabs li {
  margin-bottom: 0px;
  margin-right: 1px;
}

.cvBody .nav-tabs > li > a,
.cvBody .nav-tabs > li > a:focus,
.cvBody .nav-tabs > li > a:hover {
  margin: 0;
  color: #fff;
  border: 0;
  border-radius: 0;
  background-color: #4f6c7f;
}

.cvBody .nav-tabs > li.active > a,
.cvBody .nav-tabs > li.active > a:focus,
.cvBody .nav-tabs > li.active > a:hover {
  color: #fff;
  border: 0;
  border-radius: 0;
  background-color: #50a7dd;
}

.cvContent {
  padding: 0;
}

.cvSection {
  margin-top: 5px;
  padding-bottom: 5px;
  background-color: #f1f3f5;
}

.cvSectionHead {
  padding: 5px 30px;
  background-color: #b4cfe0;
}

.cvSectionHead .row {
  padding: 0;
}

.cvSectionHead h4 {
  color: #4f6c7f;
  margin: 8px auto;
}

.cvSectionHead .btn {
  background-color: #4f6c7f;
  color: #fff;
  position: relative;
}

.cvSectionBody {
  padding-left: 30px;
  height: 601px;
  overflow-y: scroll;
  overflow: auto;
  margin-right: 5px;
}

.dropdown-form {
  width: 100%;
  position: absolute;
  top: 45px;
}

.dropdown-form .panel {
  margin: 0;
}

.cvSectionBody .cvElement {
  margin-bottom: 20px;
}

.cvSectionBody .cvElement .elementEditButtons {
  margin: 0 10px;
}

.cvSectionBody .cvElement .elementEditButtons a {}

.homeBody {}

.homeBodyNav {
  background-color: #edf0f1;
}

.homeBodyNav ul {
  border-left: solid 1px #dedede;
}

.homeBodyNav ul li {
  border-right: solid 1px #dedede;
}

.homeBodyNav ul li a {
  border-radius: 0!important;
  border: 0;
}

.homeBodyElements {
  margin-top: 10px;
}

.homeBodyElements .panel,
.homeBodyElements .panel-body,
.homeBodyElements .panel-heading {
  border-radius: 0;
  border: 0;
}

.homeBodyElements .element {
  /*float: left;*/
}

#homeNewsFeed {
  min-height: 1250px;
}

div::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

div::-webkit-scrollbar-button {
  width: 8px;
  height: 5px;
}

div::-webkit-scrollbar-track {
  border: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: transparent;
}

div::-webkit-scrollbar-thumb {
  border: 0;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: rgba(210, 210, 210, .5);
}

div::-webkit-scrollbar-thumb:hover {
  background-color: rgba(210, 210, 210, .8);
}


/* Pseudo-clase */

div::-webkit-scrollbar-thumb:window-inactive {
  background-color: rgba(210, 210, 210, .5);
}

.profilePanel {
  background-color: #e3e7ea;
}

.profilePanelBody {
  min-height: 250px;
  padding: 6px;
}

.ubicacionesContainer {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}

.ubicacionesContainer .uIndicator {
  position: absolute;
  z-index: 500;
  top: 0;
  right: 0;
  bottom: 0;
  left: inherit;
  width: 100px;
  margin: 0;
  padding: 0;
  text-align: right;
}

.ubicacionesContainer .uIndicator li {}

.ubicacion {}

.uMapa {
  background-color: #333;
  background-size: cover;
  background-repeat: no-repeat;
  height: 263px;
  margin-bottom: 5px;
}

.uMapa#maptest1 {
  background-position: center;
  background-size: 250% auto;
}

.uMapa#maptest2 {
  background-position: top;
  background-size: 250% auto;
}

.uMapa#maptest3 {
  background-position: bottom;
  background-size: 100% auto;
}

.uDireccion {}

.uDireccion .iconLeft {
  width: 48px;
  height: 48px;
  background-color: #009cde;
  float: left;
  margin-right: 5px;
}

.uDireccion .iconLeft .uBigIcon {
  width: 100%;
  height: 100%;
  padding: 5px;
  font-size: 33px;
  color: #fff;
}

.uDireccion .address address {
  font-size: 13px;
  line-height: 1.3;
  float: left;
  margin: 0;
}

.contactosBody {
  position: relative;
  display: block;
  max-height: 327px;
}

.contactosContent {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  overflow: hidden;
  padding: 5px;
  background-color: #293541;
}

.contactosOrderButtons {
  background-color: #50a7dd;
}

.contactosOrderButtons .btn {
  color: #fff;
}

.contactosOrderButtons .btn:hover {
  font-weight: bold;
}

.contactosListContainer {
  position: absolute;
  top: 40px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  overflow-y: scroll;
  overflow: auto;
}

.contactosListContainer.pac {
  top: 5px;
}

.contList {
  position: relative;
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
}

.contList-profile {
  display: block;
  margin: 0 0 5px 0;
  background-color: #333f4d;
  padding: 5px;
}

.contList-profilePic {}

.contList-profilePicImg {
  width: 50px;
}

.contList-profileBody {
  vertical-align: middle;
}

.contList-profileName,
.contList-profileEsp,
.contList-profileName:hover,
.contList-profileEsp:hover {
  color: #f2f2f2;
  text-transform: capitalize;
}

.contList-profileEsp {
  font-weight: bold;
}

.contList-profileAction {
  vertical-align: middle;
  border-left: solid 2px #969ba2;
}

.contList-profileActionLink,
.contList-profileActionLink:hover {
  font-size: 12px!important;
  display: block;
  width: 100px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #969ba2;
}

.ui-autocomplete {
  padding: 0;
  list-style-type: none;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(100, 100, 100, .3);
  background-color: rgb(250, 250, 250);
}

.ui-autocomplete li{
  padding: 10px;
  color:black;
}

.ui-autocomplete a{
  text-decoration: none;
  color:black;
}

.ui-autocomplete-category{
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  background-color: #EEE!important;
  padding-left: 10px;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border: 0;
  height: 0;
  border-top: 2px solid #717171;
  border-bottom: 0;
}
#recomendarA tr td img{
  height: 30px;
}
.check{
  background-color: #eee;
}
#recomendarA tbody tr td{
  cursor:pointer;
}
#enviarRecomendaciones ul li{
  cursor: pointer;
}

#mensajes{
  height: 100%!important;
}
 .ui-widget-content{
  position:absolute;
  z-index:10000!important;
  max-height: 200px;
  overflow: hidden;
  overflow-y: auto;
}
#agregandoContacto tr td img{
  height: 30px;
}
#sendFor ul li small span.glyphicon.glyphicon-remove{
  cursor:pointer;
}
#tabla table tbody tr td{
  cursor: pointer;
}
.cambiando{
  background-color: #eee;
}
#cuerpoRecomendado img{
  height: 30px;
  width: 30px;
}
.modal-dialog {
  position: relative;
}
#cargador {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;
  z-index: 1000;
}

/*Inbox*/
.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.chat li:last-child
{
    border-bottom: none;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #555;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body2
{
    height: 185px;
    margin: 15px;
}

.panel-body3
{
    margin: 15px;
}

.panel-body4
{
    margin: 15px;
}

::-webkit-scrollbar-track
{
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
    background-color: #555;
}

p a {
    text-decoration: underline;
}

.twitter-typeahead {
    display: block !important;
}

.tt-dataset-topics {
    margin-left: 15px;
}

.help-buttons {
    margin-top: 15px;
}

img.mini{
  width: 30px;
  height: 30px;
}

@media (max-width: 768px) {
  img.mini{
    width: 100%;
    height: auto;
  }
}

textarea::-webkit-scrollbar {
width: 4px;
}

.datetime{
  font-size: 80%;
  padding: 3px!important;
  color: #AAA;
  /*border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
}

.datetime>span{
  position: relative;
  font-weight: bold;
  z-index: 3000;
}

li.error{
  color: #a94442;
  font-size: 80%;
}

.nombreContacto.seleccionado{
  background-color: #0489B1;
}

.nombreContacto.seleccionado small{
  color: #FFF;
}

.marcoImagen {
  padding:8px;
  background-color: #f5f5f5;
  width: 200px;
  border-bottom: 1px solid #999999;
  border-right: 1px solid #999999;
}

.chat-body>p{
    width: 100%;
    word-wrap: break-word;
}

.chat-body .contenidoMsg{
    width: 100%;
    word-wrap: break-word;
}

.nombreContacto.noleido{
  background-color: #CEECF5;
}

.chat p.pull-right{
  float: none!important;
}

.chat p.pull-left{
  float: none!important;
}

.chat span.horaMsg{
  margin-top: 10px;
  font-size: 70%;
  color: #CCC;
  font-weight: bold;
}

.notificationDropdown{
  z-index: 6000;
}

#notificacionesInboxList {
  padding: 0px;
}


#notificacionesInboxList li{
  margin: 0px;
}

/*Fin Inbox*/

.menuBootbox{
  padding:0px;
  /*width: 100%;*/
  display: block;
  margin: -15px;
  margin-bottom: 0px;
}

.menuBootbox li{
  text-align: center;
  font-weight: bold;
  width:1%;
  margin:0px;
  border-radius: 0px;
  background-color:#1e6485;
  display: table-cell;
  float: none;
}

.menuBootbox li a {
  color: white;
  margin:0px;
  border-radius: 0px 0px 0 0!important;
}

.menuBootbox li.active a,
.menuBootbox li.active a:focus,
.menuBootbox li.active a:hover,
.menuBootbox li a:hover{
  background-color:#2383AF;
  color:white!important;
  border: 0px!important;
  border-bottom: 0px!important;
}

#divUbicacion{
  padding:30px;
  background-color:#5D9AB7;
  padding-bottom: 0px;
}

#divUbicacion .row{
  padding-bottom: 2px!important;
}



.btn-add{
  background-color: #5AA5C9;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  border-radius: 3px;
  font-weight: bold;
  color: #FFF;
}

.btn-save{
  background-color: #FFBF00;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  border-radius: 3px;
  font-weight: bold;
  color: #FFF;
}

.btn-drop{
  background-color: #A92D2D;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  border-radius: 3px;
  font-weight: bold;
  color: #FFF;
}

.pac-container.pac-logo{
  z-index: 30000;
}

.tabBootBox {
  padding: 15px 0;
}


.sortable .placeholder {
  outline: 1px dashed #4183C4;
}

.sortable .mjs-nestedSortable-error {
  outline: 1px dashed #A92D2D;
}

#sortableExpertoEnCont>ol,
#sortableAseguradoraCont>ol,
#sortableClinicaCont>ol{
  padding-left:0px;
  max-width: 100%;
}

ol.sortable,ol.sortable ol {
  list-style-type: none;
}

.sortable li div {
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: move;
  border-color: rgba(0,0,0,0.3);
  margin: 0;
  margin-top:3px;
  padding: 3px;
}

.sortable li.mjs-nestedSortable-collapsed.mjs-nestedSortable-hovering div {
  border-color: #999;
}

.sortable li.mjs-nestedSortable-collapsed > ol {
  display: none;
}

.sortable span.ui-icon {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.sortable .menuDiv {
  background: rgba(0,0,0,0.2);
  margin:1px;
  padding-top:2px;
  padding-bottom:2px;
  padding-left: 20px!important;
}

.sortable .menuDiv .glyphicon{
  font-size:80%;
}

.sortable .menuEdit {
  background: #FFF;
}

.sortable .itemTitle {
  vertical-align: middle;
  cursor: pointer;
}

.sortable .deleteMenu {
  float: right;
  cursor: pointer;
}

.colEsp {
  font-size: 80%;
}

#buscadorFixed{
  background-color: #84AAC1;
  z-index: 100;
  width: 100%;
  position: relative;
}

#buscadorResultado{
  margin-top: 0px;
  background-color: #EDEDED;
  padding-top: 20px;
}

#buscadorResultado .result{
  margin-top: 0px;
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

#buscadorResultado .result.seleccionado{
  background-color: rgba(0,0,0,0.1);
}

.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

.autocompleteInput{
  display: flex;
  border: none;
}

.autocompleteInput:focus{
  border: none;
  width: 100%;
}
.autocompleteInput:active{
  border: none;
}

.ui-helper-hidden-accessible{
  display: none;
}

.ui-state-focus{
  background-color: #DADADA!important;
}

.imgBusqueda{
  width: 200px;
  height: 200px;
}

#divCalendario {
  margin-bottom: 15px;
}

#divCalendario .fc-body{
  background-color: white;
}

#divCalendario thead{
  background-color: #172c3b;
  color: white;
}
#divCalendario.calCita .fc-axis.fc-time.fc-widget-content{
  /*padding-top: 5px;
  padding-bottom: 5px;*/
}

#divCalendario.calAgenda td{
  padding-top: 5px;
  padding-bottom: 5px;
}

.eventCalRemove{
  font-size: 15px;
  color: black;
  margin-top: 5px;
}

.fc-time-grid-event{
  text-align: center;
  padding-top: 5px;
}

.medium{
  width: 50%;
  padding: auto;
  margin: auto;
}

#cita_detalles{
  margin-top: 49px;
  margin-left: 15px;
  margin-bottom: -30px;
}

.star-rating.rating-xs.rating-active{
  text-align: center;
}

hr.hrblack{
  border: 0;
  height: 1px;
  background: #000;
  margin-top: 2px;
  margin-bottom: 2px;
}

div.Slider{
  height: 100px;
  margin-left: 40%;
  width: 8px;
  background-color: #FAFAFA;
}

.noUi-vertical .noUi-handle {
    left: -6px;
    top: -17px;
    width: 10px!important;
    margin-left: 4px;
    height: 14px!important;
    margin-top: 10px;
    background-color: red;
    border-color: #7A7A7A;
}

.noUi-vertical .noUi-origin{
  background-color: white;
}

.Slider.ui-slider.ui-slider-vertical{
  background-color: red;
}

.calificacionCriterios .tooltip{
  position: fixed;
}

.Intermed-Bootbox h1,.Intermed-Bootbox h2,.Intermed-Bootbox h3,
.Intermed-Bootbox h4,.Intermed-Bootbox h5 {
  margin: 5px auto!important;
}

.Intermed-Bootbox .modal-content {
  padding: 0;
  border-radius: 0;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,.5);
  box-shadow: 0 0 15px rgba(0, 0, 0, .5);
  border: solid 0.1pt rgba(0,0,0,0.001);
}

.Intermed-Bootbox .modal-header{
  background-color: transparent;
  border: none;
  color: #333;
}

.Intermed-Bootbox .modal-header .title{
  width: 100%;
  display: block;
  font-size: 25px;
}

.Intermed-Bootbox .modal-header .subtitle{
  width: 100%;
  display: block;
  font-size: 20px;
  margin-top: 10px;
}

.Intermed-Bootbox .bootbox-close-button{
  font-size: 180%;
  color: #333;
}

.Intermed-Bootbox .modal-body{
  background-color: transparent;/*#5D9AB7;#337ab7;#0098d7;*/
  padding: 0px;
  border: 0;
}

.Intermed-Bootbox .modal-footer{
  background-color: #375467;
  border: none;
  color: #fff;
}

.Intermed-Bootbox .modal-footer button{
  min-width: 100px;
}

.Intermed-Bootbox .divBodyBootbox {
  padding:30px;
  background-color:#5D9AB7;
  padding-top: 10px;
  padding-bottom: 5px;
}

.Intermed-Bootbox .divBodyBootbox .row {
  padding: 2px!important;
}

.Intermed-Bootbox .row {
  margin: 0;
  padding-bottom: 15px;
}
.Intermed-Bootbox .row .row {
  padding-bottom: 0;
  margin-left: -15px;
  margin-right: -15px;
}

.Intermed-Bootbox .footerBootbox {
  margin-right: 15px;
  margin-left: 15px;
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 10px;
  padding-left: 0;
  color: #333;
  border-top: solid 1px #aaa;
}
.Intermed-Bootbox .footerBootbox p {
  color: #333;
}

.Intermed-Bootbox hr {
  margin: 12px 0 0 0;
  padding: 0;
  border: solid 1px rgba(255,255,255,0.6);
}

.Intermed-Bootbox .form-group {
  padding-top: 15px;
  margin: 0;
}

.Intermed-Bootbox .form-control {
  border-radius: 0;
}

.Intermed-Bootbox .alert {
  margin: 0 auto;
  border-radius: 0;
}

.Intermed-Bootbox p {
  margin-top: 9px;
  margin-bottom: 9px;
}

.Intermed-Bootbox .tab-content {
  padding: 0;
}

.Intermed-Bootbox .nav-justified li {
  display: table-cell!important;
  width: 1%;
}

.Intermed-Bootbox .nav-justified a {
  border-radius: 0!important;
  color: #aaa;
  font-weight: bold;
  letter-spacing: 2px;
}

.modal-backdrop{
  background-color: #000230!important;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .3;
}

.btn-facebook, .btn-facebook:hover {
  background-color: #425F9C;
  color: #ffffff;
  border: 0;
}

.btn-reg {
  background-color: #375467;
  color: #ffffff;
}

.btn-reg:hover{
  color: #bbbbbb;
}

.regExp {
  display: inline-block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 20px;
  text-align: center;
  border: solid 1px #375467;
}

.regExp p {
  padding: 0;
  margin: 0;
}

.btn-save-reg {
  font-size: 150%;
  font-weight: bold;
  height: 65px;
  border-color: transparent;
  border-radius: 15px;
  background-color: #50a8de;
}

.nav-nextprev {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
}

.btn-nextprev {
  border: none;
  background-color: none;
}

.btn-nextprev .icon {
  position: relative;
  top: 11px;
  display: inline-block;
  width: 77px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}

.btn-nextprev .anterior-icon {
  background-image: url('../img/plataforma/icons/anterior.png');
}

.btn-nextprev .siguiente-icon {
  background-image: url('../img/plataforma/icons/siguiente.png');
}



#divCalendario.regHorMed .fc-widget-content .fc-time-grid-container{
  height: auto!important;
}

#divCalendario.regHorMed .fc-bgevent{
  /*opacity: .5;*/
  /*background-image: url('../img/plataforma/columnBG.png');*/
  background-repeat: repeat;
}

#divCalendario.regHorMed div.fc-content-skeleton table{
  height: 1500px;
}

#divCalendario.regHorMed div.fc-content-skeleton table tr td{
  border: solid 5px #FFFFFF!important;
}

#divCalendario.regHorMed .fc-slats td.fc-widget-content{
  background-color: transparent;
}

#divCalendario.regHorMed .fc-slats td.fc-time,
#divCalendario.regHorMed thead {
    background-color: transparent;
    color: black!important;
    border: none;
}

#divCalendario.regHorMed thead th,
#divCalendario.regHorMed thead td,
#divCalendario.regHorMed .fc-slats td.fc-time,
#divCalendario.regHorMed td.fc-widget-content
{
    border: none;
}

#divCalendario.regHorMed div.fc-slats td.fc-widget-content{
  height: 12px;
}

#divCalendario.regHorMed div.fc-slats td.fc-widget-content:not(.fc-time){
  /*border: solid 2px #6A808E!important;*/
}

#divCalendario.regHorMed .fc-body{
  background-color: transparent;
}

#divCalendario.regHorMed div.fc-event-container{
  margin-top: 0px;
  height: 0px;
  width: 100%;
  margin-left: 0px;
}

#divCalendario.regHorMed div.fc-event-container a.fc-time-grid-event.notBG
#divCalendario.regHorMed div.fc-event-container a.fc-time-grid-event.notBG,
#divCalendario.regHorMed div.fc-event-container .fc-event .fc-bg.notBG,
#divCalendario.regHorMed div.fc-event-container .fc-event .fc-bg.notBG{
  opacity: 1;
  border-radius: 0px;
}

#divCalendario.regHorMed div.fc-event-container a.fc-time-grid-event:not(.notBG),
#divCalendario.regHorMed div.fc-event-container a.fc-time-grid-event:not(.notBG),
#divCalendario.regHorMed div.fc-event-container .fc-event .fc-bg,
#divCalendario.regHorMed div.fc-event-container .fc-event .fc-bg,
#divCalendario.regHorMed div.fc-event-container .fc-event {
  background-color: #FFF;/*rgb(255,149,0);*/
  color: #6A6A6A;
  font-weight: bold;
  border: none;
  opacity: 0.8;
}

#divCalendario.regHorMed div.fc-event-container .fc-event.citaPast,
#divCalendario.regHorMed div.fc-event-container .fc-event.citaPast .fc-bg{
  background-color: #000;
  color: white!important;
}

#divCalendario.regHorMed div.fc-event-container .fc-event.citaPend,
#divCalendario.regHorMed div.fc-event-container .fc-event.citaPend .fc-bg{
  background-color: #FFF;
}

#divCalendario.regHorMed div.fc-event-container .fc-event.citaCanc,
#divCalendario.regHorMed div.fc-event-container .fc-event.citaCanc .fc-bg{
  background-color: #8A1E1E;
  color:white!important;
}

#divCalendario.regHorMed.regBack div.fc-event-container a.fc-time-grid-event,
#divCalendario.regHorMed.regBack div.fc-event-container .fc-event .fc-bg{
  background-size: 100% 24px;
}

#divCalendario .eventoReagendar .fc-bg {
    background-color: #DAA520!important;
}


th.fc-day-header.fc-widget-header{
  text-transform: uppercase;
  padding-bottom: 10px;
}

.inputTransparent{
  background-color: transparent;
  border: 0px;
  border-radius: 0;
  box-shadow: 0 0 0;
  color:white;
  text-transform: uppercase;
  font-weight: bold;
}

.inputTransparent:focus{
  background-color: transparent;
  border: 0px;
  border-radius: 0;
  box-shadow: 0 0 0;
}

.tab-pane:not(.active){
  visibility: hidden;
}

#regMedStepOne .header-section {
  width: 100%;
  height: 470px;
  padding: 0;
  border-bottom: solid 5px #375467;
  background-image: url('../img/plataforma/coverstepone.png');
  background-position: top center;
}

#regMedStepOne .reg-box {
  margin-top: 100px;
  margin-bottom: 100px;
}

#regMedStepOne .reg-box .reg {
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 30px;
  color: #717171;
  border-left: solid 3px #717171;
}

#regMedStepOne .reg-box .round-number {
  font-size: 100px;
  width: 150px;
  height: 150px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  color: #717171;
  border: solid 4px #717171;
  border-radius: 100px;
}

@media (max-width:767px) {
  #regMedStepOne .reg-box {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0;
  }
  #regMedStepOne .reg-box .reg {
    padding-left: 15px;
    border-width: 10px;
  }
  #regMedStepOne .reg-box .round-number {
    font-size: 50px;
    width: 70px;
    height: 70px;
    margin: 20px auto;
    padding: 7px 0;
  }
}

#regMedStepOne .regSectionTitle {
  margin: 0 auto;
  padding: 10px 0;
  color: #717171;
}

#regMedStepOne .code-container {
  display: block;
  height: 115px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #3d8fb1;
}

#regMedStepOne #tipodepagoTabs .active .btn{
  background-color: #2c8fbd;
  color: #ffffff;
}

.code-container img {
  width: auto;
  height: 75px;
  margin: 0 auto;
}

.lbl {
  font-size: 15px;
  font-weight: bold;
  margin-right: 10px;
  margin-left: 5px;
  padding-top: 3px;
  padding-right: 0!important;
  padding-bottom: 3px;
  padding-left: 10px!important;
  color: #fff;
  border-radius: 0;
  background-color: #375467;
}

.lbl .borrar {
  font-size: 11px;
  margin-left: 5px;
  padding: 0 7px;
  border-width: 0;
  border-color: transparent;
  border-left: solid 2px #fff;
  background-color: transparent;
}
.lbl .borrar:hover,
.lbl .borrar:focus,
.lbl .borrar:active,
.lbl .borrar.active {
  background-color: transparent;
  border-color: #fff;
  color: #d9534f;
}

.lbl.lbl-esp {

}

.lbl.lbl-subesp {

}

.tooltip-inner {
  font-size: 14px;
  font-weight: bold;
  min-width: 200px;
  text-align: left;
  color: #fff;
}

#divMapRegHor {

}

#divMapRegHor .header-section {
  height: 195px;
  border-bottom: solid 4px #375467;
  background: transparent;
}

@media (max-width: 767px) {
  #divMapRegHor .header-section {
    min-height: 150px;
    height: auto;
  }
}

.menuRegStep2 {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0;
  border: none;
  width: 100%;
}



.reg2Step {
  display: table-cell!important;
  float: none!important;
  width: 1%;
  margin: 0!important;
  vertical-align: middle;
}

.menuRegStep2 > li.active > a,
.menuRegStep2 > li.active > a:focus,
.menuRegStep2 > li.active > a:hover {
  color: #717171;
  border: none;
}

.menuRegStep2 > li.active > a .stepCircle,
.menuRegStep2 > li.active > a:focus .stepCircle,
.menuRegStep2 > li.active > a:hover .stepCircle {
  color: #fff;
  border-color: #375467;
  background-color: #375467;
}

.menuRegStep2 > li > a {
  color: #717171;
  border: none;
  background-color: transparent;
}

.menuRegStep2 > li > a:focus,
.menuRegStep2 > li > a:hover {
  color: #717171;
  border: none;
  background-color: transparent;
}

.menuRegStep2 > li > a:focus .stepCircle,
.menuRegStep2 > li > a:hover .stepCircle {
  color: #fff;
  border-color: #ff8a00;
  background-color: #ff8a00;
}

.contentRegStep2 {
  position: relative;
  min-height: 600px;
  margin-bottom: 40px;
  padding-bottom: 50px;
}

.stepCircle {
  display: inline-block;
  width: 80px;
  height: 80px;
  padding: 13px;
  font-size: 50px;
  text-align: center;
  border-width: 2px;
  border-style: solid;
  border-color: #808080;
  border-radius: 100px;
}

.stepContent {
  display: inline-block;
  height: 50px;
  margin-left: 15px;
  vertical-align: middle;
}

@media (max-width:767px) {
  .menuRegStep2 > li > a {
    padding: 0px;
    margin: 0 auto;
  }
  .reg2Step {
    text-align: center;
  }
  .stepCircle {
    font-size: 30px;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    display: block;
  }
  .stepContent {
    font-size: 15px;
    height: auto;
    margin: 10px auto;
    text-align: center;
    display: block;
  }
}


/*.regSectionTitle .glyphicon{
  background-color: white;
  color: #172C3B;
  padding: 8px;
  padding-left: 9px;
  font-weight: lighter;
  border-radius: 18px;
  font-size: 79%;
  margin-right: 15px;
}

.regSectionTitle .glyphicon.glyphicon-pencil{
  border-radius: 5px;
  background-color: transparent;
  border: solid 3px white;
  color: white;
  padding: 11px;
  font-size: 23px;
}

.regSectionTitle .glyphicon.glyphicon-pencil:before {
    content: "\270f";
    position: absolute;
    top: -8px;
    right: -8px;
}
*/

label.regInput{
  font-weight: normal;
  font-size: 15px;
}

span.borderCircle{
  border: solid 2px white;
  padding: 4px;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 8px;
  border-radius: 17px;
  font-size: 80%;
  margin-right: 20px;
}

.action {
  width: 250px;
  text-align: center;
}

.action .btnicon {
  position: relative;
  top: 3px;
  display: inline-block;
  width: 37px;
  height: 36px;
  margin-right: 15px;
  background-color: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 95%;
}

.btnicon.disponible{
  background-image: url('../img/plataforma/icons/disponible.png');
}
.btnicon.ocupado{
  background-image: url('../img/plataforma/icons/ocupado.png');
}
.btnicon.oficina{
  background-image: url('../img/plataforma/icons/hoficina.png');
}


.action .btnlbl {
  font-size: 19px;
  position: relative;
  top: -9px;
  display: inline-block;
  color: #5c5c5c;
}

.editIcon{
  background-color: #999;
  color: #DADADA;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  padding: 5px;
}

.editIcon:hover{
  background-color: #666;
}

hr.fc-divider.fc-widget-header{
  display: none!important;
}

#searchResult img.media-object {
    height: 100px;
    width: 100px;
}

input[type='number'].form-control::-webkit-outer-spin-button,
input[type='number'].form-control::-webkit-inner-spin-button {
  position: absolute;
  top: 2px;
  right: 17px;
  bottom: 0;
  width: 15px;
  height: 30px;
  opacity: .5;
  background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVQYlWNgwAT/sYhhKPiPT+F/LJgEsHv37v+EMGkmkuImoh2NoQAANlcun/q4OoYAAAAASUVORK5CYII=) no-repeat center center;
  -webkit-appearance: none;
}
input[type='number'].form-control::-webkit-inner-spin-button:hover,
input[type='number'].form-control::-webkit-inner-spin-button:active {
  opacity: .8;
  box-shadow: 0 0 2px #0cf;
}
input:-webkit-autofill {
  color: red;
  background: black;
}

iframe {
  display: none;
  visibility: hidden;
}
/*
.fc-event .fc-bg {
  opacity: 1!important;
}
*/
.fc-bgevent{
  background-color: transparent;
}

tr.fc-minor .fc-widget-content:not(.fc-time) {
  border-bottom: 3px solid white!important;
}

.fc-time-grid .fc-slats, .fc-time-grid>hr {
    z-index: 300!important;
}
.fc-time-grid .fc-content-skeleton {
    z-index: 301!important;
}


#divCalendario.not(.calCita) td.fc-day.fc-widget-content {
    background-color: #375467;
}

#divCalendario.calCita td.fc-day.fc-widget-content{
  background-color: rgb(234, 234, 234);
}

/*
.fc-toolbar .fc-left {
    font-size: 35px;
    margin-left: 15px;
    font-weight: bold;
}
*/

#comentariosMedico {
  height: auto;
  max-height: 500px;
  overflow: hidden;
  overflow-y: auto;
}

.onoffswitch {
  position: relative;
  width: 45px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  line-height: 20px;
  display: block;
  overflow: hidden;
  height: 20px;
  padding: 0;
  cursor: pointer;
  transition: background-color .3s ease-in;
  border: 2px solid #aaa;
  border-radius: 20px;
  background-color: #aaa;
}

.onoffswitch-label:before {
  position: absolute;
  top: 0;
  right: 23px;
  bottom: 0;
  display: block;
  width: 20px;
  margin: 0;
  content: '';
  transition: all .3s ease-in 0s;
  border: 2px solid #aaa;
  border-radius: 20px;
  background: #fff;
}

.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #2c8fbd;
}

.onoffswitch-checkbox:checked + .onoffswitch-label,
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: #2c8fbd;
}

.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0;
}

@media (min-width: 992px) {
  .onoffswitch {
    width: 65px;
  }
  .onoffswitch-label {
    height: 25px;
  }
  .onoffswitch-label:before{
    right: 40px;
    width: 25px;
  }
}


.popover-title {
  color: black;
}

.popover-content {
  color: black;
}

.popover {
  border-radius: 0;
}


/* calendario de la oficina */
.k-header,
.k-grid-header-wrap,
.k-grid .k-grouping-header,
.k-grid-header,
.k-pager-wrap,
.k-pager-wrap .k-textbox,
.k-pager-wrap .k-link,
.k-gantt-toolbar .k-state-default,
.k-grouping-row td,
.k-group-footer td,
.k-grid-footer td {
  border: 0;
  border-color: transparent;
  background: transparent;
}

.k-state-hover,
.k-state-hover:hover,
.k-splitbar-horizontal-hover:hover,
.k-splitbar-vertical-hover:hover,
.k-list > .k-state-hover,
.k-scheduler .k-scheduler-toolbar ul li.k-state-hover,
.k-pager-wrap .k-link:hover,
.k-dropdown .k-state-focused,
.k-filebrowser-dropzone,
.k-mobile-list .k-item > .k-link:active,
.k-mobile-list .k-item > .k-label:active,
.k-mobile-list .k-edit-label.k-check:active,
.k-mobile-list .k-recur-view .k-check:active {
  border-color: none;
  background-color: transparent;
}

.k-widget {
  border: 0;
  background-color: transparent;
  padding: 0;
  margin: 0 auto;
}

.k-widget.clear *{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 425px) and (max-width: 767px) {
  .k-widget {
    width: 400px;
  }
}

@media (min-width: 768px) {
  .k-widget {
    width: 300px;
  }
}

@media (min-width: 992px) {
  .k-widget {
    width: 400px;
  }
}

@media (min-width: 1024px) {
  .k-widget {
    width: 500px;
  }
}


.k-content,
.k-editable-area,
.k-panelbar > li.k-item,
.k-panel > li.k-item,
.k-tiles {
  background-color: transparent;
}

.k-calendar td {
  border-radius: 0;
  margin: 0;
  padding: 0;
  width: 1%;
  float: none;
}

.k-calendar td.k-state-selected {
  border-radius: 0;
  background-color: transparent;
}

.k-calendar .k-state-selected > .k-link {
  color: #fff;
  background-color: black;
}

.k-state-focused, .k-state-hover {
  background-color: transparent;
  border: none;
  border-radius: 0;
}

.k-calendar td.k-state-focused,.k-calendar td.k-state-hover {
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.k-calendar .k-header .k-state-hover {
  background-color: transparent;
}

.k-state-hover,
.k-state-hover:hover,
.k-splitbar-horizontal-hover:hover,
.k-splitbar-vertical-hover:hover,
.k-list > .k-state-hover,
.k-scheduler .k-scheduler-toolbar ul li.k-state-hover,
.k-pager-wrap .k-link:hover,
.k-dropdown .k-state-focused,
.k-filebrowser-dropzone,
.k-mobile-list .k-item > .k-link:active,
.k-mobile-list .k-item > .k-label:active,
.k-mobile-list .k-edit-label.k-check:active,
.k-mobile-list .k-recur-view .k-check:active {
  border: 0;
  background-color: transparent;
}

.k-calendar td a.k-link {
  font-size: 20px;
  line-height: 2em!important;
  width: auto;
  height: auto;
  min-height: 2em!important;
  margin: 3px;
  border-radius: 4px;
  background-color: #fff;
}
@media (min-width: 425px) and (max-width: 767px) {
  .k-calendar td a.k-link {
    height: 40px!important;
  }
}

@media (min-width: 768px) {
  .k-calendar td a.k-link {
    height: 40px!important;
  }
}

@media (min-width: 992px) {
  .k-calendar td a.k-link {
    height: 50px!important;
  }
}

@media (min-width: 1024px) {
  .k-calendar td a.k-link {
    height: 60px!important;
  }
}

.k-calendar .k-content th {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
}

.k-calendar .k-footer .k-nav-today {
  background-color: transparent;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
}

.k-calendar .k-footer .k-nav-today:hover, .k-calendar .k-footer .k-nav-today.k-state-hover {
  background-color: transparent;
  color: #ffffff;
}


.dayEvent {
  display: inline-block;
  color:red;
}
.today {
  display: inline-block;
  color:purple;
}
