/*Estilos para Mapas*/
#mapDiv{
    width: 97%;
    height: 360px;
    float:right;
}

#mapUbiDiv{
  height: 300px;
  width: 100%!important;
  float:right;
}

#autocomplete_searchField {
    width:300px;
}

hr.style-white {
    margin-bottom: 2px;
    border: 0;
    height: 2px;
    background: #FFF;
}
