<section id="plataforma">
  <div class="container-fluid profileHolder">
    <div class="profileHeader">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="media">
              <div class="media-left">
                <div class="profilePic">
                  <img src="img/logo-color.png" />
                </div>
              </div>
              <div class="media-body profileGeneralInfo">
                <div class="col-md-8">
                  <h4 class="media-heading nombreMedico">
                    Dr. Juan Carlos Medina Martínez.
                  </h4>
                  <h4>
                    <small>Guadalajara, Jalisco. MX</small>
                  </h4>
                  <ul class="list-unstyled list-inline espList">
                    <li>
                      Urgencias medicas
                    </li>
                  </ul>
                  <ul class="list-unstyled list-inline subEspList">
                    <li>
                      <small>Primeros Auxilios</small>
                    </li>
                    <li>
                      <small>Rescate urbano</small>
                    </li>
                    <li>
                      <small>RCP</small>
                    </li>
                  </ul>
                </div>
                <div class="resultOptions col-md-4">
                  <ul class="list-unstyled">
                    <li>
                      Costo de consulta:
                      <strong> $1,230</strong>
                    </li>
                    <li>
                      <a>Agrega a tus favoritos</a>
                    </li>
                    <li>
                      <a>Ver Teléfono</a>
                    </li>
                    <li>
                      <a>Envía mensaje</a>
                    </li>
                    <li>
                      <a>Visita su perfíl</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="profileBody">
      <div class="profileBodyNav">
        <div class="container">
          <ul class="nav nav-tabs nav-justified" role="tablist">
            <li class="active" role="presentation">
              <a href="#profileElements" role="tab" data-toggle="tab" aria-controls="profileElements">Perfil</a>
            </li>
            <li role="presentation">
               <a href="#profilePublicaciones" role="tab" data-toggle="tab" aria-controls="profilePublicaciones">Publicaciones</a>
            </li>
            <li role="presentation">
               <a href="#profileFotografias" role="tab" data-toggle="tab" aria-controls="profileFotografias">Fotografias</a>
            </li>
            <li role="presentation">
               <a class="btn btn-primary">Agregar a favoritos</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="tab-content profileBodyElements">
         <div role="tabpanel" class="tab-pane fade in container active" id="profileElements">
           <div class="row">
             <div class="col-md-7">
                <div class="panel panel-primary" id="profileCV">
                 <div class="panel-heading">
                    <h3 class="panel-title">Currículum</h3>
                 </div>
                 <div class="panel-body" style="height:554px;">

                 </div>
               </div>
               <div class="panel panel-primary" id="profileHospAseg">
                 <div class="panel-heading">
                    <h3 class="panel-title">Hospitales y Clínicas / Aseguradoras</h3>
                 </div>
                 <div class="panel-body" style="height:200px;">

                 </div>
               </div>
               <div class="panel panel-primary" id="profileComments">
                 <div class="panel-heading">
                    <h3 class="panel-title">Comentarios</h3>
                 </div>
                 <div class="panel-body" style="height:200px;">

                 </div>
               </div>
             </div>
             <div class="col-md-5">
                <div class="panel panel-primary">
                 <div class="panel-heading">
                    <h3 class="panel-title">Ubicaciones</h3>
                 </div>
                 <div class="panel-body" style="height:250px;">
                 </div>
               </div>
               <div class="panel panel-primary">
                 <div class="panel-heading">
                    <h3 class="panel-title">Galería fotográfica</h3>
                 </div>
                 <div class="panel-body" style="height:250px;">
                 </div>
               </div>
             </div>
           </div>
         </div>
         <!-- ... -->
         <div role="tabpanel" class="tab-pane fade container" id="profilePublicaciones">
           <div class="row">
             <div class="col-md-4">
               <div class="panel panel-info">
                 <div class="panel-heading">

                 </div>
                 <div class="panel-body" >

                 </div>
               </div>
             </div>
             <div class="col-md-4">
               <div class="panel panel-info">
                 <div class="panel-heading">

                 </div>
                 <div class="panel-body">

                 </div>
               </div>
             </div>
             <div class="col-md-4">
               <div class="panel panel-info">
                 <div class="panel-heading">

                 </div>
                 <div class="panel-body">

                 </div>
               </div>
             </div>
           </div>
         </div>
         <!-- ... -->
         <div role="tabpanel" class="tab-pane fade container" id="profileFotografias">
           <div class="row">
             <div class="col-md-2">
               <div class="panel panel-info">
                 <div class="panel-heading">
                 </div>
                 <div class="panel-body">
                 </div>
               </div>
             </div>
             <div class="col-md-2">
               <div class="panel panel-info">
                 <div class="panel-heading">
                 </div>
                 <div class="panel-body">
                 </div>
               </div>
             </div>
             <div class="col-md-2">
               <div class="panel panel-info">
                 <div class="panel-heading">
                 </div>
                 <div class="panel-body">
                 </div>
               </div>
             </div>
             <div class="col-md-2">
               <div class="panel panel-info">
                 <div class="panel-heading">
                 </div>
                 <div class="panel-body">
                 </div>
               </div>
             </div>
             <div class="col-md-2">
               <div class="panel panel-info">
                 <div class="panel-heading">
                 </div>
                 <div class="panel-body">
                 </div>
               </div>
             </div>
             <div class="col-md-2">
               <div class="panel panel-info">
                 <div class="panel-heading">
                 </div>
                 <div class="panel-body">
                 </div>
               </div>
             </div>
             <div class="col-md-2">
               <div class="panel panel-info">
                 <div class="panel-heading">
                 </div>
                 <div class="panel-body">
                 </div>
               </div>
             </div>
             <div class="col-md-2">
               <div class="panel panel-info">
                 <div class="panel-heading">
                 </div>
                 <div class="panel-body">
                 </div>
               </div>
             </div>
             <div class="col-md-2">
               <div class="panel panel-info">
                 <div class="panel-heading">
                 </div>
                 <div class="panel-body">
                 </div>
               </div>
             </div>
             <div class="col-md-2">
               <div class="panel panel-info">
                 <div class="panel-heading">
                 </div>
                 <div class="panel-body">
                 </div>
               </div>
             </div>
             <div class="col-md-2">
               <div class="panel panel-info">
                 <div class="panel-heading">
                 </div>
                 <div class="panel-body">
                 </div>
               </div>
             </div>
             <div class="col-md-2">
               <div class="panel panel-info">
                 <div class="panel-heading">
                 </div>
                 <div class="panel-body">
                 </div>
               </div>
             </div>
             <div class="col-md-2">
               <div class="panel panel-info">
                 <div class="panel-heading">
                 </div>
                 <div class="panel-body">
                 </div>
               </div>
             </div>


           </div>
         </div>
      </div>
    </div>
  </div>
</section>
