html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,
p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,
dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,
var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,
details,embed,figure,figcaption,footer,header,hgroup,menu,nav,
output,ruby,section,summary,time,mark,audio,video {
  font: inherit;
  font-size: 100%;
  line-height: 1;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility !important;
  -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  -webkit-text-stroke: .1pt;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display: block;
}

/* font styling */
.whiteF {
  color: #fff;
}

.blackF {
  color: #000;
}

.s5 {
  font-size: 5px;
}

.s10 {
  font-size: 10px;
}

.s15 {
  font-size: 15px;
}

.s20 {
  font-size: 20px;
}

.s25 {
  font-size: 25px;
}

.s30 {
  font-size: 30px;
}

.s35 {
  font-size: 35px;
}

.s40 {
  font-size: 40px;
}

.s45 {
  font-size: 45px;
}

.s50 {
  font-size: 50px;
}

.s55 {
  font-size: 55px;
}

.s60 {
  font-size: 60px;
}

.s65 {
  font-size: 65px;
}

.s70 {
  font-size: 70px;
}

.s75 {
  font-size: 75px;
}

.s80 {
  font-size: 80px;
}

.s85 {
  font-size: 85px;
}

.s90 {
  font-size: 90px;
}

.s95 {
  font-size: 95px;
}

.s100 {
  font-size: 100px;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.lowercase {
  text-transform: lowercase;
}
.shadow {
  text-shadow: 0 0 10px rgba(10,10,10,.5);
}
.noTransform {
  text-transform: none;
  text-decoration: none;
}

/* Helvetica 75 Bold */
@font-face {
  font-family: 'Helvetica Neue Bold';
  src: url('/HelveticaNeue/hinted-HelveticaNeue-Bold.eot');
  src: local('Helvetica 75 Bold'), local('HelveticaNeue-Bold'), url('/HelveticaNeue/hinted-HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'), url('/HelveticaNeue/hinted-HelveticaNeue-Bold.woff2') format('woff2'), url('/HelveticaNeue/hinted-HelveticaNeue-Bold.woff') format('woff'), url('/HelveticaNeue/hinted-HelveticaNeue-Bold.ttf') format('truetype'), url('/HelveticaNeue/hinted-HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

.h75-bold {
  font-family: 'Helvetica Neue Bold';
  font-weight: bold;
  font-style: normal;
}

/* Helvetica 57 Condensed */
@font-face {
  font-family: 'Helvetica Neue Condensed';
  src: url('/HelveticaNeue/hinted-HelveticaNeue-Condensed.eot');
  src: local('Helvetica 57 Condensed'), local('HelveticaNeue-Condensed'), url('/HelveticaNeue/hinted-HelveticaNeue-Condensed.eot?#iefix') format('embedded-opentype'), url('/HelveticaNeue/hinted-HelveticaNeue-Condensed.woff2') format('woff2'), url('/HelveticaNeue/hinted-HelveticaNeue-Condensed.woff') format('woff'), url('/HelveticaNeue/hinted-HelveticaNeue-Condensed.ttf') format('truetype'), url('/HelveticaNeue/hinted-HelveticaNeue-Condensed.svg#HelveticaNeue-Condensed') format('svg');
  font-weight: normal;
  font-style: normal;
}

.h57-cond {
  font-family: 'Helvetica Neue Condensed';
  font-weight: normal;
  font-style: normal;
}

/* Helvetica 85 Heavy */
@font-face {
  font-family: 'Helvetica Neue Heavy';
  src: url('/HelveticaNeue/hinted-HelveticaNeue-Heavy.eot');
  src: local('Helvetica 85 Heavy'), local('HelveticaNeue-Heavy'), url('/HelveticaNeue/hinted-HelveticaNeue-Heavy.eot?#iefix') format('embedded-opentype'), url('/HelveticaNeue/hinted-HelveticaNeue-Heavy.woff2') format('woff2'), url('/HelveticaNeue/hinted-HelveticaNeue-Heavy.woff') format('woff'), url('/HelveticaNeue/hinted-HelveticaNeue-Heavy.ttf') format('truetype'), url('/HelveticaNeue/hinted-HelveticaNeue-Heavy.svg#HelveticaNeue-Heavy') format('svg');
  font-weight: 900;
  font-style: normal;
}

.h85-heavy {
  font-family: 'Helvetica Neue Heavy';
  font-weight: 900;
  font-style: normal;
}

/* Helvetica 77 Condensed */
@font-face {
  font-family: 'Helvetica Neue Bold Condensed';
  src: url('/HelveticaNeue/hinted-HelveticaNeue-BoldCond.eot');
  src: local('Helvetica 77 Bold Condensed'), local('HelveticaNeue-BoldCond'), url('/HelveticaNeue/hinted-HelveticaNeue-BoldCond.eot?#iefix') format('embedded-opentype'), url('/HelveticaNeue/hinted-HelveticaNeue-BoldCond.woff2') format('woff2'), url('/HelveticaNeue/hinted-HelveticaNeue-BoldCond.woff') format('woff'), url('/HelveticaNeue/hinted-HelveticaNeue-BoldCond.ttf') format('truetype'), url('/HelveticaNeue/hinted-HelveticaNeue-BoldCond.svg#HelveticaNeue-BoldCond') format('svg');
  font-weight: bold;
  font-style: normal;
}

.h77-boldcond {
  font-family: 'Helvetica Neue Bold Condensed';
  font-weight: bold;
  font-style: normal;
}

/* Helvetica 65 Medium */
@font-face {
  font-family: 'Helvetica Neue Medium';
  src: url('/HelveticaNeue/hinted-HelveticaNeue-Medium.eot');
  src: local('Helvetica 65 Medium'), local('HelveticaNeue-Medium'), url('/HelveticaNeue/hinted-HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'), url('/HelveticaNeue/hinted-HelveticaNeue-Medium.woff2') format('woff2'), url('/HelveticaNeue/hinted-HelveticaNeue-Medium.woff') format('woff'), url('/HelveticaNeue/hinted-HelveticaNeue-Medium.ttf') format('truetype'), url('/HelveticaNeue/hinted-HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

.h65-medium {
  font-family: 'Helvetica Neue Medium';
  font-weight: 500;
  font-style: normal;
}

/* Helvetica 45 Light */
@font-face {
  font-family: 'Helvetica Neue Light';
  src: url('/HelveticaNeue/hinted-HelveticaNeue-Light.eot');
  src: local('Helvetica 45 Light'), local('HelveticaNeue-Light'), url('/HelveticaNeue/hinted-HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'), url('/HelveticaNeue/hinted-HelveticaNeue-Light.woff2') format('woff2'), url('/HelveticaNeue/hinted-HelveticaNeue-Light.woff') format('woff'), url('/HelveticaNeue/hinted-HelveticaNeue-Light.ttf') format('truetype'), url('/HelveticaNeue/hinted-HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

.h45-light {
  font-family: 'Helvetica Neue Light';
  font-weight: 300;
  font-style: normal;
}

/* Helvetica 67 Medium Condensed */
@font-face {
  font-family: 'Helvetica Neue Medium Condensed';
  src: url('/HelveticaNeue/hinted-HelveticaNeue-MediumCond.eot');
  src: local('Helvetica 67 Medium Condensed'), local('HelveticaNeue-MediumCond'), url('/HelveticaNeue/hinted-HelveticaNeue-MediumCond.eot?#iefix') format('embedded-opentype'), url('/HelveticaNeue/hinted-HelveticaNeue-MediumCond.woff2') format('woff2'), url('/HelveticaNeue/hinted-HelveticaNeue-MediumCond.woff') format('woff'), url('/HelveticaNeue/hinted-HelveticaNeue-MediumCond.ttf') format('truetype'), url('/HelveticaNeue/hinted-HelveticaNeue-MediumCond.svg#HelveticaNeue-MediumCond') format('svg');
  font-weight: 500;
  font-style: normal;
}

.h67-medcond {
  font-family: 'Helvetica Neue Medium Condensed';
  font-weight: 500;
  font-style: normal;
}

/* Helvetica 67 Medium Condensed Oblique */
@font-face {
  font-family: 'Helvetica Neue Medium Condensed Oblique';
  src: url('/HelveticaNeue/hinted-HelveticaNeue-MediumCondObl.eot');
  src: local('Helvetica 67 Medium Condensed Oblique'), local('HelveticaNeue-MediumCondObl'), url('/HelveticaNeue/hinted-HelveticaNeue-MediumCondObl.eot?#iefix') format('embedded-opentype'), url('/HelveticaNeue/hinted-HelveticaNeue-MediumCondObl.woff2') format('woff2'), url('/HelveticaNeue/hinted-HelveticaNeue-MediumCondObl.woff') format('woff'), url('/HelveticaNeue/hinted-HelveticaNeue-MediumCondObl.ttf') format('truetype'), url('/HelveticaNeue/hinted-HelveticaNeue-MediumCondObl.svg#HelveticaNeue-MediumCondObl') format('svg');
  font-weight: 500;
  font-style: italic;
}

.h67-medcondobl {
  font-family: 'Helvetica Neue Medium Condensed Oblique';
  font-weight: 500;
  font-style: italic;
}


/* Flama */
@font-face {
  font-family: 'Flama';
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  src: url('/Flama/FlamaBlack.eot');
  src: url('/Flama/FlamaBlack.eot?#iefix') format('embedded-opentype'), url('/Flama/FlamaBlack.woff') format('woff'), url('/Flama/FlamaBlack.ttf') format('truetype'), url('/Flama/FlamaBlack.svg#FlamaBlack') format('svg');
}

@font-face {
  font-family: 'Flama';
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  src: url('/Flama/FlamaLight.eot');
  src: url('/Flama/FlamaLight.eot?#iefix') format('embedded-opentype'), url('/Flama/FlamaLight.woff') format('woff'), url('/Flama/FlamaLight.ttf') format('truetype'), url('/Flama/FlamaLight.svg#FlamaLight') format('svg');
}

@font-face {
  font-family: 'Flama';
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  src: url('/Flama/Flama.eot');
  src: url('/Flama/Flama.eot?#iefix') format('embedded-opentype'), url('/Flama/Flama.woff') format('woff'), url('/Flama/Flama.ttf') format('truetype'), url('/Flama/Flama.svg#Flama') format('svg');
}

@font-face {
  font-family: 'Flama';
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  src: url('/Flama/Flama-Italic.eot');
  src: url('/Flama/Flama-Italic.eot?#iefix') format('embedded-opentype'), url('/Flama/Flama-Italic.woff') format('woff'), url('/Flama/Flama-Italic.ttf') format('truetype'), url('/Flama/Flama-Italic.svg#Flama-Italic') format('svg');
}

@font-face {
  font-family: 'Flama';
  font-weight: 200;
  font-style: italic;
  font-stretch: normal;
  src: url('/Flama/FlamaLight-Italic.eot');
  src: url('/Flama/FlamaLight-Italic.eot?#iefix') format('embedded-opentype'), url('/Flama/FlamaLight-Italic.woff') format('woff'), url('/Flama/FlamaLight-Italic.ttf') format('truetype'), url('/Flama/FlamaLight-Italic.svg#FlamaLight-Italic') format('svg');
}

@font-face {
  font-family: 'FlamaBook';
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  src: url('/Flama/FlamaBook.eot');
  src: url('/Flama/FlamaBook.eot?#iefix') format('embedded-opentype'), url('/Flama/FlamaBook.woff') format('woff'), url('/Flama/FlamaBook.ttf') format('truetype'), url('/Flama/FlamaBook.svg#FlamaBook') format('svg');
}

@font-face {
  font-family: 'Flama';
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  src: url('/Flama/FlamaMedium.eot');
  src: url('/Flama/FlamaMedium.eot?#iefix') format('embedded-opentype'), url('/Flama/FlamaMedium.woff') format('woff'), url('/Flama/FlamaMedium.ttf') format('truetype'), url('/Flama/FlamaMedium.svg#FlamaMedium') format('svg');
}

@font-face {
  font-family: 'Flama';
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  src: url('/Flama/Flama-Bold.eot');
  src: url('/Flama/Flama-Bold.eot?#iefix') format('embedded-opentype'), url('/Flama/Flama-Bold.woff') format('woff'), url('/Flama/Flama-Bold.ttf') format('truetype'), url('/Flama/Flama-Bold.svg#Flama-Bold') format('svg');
}

@font-face {
  font-family: 'Flama';
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
  src: url('/Flama/FlamaMedium-Italic.eot');
  src: url('/Flama/FlamaMedium-Italic.eot?#iefix') format('embedded-opentype'), url('/Flama/FlamaMedium-Italic.woff') format('woff'), url('/Flama/FlamaMedium-Italic.ttf') format('truetype'), url('/Flama/FlamaMedium-Italic.svg#FlamaMedium-Italic') format('svg');
}

@font-face {
  font-family: 'FlamaBook';
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  src: url('/Flama/FlamaBook-Italic.eot');
  src: url('/Flama/FlamaBook-Italic.eot?#iefix') format('embedded-opentype'), url('/Flama/FlamaBook-Italic.woff') format('woff'), url('/Flama/FlamaBook-Italic.ttf') format('truetype'), url('/Flama/FlamaBook-Italic.svg#FlamaBook-Italic') format('svg');
}

@font-face {
  font-family: 'Flama';
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
  src: url('/Flama/FlamaBlack-Italic.eot');
  src: url('/Flama/FlamaBlack-Italic.eot?#iefix') format('embedded-opentype'), url('/Flama/FlamaBlack-Italic.woff') format('woff'), url('/Flama/FlamaBlack-Italic.ttf') format('truetype'), url('/Flama/FlamaBlack-Italic.svg#FlamaBlack-Italic') format('svg');
}

@font-face {
  font-family: 'Flama';
  font-weight: bold;
  font-style: italic;
  font-stretch: normal;
  src: url('/Flama/Flama-BoldItalic.eot');
  src: url('/Flama/Flama-BoldItalic.eot?#iefix') format('embedded-opentype'), url('/Flama/Flama-BoldItalic.woff') format('woff'), url('/Flama/Flama-BoldItalic.ttf') format('truetype'), url('/Flama/Flama-BoldItalic.svg#Flama-BoldItalic') format('svg');
}


/* flama classes */

.Flama-w900 {
  font-family: 'Flama';
  font-weight: 900;
  font-style: normal;
}

.Flama-w200 {
  font-family: 'Flama';
  font-weight: 200;
  font-style: normal;
}

.Flama-normal {
  font-family: 'Flama';
  font-weight: normal;
  font-style: normal;
}

.Flama-italic {
  font-family: 'Flama';
  font-weight: normal;
  font-style: italic;
}

.Flama-w200-italic {
  font-family: 'Flama';
  font-weight: 200;
  font-style: italic;
}

.flamaBook-normal {
  font-family: 'FlamaBook';
  font-weight: normal;
  font-style: normal;
}

.Flama-w500 {
  font-family: 'Flama';
  font-weight: 500;
  font-style: normal;
}

.Flama-bold {
  font-family: 'Flama';
  font-weight: bold;
  font-style: normal;
}

.Flama-w500-italic {
  font-family: 'Flama';
  font-weight: 500;
  font-style: italic;
}

.FlamaBook-italic {
  font-family: 'FlamaBook';
  font-weight: normal;
  font-style: italic;
}

.Flama-w900-italic {
  font-family: 'Flama';
  font-weight: 900;
  font-style: italic;
}

.Flama-bold-italic {
  font-family: 'Flama';
  font-weight: bold;
  font-style: italic;
}


/* --- */
.page {
  background: #fff;
  width: 100%;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
  overflow: hidden;
  float: left;
  display: inline-block;
}
.bg {background-color: #eee;}
.font-container {
  overflow-x: auto;
  overflow-y: hidden;
  margin-bottom: 40px;
  line-height: 1.3;
  white-space: nowrap;
  padding-bottom: 5px;
}
h1 {
  position: relative;
  background: #444;
  font-size: 32px;
  color: #fff;
  padding: 10px 20px;
  margin: 0 -20px 10px -20px;
}
.letters {
  font-size: 25px;
  margin-bottom: 20px;
}
