<div class="row">
  <div class="col-md-offset-2 col-md-8" style="margin-top:50px">
    <h1>Este es un perfil privado</h1>
    <p>Inicia sesión o registrate para poder verlo</p>
    <p><a class="btn btn-success btn-lg" role="button" id="logMod">Iniciar sesión</a>
      <a class="btn btn-primary btn-lg" role="button" onclick="registro()">Registrarse</a></p>
  </div>

</div>
