<!-- Esta es la plantilla que se envia al correo -->
<h1>
  Hola
  <p>{{name}}</p>
  Activa tu cuenta y tu correo, {{correo}}, en el siguiente enlace dando un click
  <a href="http://{{enlace}}">{{enlace}}</a>
</h1>
<button>Activar</button>
