<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="hidden" id="vacioCampo">
        <h4>
          <span class="label label-warning">
            <span class="glyphicon glyphicon-ban-circle">&nbsp;
              Ninguno de los dos campos puede estar vacio
            </span>
          </span>
        </h4>
      </div>
      <div class="hidden" id="bingo">
        <h4>
          <span class="label label-success">
            <span class="glyphicon glyphicon-ok-sign">&nbsp;
              Actualizacion exitosa
            </span>
          </span>
        </h4>
      </div>
      <div class="hidden" id="menorDeSeis">
        <h4>
          <span class="label label-warning">
            <span class="glyphicon glyphicon-remove">&nbsp;
              La contraseña debe de tener mas de 6 caracteres
            </span>
          </span>
        </h4>
      </div>
      <div class="hidden" id="mismaCantidad">
        <h4>
          <span class="label label-info">
            <span class="glyphicon glyphicon-remove-sign">&nbsp;
              Los dos campos deben de contener la misma cantidad de caracteres
            </span>
          </span>
        </h4>
      </div>
      <div class="hidden" id="igualInfo">
        <h4>
          <span class="label label-danger">
            <span class="glyphicon glyphicon-remove-circle">&nbsp;
              Deben de tener la misma informacion los dos campos
            </span>
          </span>
        </h4>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-horizontal">
        <div class="form-group">
          <label for="changePass" class="col-sm-4 control-label"><span class="label label-info">Cambiar password</span></label>
          <div class="col-sm-8">
            <input type="password" class="form-control" id="changePass" placeholder="Password"/>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-horizontal">
        <div class="form-group">
          <label for="confirmPassChange" class="col-sm-4 control-label"><span class="label label-info">Confirmar password</span></label>
          <div class="col-sm-8">
            <input type="password" class="form-control" id="confirmPassChange" placeholder="Confirmar password" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <button class="pull-right btn btn-success" onclick="confirmChangePass('#changePass','#confirmPassChange');">
        <span class="glyphicon glyphicon-lock"></span>&nbsp;Cambiar
      </button>
    </div>
  </div>
</div>
