<script type="text/javascript" src="https://conektaapi.s3.amazonaws.com/v0.3.2/js/conekta.js"></script>
<script src="js/conekta.js"></script>
<script>Conekta.setPublishableKey("key_M9Ph2jxjJQSRszryszDsgTA");</script>
<section id="pagos">
    <div class="container">
        <div class="row">
            <div class="panel">
                <div class="panel-body">
                    <h4>{{title}}</h4>

                    <form action="" method="POST" id="card-form" name="card-form">
                        <span class="card-errors"></span>
                        <input type="hidden" id="usuario_id" name="usuario_id" value="{{usuario_id}}" />
                        <div class="form-row">
                            <label>
                                <span>Nombre del tarjetahabiente</span>
                                <input type="text" size="20" data-conekta="card[name]" value="prueba" />
                            </label>
                        </div>
                        <div class="form-row">
                            <label>
                                <span>Número de tarjeta de crédito</span>
                                <input type="text" size="20" data-conekta="card[number]" />
                            </label>
                        </div>
                        <div class="form-row">
                            <label>
                                <span>CVC</span>
                                <input type="text" size="4" data-conekta="card[cvc]" minlength="3" maxlength="3" required />
                            </label>
                        </div>
                        <div class="form-row">
                            <label>
                                <span>Fecha de expiración (MM/AAAA)</span>
                                <input type="text" size="2" data-conekta="card[exp_month]" />
                            </label>
                            <span>/</span>
                            <input type="text" size="4" data-conekta="card[exp_year]" />
                        </div>
                        <div class="form-row">
                            <label>
                                <span>Seleccionar plan de cargo</span>
                                <select class="form-control" name="planid" id="planid" required>
                                    <option value="">Planes</option>
                                    {{#each planes}}
                                    <option value="{{id}}">{{nombre}}</option>
                                    {{/each}}
                                </select>
                            </label>
                        </div>

                        <button type="submit" id="enviar" name="enviar">Registrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


