<link href="css/mapa.css" rel="stylesheet" />
<link href="css/fullcalendar.min.css" rel="stylesheet" />

<script src="js/moment.min.js"></script>
<script src="js/fullcalendar.js"></script>
<script src="js/lang/es.js"></script>

<section id="principal">
  <div class="container">

    <form method="POST" name="frmRegCita" id="frmRegCita">
      <input type="hidden" id="id" name="id">
      <input type="hidden" id="paciente_id" name="paciente_id" value="1">
      <input type="hidden" id="medico_id" name="medico_id" value="12">
      <input type="hidden" id="fecha" name="fecha" />
      <input type="hidden" id="fechaFin" name="fechaFin" />

      <div class="row">
        <div class="col-md-12">
            <div class="form-group">
              <select class="form-control" name="lstServicio" id="lstServicio" required="true">
                  <option value="0">Servicio</option>
                  {{#each servicios}}
                      <option value="{{id}}">{{concepto}}</option>
                  {{/each}}
              </select>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
              <select class="form-control" name="lstUbicacion" id="lstUbicacion" required="true">
                  <option value="0">Ubicaciones</option>
                  {{#each ubicaciones}}
                      <option value="{{id}}">{{nombre}}</option>
                  {{/each}}
              </select>
            </div>
        </div>

        <div class="col-md-12">
          <div id='precioServicio'></div>
          <div id='duracionServicio'></div>
        </div>

        <div class="col-md-12">
          <div id='calendar'></div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input type="button" class="btn btn-info btn-md btn-block" id="btnRegMed" value="Guardar" onclick="registrarCita()">
                </div>
            </div>
        </div>
    </div>
    </form>
  </div>
</section>


<script>

  var valido = true;
  var duracionServicio = '02:00';
  var precioServicio = 0;
  var horariosDireccion = 0;
  var horariosMedico = 0;

$(document).ready(function () {

    generarCalendario();

    $('#lstServicio').change(function(){
      $.ajax({
          url: '/servicio/' +  $('#lstServicio').val(),
          dataType: "json",
          cache: false,
          success: function(data) {
              duracionServicio  =  data.duracion;
              $('#precioServicio').html("<b>Costo del servicio : </b>" + data.precio);
              $('#duracionServicio').html("<b>Duración : </b>" + data.duracion);
              $('#calendar').fullCalendar('removeEvents', null);
              generarCalendario();
          },
          error: function(jqXHR, textStatus, err) {
              console.error('AJAX ERROR: ' + err);
          }
      });
    });

    $('#lstUbicacion').change(function(){
      $('#calendar').fullCalendar('destroy');
      generarCalendario();
      $('#calendar').fullCalendar('refetchEvents');
    });
});


function generarCalendario()
{
  $('#calendar').fullCalendar({
      firstDay:1,
      defaultView: 'agendaWeek',
      height: 350,
      allDaySlot: false,
      defaultDate: moment().format("YYYY-MM-DD"),
      slotLabelFormat: 'h:mm a',
      businessHours: true,
      slotLabelInterval : duracionServicio.substring(0, 5),
      slotDuration: '00:30',
      header: {
          center: false,
          right: false,
          left: false
      },
      events: {
        url: '/seleccionaHorarios/' +  $('#lstUbicacion').val() +  "/" + $('#paciente_id').val()
      },
      /*
      minTime: '6:00',
      maxTime: '24:00',*/
      defaultDate: new Date(),
      lang: 'es',
      selectable: true,
      selectHelper: false,
      displayEventTime: true,
      editable: true,
      eventLimit: true,
      overlap: false,
      slotEventOverlap: false,
      timezone:  "UTC",
      dayClick: function (date, allDay, jsEvent, view) {
        //quitaEventos();
        var horas = duracionServicio.split(":");
        var fecha = new moment(date);
        var fechaInicial = new Date(date)
        var final = fecha.add(horas[0], 'h');
        var final = final.add(horas[1], 'm');

        fecha = new Date(date)
        fecha.setHours(fecha.getHours()  +  6);

        if ( validaEvento(fecha, final)) {
          var validacionAgenda =  validaAgenda(fecha, final);

          if ( validacionAgenda == 1 ) {
              eventData = {
                  title:   $('#lstServicio option:selected').text(),
                  start: date ,
                  end: final, //date.format('DMYYYY') +  " " +  duracion,
                  color : '#578',
                  overlap: false,
                  durationEditable: false,
                  editable: false
              };
              $('#calendar').fullCalendar('renderEvent', eventData, true);
              $('#calendar').fullCalendar('unselect');
          } else  if ( validacionAgenda == 2 ) {
            alert('No puede generar una cita con fecha anterior a la actual !');
          } else  if ( validacionAgenda == 3 ) {
            alert('Existe una cita con ese horario !');
          } else  if ( validacionAgenda == 4 ) {
              alert('No puede generar dos citas el mismo dia !');
          }
        }
        else {
          alert('La cita excede el tiempo disponible del médico !');
        }
      },
      eventClick: function (event, jsEvent, view) {
        if (event.id != null && event.id.substring(0,4) != 'cita' && event.title != 'Cancelada')
        {
            var r = confirm("Esta seguro de cancelar la cita ?");
            if  ( r == true)
            {
                if  (cancelaCita(event._id))
                {
                  console.log('cancelando ' + event._id)

                }
            }
        }
      },
      eventMouseover: function (event, jsEvent, view) {
        if (event.id != null && event.id.substring(0,4) != 'cita' && event.title != 'Cancelada') {
          $(this).append('<span id=\"' + event._id + '\">Clic para eliminar</span>');
        }
      },
      eventMouseout: function (event, jsEvent, view) {
          $('#' + event._id).remove();
      },
      eventResize: function (event, delta, revertFunc, jsEvent, ui, view) {
        revertFunc();
      }
  });
}

function quitaEventos() {
  var h = $('#calendar').fullCalendar('clientEvents');
  var evento;
  for (i = 0; i <= h.length-1; i++) {
      evento = h[i];
      if (evento.rendering != 'background')
      {
         if (evento.id == null || evento.id.substring(0,4) != 'cita')
         {
           $('#calendar').fullCalendar('removeEvents', evento._id);
         }
      }
  };
}

function validaAgenda(inicioEvento, finEvento) {
  var h = $('#calendar').fullCalendar('clientEvents');
  var evento;
  var valido = 1;
  var fecha  =  new Date();

  if  ( inicioEvento < fecha )
  {
    valido  = 2;
  }
  else
  {
      for (i = 0; i <= h.length-1; i++) {
          evento = h[i];
          // Citas de otros pacientes
          if ((evento.rendering != 'background') && (evento.id.substring(0,4) == 'cita'))
          {
              if ( !((inicioEvento < evento.start ) &&  ( finEvento <= evento.start )) || (inicioEvento >= evento.end ) )
              {
                valido = 3;
                break;
              }
          }

          // Citas del mismo paciente
          if ((evento.rendering != 'background') && (evento.id.substring(0,4) != 'cita')  &&  (evento.title != 'Cancelada'))
          {
            var fechaEv =  new Date(evento.start);
            if  (  fechaEv.getDay() == inicioEvento.getDay())
            {
                valido = 4;
                break;
            }
          }
      };
  }
  return valido;
}

function validaEvento(inicioEvento, finEvento) {
  var h = $('#calendar').fullCalendar('clientEvents');
  var evento;
  var valido = false;

  //console.log(h.length);
  for (i = 0; i <= h.length-1; i++) {
      evento = h[i];

      if (evento.rendering == 'background')
      {
            if (( inicioEvento >= evento.start ) &&  ( finEvento <= evento.end ))
            {
              valido = true;
              break;
            }
      }
  };

  return valido;
}

function obtenerHorarios() {
    var objhorarios = [];
    var h = $('#calendar').fullCalendar('clientEvents');
    var evento;
    var i;
    var inicio = new moment();
    var fin = new moment();
    var fecha;

    objhorarios = [];
    for (i = 0; i <= h.length-1; i++) {
        evento = h[i];

        if (evento.rendering != 'background')
        {
          if  (evento.id == undefined )
          {
              inicio.hours(evento.start._d.getUTCHours());
              inicio.minute(evento.start._d.getUTCMinutes());
              //inicio.days(evento.start._d.getUTCMinutes());

              fin.hours(evento.end._d.getUTCHours());
              fin.minute(evento.end._d.getUTCMinutes());

              fin = fin.subtract(6, 'hours');
              inicio = inicio.subtract(6, 'hours');

              var horario = {
                  inicio: evento.start.format('YYYY-M-D') + " "  + inicio.format('HH:mm'),
                  fin: evento.end.format('YYYY-M-D') + " "  + fin.format('HH:mm'),
              };
              objhorarios.push(horario);

              console.log('horarios' +   evento.start)
          }
        }
    };
    return objhorarios;
};

function cancelaCita(id) {
  $.ajax( {
    url: '/cancelaCita',
    type: 'POST',
    dataType: "json",
    cache: false,
    data: {
      id: id,
      paciente_id: $('#paciente_id').val(),
      usuario_id: $('#medico_id').val(),
    },
    success: function ( data ) {
      if  ( data.err != null){
        alert(data.error.message);
        return false;
      } else {
        $('#calendar').fullCalendar('removeEvents');
        $('#calendar').fullCalendar('refetchEvents');
        return true;
      }
    },
    error: function ( jqXHR, textStatus, err ) {
      console.error( 'AJAX ERROR: ' + err );
      return false;
    }
  });
}

</script>
