<div class="" id="LoginModal" >
    <div class="modal-dialog">
        <form method="POST" action="/auth/correo">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Intermed&reg | Login{{dato}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <input name="loginFB" value="Login con Facebook" class="btn btn-primary btn-block" onclick="window.location='/auth/facebook'">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="form-group">
                                <input type="text" class="form-control" id="email" name="email" placeholder="Usuario" required="true">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña" required="true">
                            </div>
                            <input type="submit" name="login" value="Ingresar" class="btn btn-primary btn-block">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <p class="text-center">
                        <small>Recuerda que instituciones, proveedores y secretarias solo pueden ingresar con su correo y contraseña.</small>
                        <br>
                        <small>¿Olvidaste tus datos de acceso? <a href="#">Haz click aqui para recuperarlos</a></small>
                    </p>
                </div>
        </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
