<link href="css/mapa.css" rel="stylesheet" />

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=drawing,places&components=country:‌​MX&sensor=true&key=AIzaSyCBOC0Cq0T10nAmZNLkVMVBzU6MLd3DfKs"></script>

<script src="js/mapa.js"></script>
<section id="directorio">
    <div class="container">
        <div class="row">
            <div class="panel">
                <div class="panel-body">
                    <h4>Registrar nuevo:</h4>
                    <form method="POST" name="frmRegMed" id="frmRegMed">
                        <input type="hidden" id="id" name="id" value="">
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" value="{{latitude}}" id="latitude" />
                                <input type="text" value="{{longitude}}" id="longitude" />
                                <div id="searchDiv">
                                    <input id="autocomplete_searchField" type="text" placeholder="Buscar Dirección">
                                </div>
                                <div id="direccion"></div>
                                <div id="mapDiv"></div>
                                <div class="row">
                                    <div class="col-md-6"></div>
                                    <div class="col-md-6"><input type="button" onclick="mapa.GeolicalizacionUsuario();" value="Reiniciar Posicion" class="btn btn-info btn-md btn-block" /></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="nombreMed" name="nombreMed" placeholder="Nombre">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="apellidoMed" name="apellidoMed" placeholder="Apellido">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="correoMed" name="correoMed" placeholder="Correo">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="telefonoMed" name="telefonoMed" placeholder="Teléfono">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="especialidadMed" name="especialidadMed" placeholder="Especialidad">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select class="form-control" name="estadoMed" id="slc_estados" onchange="obtenerCiudades()" required="true">
                                                    <option value="">Estado</option>
                                                    {{#each estados}}
                                                    <option value="{{id}}">{{estado}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select class="form-control" name="ciudadMed" id="slc_ciudades" onchange="obtenerColonias()" required="true">
                                                    <option value="">Ciudad</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <select class="form-control" name="coloniaMed" id="slc_colonias" onchange="obtenerCP()" required="true">
                                                <option value="">Colonia</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input type="number" class="form-control" minlength="4" maxlength="5" id="nmb_cp" name="cpMed" placeholder="Codigo Postal" readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="calleMed" name="calleMed" placeholder="Calle">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="numeroMed" name="numeroMed" placeholder="Numero">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="calle1Med" name="calle1Med" placeholder="Entre calle A">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="calle2Med" name="calle2Med" placeholder="Y calle B">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="button" class="btn btn-info btn-md btn-block" id="btnRegMed" value="Guardar" onclick="regDoctor()">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>