<section id="principal">
  <div class="container">
    <!--    <div class="modal fade" -->
    <div id="RegMedModal">
      <div class="modal-dialog modal-lg Flama-normal">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4>Intermed&reg | Registro</h4>
          </div>
          <div class="slide">
            <div class="modal-body">
              <hr class="separator">
              <div class="row">
                <div class="col-md-6 regFacebook">
                  <h3>Intermed &reg es mejor
                    <br>con Facebook</h3>
                  <br>
                  <input name="registroFB" value="Registrate con Facebook" class="btn btn-primary btn-block s20" onclick="window.location='/auth/facebook'">
                  <br>
                  <h2 class="Flama-bold">¡En un solo click!</h2>
                  <p class="s20 flamaBook-normal">
                    Utiliza tu cuenta de Facebook para registrarte en Intermed y conectate con tus amigos y conocidos.
                  </p>
                  <p class="s15 flamaBook-normal">
                    Intermed no comparte tus datos con terceras personas ni compañias externas.
                  </p>
                </div>
                <div class="col-md-6 regCorreo">
                  <h3>Regístrate con tu correo electronico</h3>
                  <div class="row">
                    <form method="POST" action="/reg/local" id="frm_regP">
                      <div class="col-md-12">
                        <div id="alertError"></div>
                      </div>
                      <!--<div class="col-md-6">
                        <div class="form-group">
                          <input type="text" class="form-control" id="nombreReg" name="first_name" placeholder="Nombre">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="text" class="form-control" id="ApellidoReg" name="last_name" placeholder="Apellido">
                        </div>
                     </div>-->
                      <div class="col-md-12">
                        <div class="form-group">
                          <input type="email" class="form-control" id="correoReg" name="email" placeholder="Correo Electrónico">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <input type="email" class="form-control" id="correoConfirmReg" name="email2" placeholder="Confirma tu correo Electrónico">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <input type="password" class="form-control" id="contraseñaReg" name="password" placeholder="Contraseña" pattern=".{6,13}">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <input type="password" class="form-control" id="contraseña2Reg" name="password2" placeholder="Confirma tu contraseña" pattern=".{6,13}">
                        </div>
                      </div>
                      <!--<div class="col-md-12">
                        <h4>
                          <small>Sexo</small>
                        </h4>
                        <div class="col-md-6">
                          <div class="radio">
                            <label>
                              <input type="radio" name="gender" id="sexM" value="M" checked> Masculino
                            </label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="radio">
                            <label>
                              <input type="radio" name="gender" id="sexF" value="F"> Femenino
                            </label>
                          </div>
                        </div>
                     </div>-->
                      <div class="col-md-12">
                        <input type="hidden" id="tiempo" name="tiempoStamp" value="tiempo" />
                        <input type="submit" id="regi" name="registroCorreo" value="Registrate" class="btn btn-success btn-block s20">
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="row text-center">
                <p class="s15">
                  <small>Al hacer clic en "Regístate", aceptas las <a href="">Condiciones</a> y confirmas que leíste nuestra <a href="">Política de datos</a>, incluido el <a href="">uso de cookies</a></small>.
                </p>
              </div>
              <div class="row EndButtons"></div>
            </div>
          </div>
          <div class="slide">
            <div class="modal-body regPersonales">
              <form class="">
                <div class="row bnvndReg">
                  <div class="col-md-12">
                    <h4 class="Flama-bold">¡Bienvenido Dr. Fulano de Tal!
                      <small>Por favor llena los siguientes campos para continuar con tu registro.</small>
                    </h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div id="alertError"></div>
                  </div>
                  <div class="col-md-12">
                    <div class="grlsReg">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <label class="Flama-normal s15" for="nombreRegMed">Nombres</label>
                            <input type="text" class="form-control" id="nombreRegMed" name="nombreRegMed" placeholder="Nombres">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label class="Flama-normal s15" for="apePatRegMed">Apellido Paterno</label>
                            <input type="text" class="form-control" id="apePatRegMed" name="apePatRegMed" placeholder="Apellido Paterno">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label class="Flama-normal s15" for="apePatRegMed">Apellido Materno</label>
                            <input type="text" class="form-control" id="apeMatRegMed" name="apeMatRegMed" placeholder="Apellido Materno">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-12">
                                 <label class="Flama-normal s15" >Fecha de Nacimiento</label>
                              </div>
                           </div>
                          <div class="row">
                            <div class="col-md-4">
                              <div class="form-group">
                                <input type="text" class="form-control" id="diaNacReg" name="birthdayDay" placeholder="Dia" required="true">
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <input type="text" class="form-control" id="mesNacReg" name="birthdayMonth" placeholder="Mes" required="true">
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <input type="text" class="form-control" id="añoNacReg" name="birthdayYear" placeholder="Año" required="true">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <h4>
                            <small>Sexo</small>
                          </h4>
                          <div class="col-md-6">
                            <div class="radio">
                              <label>
                                <input type="radio" name="gender" id="sexM" value="M" checked> Masculino
                              </label>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="radio">
                              <label>
                                <input type="radio" name="gender" id="sexF" value="F"> Femenino
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr class="separator2">
                    <div class="grlsReg">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="Flama-normal s15" for="curpRegMed">CURP</label>
                            <input type="text" class="form-control" id="curpRegMed" name="curpRegMed" placeholder="CURP">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="Flama-normal s15" for="cedulaRegMed">Cedula Profesional</label>
                            <div class="input-group">
                              <input type="text" class="form-control" id="cedulaRegMed" name="cedulaRegMed" placeholder="CEDULA">
                              <span class="input-group-addon verificarAddon">
                                <button class="btn btn-warning verificarBtn Flama-normal s15">Verificar</button>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3 col-md-offset-9">
                    <input type="submit" id="regi" name="registroCorreo" value="Registrate" class="btn btn-primary btn-block btn-step">
                  </div>
                </div>
                <div class="row EndButtons"></div>
              </form>
            </div>
          </div>
          <div class="slide">
            <div class="modal-body">
              <div class="row">
                <div class="col-md-12 regCorreo">
                  <h3>Regístra tu forma de pago</h3>
                  <div class="row">
                    <div class="col-md-12">
                      <div id="alertError"></div>
                    </div>

                    <div class="col-md-12">
                      <input type="submit" id="regi" name="registroCorreo" value="Registrate" class="btn btn-success btn-block btn-step">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row EndButtons"></div>
            </div>
          </div>
          <div class="slide">
            <div class="modal-body">
              <div class="row">
                <div class="col-md-12 regCorreo">
                  <h3>Regístra tus datos de facturacion</h3>
                  <div class="row">
                    <div class="col-md-12">
                      <div id="alertError"></div>
                    </div>

                    <div class="col-md-12">
                      <input type="hidden" id="tiempo" name="tiempoStamp" value="tiempo" />
                      <input type="submit" id="regi" name="registroCorreo" value="Registrate" class="btn btn-success btn-block btn-step">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row EndButtons"></div>
            </div>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
  </div>

  <section id="section3">
    <div class="section3cover">
      <div class="container">
      </div>
    </div>
  </section>
</section>
