<section id="principal">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Intermed para Pacientes</h1>
        <article>
          <h2>
            <strong>Intermed<sup>&reg</sup></strong> Es la primera red social dedicada a la salud.
          </h2>
          <div class="medium-text">Es una plataforma diseñada para conectar a pacientes, medicos e instituciones, ofreciéndoles una
            <br> selección de útiles herramientas creadas especialmente para cada uno de ellos.
          </div>
          <h1>Conoce los servicios que
            <strong>Intermed<sup>&reg</sup></strong> tiene para ti.</br>
            <small>Selecciona tu categoría:</small>
          </h1>
        </article>
      </div>
    </div>
    <div class="row">
      <div class="iconos-servicios hi-icon-wrap hi-icon-effect hi-icon-effect-a">
        <div class="col-md-3">
          <a href="/pacientes" class="hi-icon">
            <img class="hi-icon-img" src="img/BotonPacientes.png">
          </a>
        </div>
        <div class="col-md-3">
          <a href="/medicos" class="hi-icon">
            <img class=" hi-icon-img" src="img/BotonMedicos.png">
          </a>
        </div>
        <div class="col-md-3">
          <a href="/instituciones" class="hi-icon">
            <img class=" hi-icon-img" src="img/BotonInstituciones.png">
          </a>
        </div>
        <div class="col-md-3">
          <a href="/proveedores" class="hi-icon">
            <img class=" hi-icon-img" src="img/BotonProveedores.png">
          </a>
        </div>
      </div>
    </div>
  </div>
  </div>

  <section id="section3">
    <div class="section3cover">
      <div class="container">
      </div>
    </div>
  </section>
</section>
