<section id="pagos">
    <div class="container">
        <div class="row">
            <div class="panel">
                <div class="panel-body">
                    <h4>{{title}}</h4>
                    <p>Registrado</p>
                    

                </div>
            </div>
        </div>
    </div>
</section>


