<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Intermed | La red social de la salud</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/intermed.css">
    <link rel="stylesheet" type="text/css" href="fonts/fonts.css">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/utils.js"></script>



  </head>
  <!-- empieza nav superior -->
  <nav id="navHome">
    <section class="container">
      <div class="row">
        <div id="logo" class="col-lg-5 col-md-6 col-sm-12 col-xs-12 pull-left">
          <div class="col-md-3 col-sm-2 col-xs-2">
            <a href="/">
              <img class="logo-color" src="img/logo-color.png" />
            </a>
          </div>
          <div class="col-md-9 col-sm-10 col-xs-10">
            <div class="row">
              <div class="bottom-border-mini flama-w200">
                <p class="text-muted text-left">
                  <strong>
                    <span class="s20">intermed &reg</span>
                  </strong> |
                  <strong>La red social</strong> de la salud</p>
              </div>
            </div>
            <div class="row text-left text-muted flama-w900">
              <p>Para: &nbsp
                <a href="/pacientes" class="text-muted">Pacientes</a> |
                <a href="/medicos" class="text-muted">Medicos</a> |
                <a href="/instituciones" class="text-muted">Instituciones</a> </p>
            </div>
          </div>
        </div>
        <div id="atnc-clientes" class="col-lg-5 col-md-6 col-sm-12 col-xs-12 pull-right">
          <div class="row">
            <div class="col-md-12">
              <div class="bottom-border flama-w200">
                <p class="text-muted text-right">
                  <span class="hideonmobile">Atención a clientes: (33) 3125-2200 &nbsp</span>
                  <strong>soporte@intermed.mx</strong>
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p class="text-right">
                {{#ifSession "name"}} Hola {{valSession "name"}} !!!&nbsp
                <a class="reg" href="/logout" class="text-danger">Cerrar Sesión</a> {{else}}
                <a class="login" href="#" data-toggle="modal" data-target="#LoginModal">ingresa</a> &nbsp
                <a class="reg" href="#" data-toggle="modal" class="text-danger" data-target="#CatRegModal">registrate</a> {{/ifSession}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </nav>

  <body>
    {{{body}}}
    <footer>
      <div class="container">
        <p class="navbar-text">
          {{#ifSession "admin"}}
          <a href="/registro" class="login">registro de médicos</a> |
          <a href="/logout" class="text-danger">cerrar sesión</a> | {{else}}
          <a class="login" href="#" data-toggle="modal" data-target="#adminLoginModal">Admin</a> |  {{/ifSession}}
          <a href="#">Privacidad</a> | <a href="#">FAQs</a> | Todos los derechos reservados InterMed &reg 2015 / NewChannel &reg 2015
        </p>
      </div>
    </footer>

    <div class="modal fade" id="CatRegModal" tabindex="-1" role="dialog" aria-labelledby="CatRegLabel">
      <div class="modal-dialog modal-lg">
        <form method="" action="">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4>Intermed&reg | Registro</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <h3 class="Flama-bold">SELECCIONA</h3>
                <h1 class="Flama-normal">TU CATEGORÍA</h1>
              </div>
              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <div class="iconos-servicios hi-icon-wrap hi-icon-effect hi-icon-effect-a">
                    <div class="col-md-3 col-sm-3 col-xs-6">
                      <a href="#" class="hi-icon hi-icon-modal" data-dismiss="modal" data-toggle="modal" data-target="#RegPacModal">
                        <img class="hi-icon-img" src="img/BotonPacientes.png">
                      </a>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                      <a href="#set-9" class="hi-icon hi-icon-modal"  data-dismiss="modal" data-toggle="modal" data-target="#RegMedModal">
                        <img class="hi-icon-img" src="img/BotonMedicos.png">
                      </a>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                      <a href="#set-9" class="hi-icon hi-icon-modal">
                        <img class="hi-icon-img" src="img/BotonInstituciones.png">
                      </a>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                      <a href="#set-9" class="hi-icon hi-icon-modal">
                        <img class="hi-icon-img" src="img/BotonProveedores.png">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-1"></div>
              </div>
            </div>
            <div class="modal-footer"></div>
        </form>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="modal fade" id="RegPacModal" tabindex="-1" role="dialog" aria-labelledby="RegLabel">
      <div class="modal-dialog modal-lg">
        <form method="POST" action="/reg/local" id="frm_regP">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="FlamaBook-normal s25 regHeader">Intermed&reg / <b>Registro Pacientes</b></h4>
            </div>
            <div class="modal-body">
               <hr class="separator">
              <div class="row">
                 <div class="col-md-6 regFacebook">
                   <h3>Intermed &reg es mejor
                     <br>con Facebook</h3>
                   <br>
                   <input name="registroFB" value="Registrate con Facebook" class="btn btn-primary btn-block s20" onclick="window.location='/auth/facebook'">
                   <br>
                   <h2 class="Flama-bold">¡En un solo click!</h2>
                   <p class="s20 flamaBook-normal">
                     Utiliza tu cuenta de Facebook para registrarte en Intermed y conectate con tus amigos y conocidos.
                   </p>
                   <p class="s15 flamaBook-normal">
                     Intermed no comparte tus datos con terceras personas ni compañias externas.
                   </p>
                 </div>
                <div class="col-md-6" class="regCorreo">
                  <h3>Registrate con tu correo electronico</h3>
                  <div class="row">
                    <div class="col-md-12">
                      <div id="alertError"></div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="text" class="form-control" id="nombreReg" name="first_name" placeholder="Nombre" required="true">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="text" class="form-control" id="ApellidoReg" name="last_name" placeholder="Apellido" required="true">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <input type="email" class="form-control" id="correoReg" name="email" placeholder="Correo Electrónico" required="true">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <input type="password" class="form-control" id="contraseñaReg" name="password" placeholder="Contraseña" pattern=".{6,13}" required="true">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <input type="password" class="form-control" id="contraseña2Reg" name="password2" placeholder="Confirma tu contraseña" pattern=".{6,13}" required="true">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <h4>
                        <small>Fecha de Nacimiento</small>
                      </h4>
                      <div class="col-md-4">
                        <div class="form-group">
                          <input type="text" class="form-control" id="diaNacReg" name="birthdayDay" placeholder="Dia" required="true">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <input type="text" class="form-control" id="mesNacReg" name="birthdayMonth" placeholder="Mes" required="true">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <input type="text" class="form-control" id="añoNacReg" name="birthdayYear" placeholder="Año" required="true">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <h4>
                        <small>Sexo</small>
                      </h4>
                      <div class="col-md-6">
                        <div class="radio">
                          <label>
                            <input type="radio" name="gender" id="sexM" value="M" checked required="true"> Masculino
                          </label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="radio">
                          <label>
                            <input type="radio" name="gender" id="sexF" value="F" required="true"> Femenino
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <input type="submit" name="registroCorreo" value="Registrate" class="btn btn-success btn-block">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
              </div>
            </div>
            <div class="modal-footer">
               <p class="s15">
                 <small>Al hacer clic en "Regístate", aceptas las <a href="">Condiciones</a> y confirmas que leíste nuestra <a href="">Política de datos</a>, incluido el <a href="">uso de cookies</a></small>.
               </p>
            </div>
        </form>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="LoginLabel">
      <div class="modal-dialog">
        <form method="" action="">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4>Intermed&reg | Login</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <input name="loginFB" value="Login con Facebook" class="btn btn-primary btn-block" onclick="window.location='/auth/facebook'">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <div class="form-group">
                    <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Usuario">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" id="contraseña" name="contraseña" placeholder="Contraseña">
                  </div>
                  <input type="submit" name="login" value="Ingresar" class="btn btn-primary btn-block">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <p class="text-center">
                <small>Recuerda que instituciones, proveedores y secretarias solo pueden ingresar con su correo y contraseña.</small>
                <br>
                <small>¿Olvidaste tus datos de acceso? <a href="#">Haz click aqui para recuperarlos</a></small>
              </p>
            </div>
        </form>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="modal fade" id="adminLoginModal" tabindex="-1" role="dialog" aria-labelledby="adminLoginLabel">
      <div class="modal-dialog modal-sm">
        <form method="POST" action="">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">Porfavor, inicia sesión:</h4>
            </div>
            <div class="modal-body">
              <input type="hidden" name="loginType" value="admin" />
              <div class="form-group">
                <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Usuario">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="contraseña" name="contraseña" placeholder="Contraseña">
              </div>
            </div>
            <div class="modal-footer">
              <input type="submit" name="login" value="Ingresar" class="btn btn-primary btn-block">
            </div>
        </form>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="modal fade" id="RegMedModal">
      <div class="modal-dialog modal-lg Flama-normal">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="FlamaBook-normal s25 regHeader">Intermed&reg / <b>Registro Médicos</b> </h4>
          </div>
          <div class="step">
            <div class="modal-body">
              <hr class="separator">
              <div class="row">
                <div class="col-md-6 regFacebook">
                  <h3>Intermed &reg es mejor
                    <br>con Facebook</h3>
                  <br>
                  <input name="registroFB" value="Registrate con Facebook" class="btn btn-primary btn-block s20" onclick="window.location='/auth/facebook'">
                  <br>
                  <h2 class="Flama-bold">¡En un solo click!</h2>
                  <p class="s20 flamaBook-normal">
                    Utiliza tu cuenta de Facebook para registrarte en Intermed y conectate con tus amigos y conocidos.
                  </p>
                  <p class="s15 flamaBook-normal">
                    Intermed no comparte tus datos con terceras personas ni compañias externas.
                  </p>
                </div>
                <div class="col-md-6 regCorreo">
                  <h3>Regístrate con tu correo electronico</h3>
                  <div class="row">
                    <form method="POST" action="/reg/local" id="frm_regP">
                      <div class="col-md-12">
                        <div id="alertError"></div>
                      </div>
                      <!--<div class="col-md-6">
                        <div class="form-group">
                          <input type="text" class="form-control" id="nombreReg" name="first_name" placeholder="Nombre">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="text" class="form-control" id="ApellidoReg" name="last_name" placeholder="Apellido">
                        </div>
                     </div>-->
                      <div class="col-md-12">
                        <div class="form-group">
                          <input type="email" class="form-control" id="correoReg" name="email" placeholder="Correo Electrónico">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <input type="email" class="form-control" id="correoConfirmReg" name="email2" placeholder="Confirma tu correo Electrónico">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <input type="password" class="form-control" id="contraseñaReg" name="password" placeholder="Contraseña" pattern=".{6,13}">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <input type="password" class="form-control" id="contraseña2Reg" name="password2" placeholder="Confirma tu contraseña" pattern=".{6,13}">
                        </div>
                      </div>
                      <!--<div class="col-md-12">
                        <h4>
                          <small>Sexo</small>
                        </h4>
                        <div class="col-md-6">
                          <div class="radio">
                            <label>
                              <input type="radio" name="gender" id="sexM" value="M" checked> Masculino
                            </label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="radio">
                            <label>
                              <input type="radio" name="gender" id="sexF" value="F"> Femenino
                            </label>
                          </div>
                        </div>
                     </div>-->
                      <div class="col-md-12">
                        <input type="hidden" id="tiempo" name="tiempoStamp" value="tiempo" />
                        <input type="submit" id="regi" name="registroCorreo" value="Registrate" class="btn btn-success btn-block s20">
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="row text-center">
                <p class="s15">
                  <small>Al hacer clic en "Regístate", aceptas las <a href="">Condiciones</a> y confirmas que leíste nuestra <a href="">Política de datos</a>, incluido el <a href="">uso de cookies</a></small>.
                </p>
              </div>
              <div class="row EndButtons"></div>
            </div>
          </div>
          <div class="step">
            <div class="modal-body regPersonales">
              <form class="">
                <div class="row topMsgReg">
                  <div class="col-md-12">
                    <h4 class="Flama-bold s20">¡Bienvenido Dr. Fulano de Tal!
                      <small>Por favor llena los siguientes campos para continuar con tu registro.</small>
                    </h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div id="alertError"></div>
                  </div>
                  <div class="col-md-12">
                    <div class="regBox rB-gray">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <label class="Flama-normal s15" for="nombreRegMed">Nombres</label>
                            <input type="text" class="form-control" id="nombreRegMed" name="nombreRegMed" placeholder="Nombres">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label class="Flama-normal s15" for="apePatRegMed">Apellido Paterno</label>
                            <input type="text" class="form-control" id="apePatRegMed" name="apePatRegMed" placeholder="Apellido Paterno">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label class="Flama-normal s15" for="apePatRegMed">Apellido Materno</label>
                            <input type="text" class="form-control" id="apeMatRegMed" name="apeMatRegMed" placeholder="Apellido Materno">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="row">
                            <div class="col-md-12">
                              <label class="Flama-normal s15">Fecha de Nacimiento</label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-4">
                              <div class="form-group">
                                <input type="text" class="form-control" id="diaNacReg" name="birthdayDay" placeholder="Dia" required="true">
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <input type="text" class="form-control" id="mesNacReg" name="birthdayMonth" placeholder="Mes" required="true">
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <input type="text" class="form-control" id="añoNacReg" name="birthdayYear" placeholder="Año" required="true">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="col-md-12">
                            <label class="Flama-normal s15">Sexo</label>
                          </div>
                          <div class="col-md-6">
                            <div class="radio">
                              <label>
                                <input type="radio" name="gender" id="sexM" value="M" checked> Masculino
                              </label>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="radio">
                              <label>
                                <input type="radio" name="gender" id="sexF" value="F"> Femenino
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr class="separator2">
                    <div class="regBox rB-gray">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="Flama-normal s15" for="curpRegMed">CURP</label>
                            <input type="text" class="form-control" id="curpRegMed" name="curpRegMed" placeholder="CURP">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="Flama-normal s15" for="cedulaRegMed">Cedula Profesional</label>
                            <div class="input-group">
                              <input type="text" class="form-control" id="cedulaRegMed" name="cedulaRegMed" placeholder="CEDULA">
                              <span class="input-group-addon verificarAddon">
                                <button class="btn btn-warning verificarBtn Flama-normal s15">Verificar</button>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3 col-md-offset-9">
                    <input type="submit" id="regi" name="registroCorreo" value="Registrate" class="btn btn-primary btn-block btn-step">
                  </div>
                </div>
                <div class="row EndButtons"></div>
              </form>
            </div>
          </div>
          <div class="step">
            <div class="modal-body regPago">
              <div class="row topMsgReg">
                <div class="col-md-8">
                  <h4 class="Flama-bold s20">Selecciona tu forma de pago.</h4>
                </div>
                <div class="col-md-4">
                  <div class="msgPrecio text-center FlamaBook">
                    <span class="trngl"></span>Recuerda que tu suscripción tiene un costo mensual de $1,000.00
                  </div>
                </div>
              </div>
              <div class="row selTipoPago">
                <div class="col-md-12">
                  <form class="radio">
                    <div id="tarjOpt">
                      <label class="bigLabel Flama-normal">
                        <input type="radio" name="optionsRadios" id="tarjetaOptReg" value="tarjeta" checked=""> Tarjeta de crédito
                      </label>
                      <div id="tarjOptBox" class="regBox rB-gray">
                        <div class="row">
                          <div class="col-md-3">
                            <div class="form-group">
                              <label class="Flama-normal s15" for="tipoTarjetaRegMed">Tipo de tarjeta</label>
                              <input type="text" class="form-control" id="tipoTarjetaRegMed" name="tipoTarjetaRegMed" placeholder="Visa / Mastercard / etc">
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <label class="Flama-normal s15" for="numTarjetaRegMed">Número de la tarjeta</label>
                              <input type="text" class="form-control" id="numTarjetaRegMed" name="numTarjetaRegMed" placeholder="xxxx-xxxx-xxxx-xxxx">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="row">
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label class="Flama-normal s15" for="vencMesTarjetaRegMed">Vencimiento</label>
                                  <input type="number" class="form-control" id="vencMesTarjetaRegMed" name="vencMesTarjetaRegMed" placeholder="Mes">
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label class="Flama-normal s15" for="vencAñoTarjetaRegMed">Vencimiento</label>
                                  <input type="number" class="form-control" id="vencAñoTarjetaRegMed" name="vencAñoTarjetaRegMed" placeholder="Año">
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label class="Flama-normal s15" for="seguridadTarjetaRegMed">Seguridad</label>
                                  <div class="input-group">
                                    <input type="password" class="form-control" id="seguridadTarjetaRegMed" name="seguridadTarjetaRegMed">
                                    <span class="input-group-addon glyphicon">
                                      <a tabindex="0" role="button" data-toggle="popover" title="Codigo de seguridad:" data-placement="bottom" data-container="body" data-content="El numero de seguridad se encuentra al reverso de tu tarjeta.">
                                        <span class="glyphicon-question-sign"></span>
                                      </a>
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-5">
                            <div class="form-group">
                              <label class="Flama-normal s15" for="nombreTarjetaRegMed">Nombre del titular</label>
                              <input type="text" class="form-control" id="nombreTarjetaRegMed" name="nombreTarjetaRegMed" placeholder="Tal como aparece en la tarjeta">
                            </div>
                          </div>
                          <div class="col-md-2">
                            <div class="form-group">
                              <label>
                                <br>
                              </label>
                              <input type="submit" id="registraTarjeta" name="registraTarjeta" value="Pagar" class="btn btn-warning btn-block Flama-normal s15">
                            </div>
                          </div>
                          <div class="col-md-5 secureStamp">
                            <div class="row">
                              <div class="col-md-12">
                                <p>
                                  <span class="glyphicon glyphicon-lock"></span>
                                  <strong>Este es un sitio seguro</strong>
                                  <br>
                                  <small>Utilizamos conexiones seguras para proteger su información.</small>
                                </p>
                              </div>
                            </div>
                            <div class="securedImgs row">
                              <div class="col-md-3">
                                <img alt="verisign" src="/img/verisign.png">
                              </div>
                              <div class="col-md-2">
                                <img alt="ssl" src="/img/ssl.png">
                              </div>
                              <div class="col-md-7">
                                <img alt="newchannel" src="/img/newchannel-350x61.png">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr class="separator3">
                    <div id="paypalOpt">
                      <label class="bigLabel Flama-normal">
                        <input type="radio" name="optionsRadios" id="paypalOptReg" value="paypal"> PayPal
                      </label>
                      <div id="paypalOptBox" class="regBox rB-gray">
                        <div class="row">
                          <div class="col-md-5">
                            <div class="form-group">
                              <label class="Flama-normal s15" for="paypalUser">Usuario de PayPal</label>
                              <input type="text" class="form-control" id="paypalUser" name="paypalUser" placeholder="Usuario">
                            </div>
                          </div>
                          <div class="col-md-5">
                            <div class="form-group">
                              <label class="Flama-normal s15" for="paypalPass">Constraseña</label>
                              <input type="passwrod" class="form-control" id="paypalPass" name="paypalPass" placeholder="Contraseña">
                            </div>
                          </div>
                          <div class="col-md-2">
                            <label>
                              <br>
                            </label>
                            <input type="submit" id="paypalLogin" name="paypalLogin" value="PayPal Login" class="btn btn-warning btn-block Flama-normal s15">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <a href="#">¿Olvidaste tu Usuario o Contraseña de Paypal? Haz click aquí.</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-3">
                      <input type="submit" id="regresaPersonales" name="regresaPersonales" value="Regresar" class="btn btn-danger btn-block">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row EndButtons"></div>
            </div>
          </div>
          <div class="step">
            <div class="modal-body regFacturacion">
              <div class="row topMsgReg">
                <div class="col-md-12">
                  <h4 class="msgSuccess Flama-bold s20">¡Tu pago ha sido procesado, gracias!</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label class="bigLabel Flama-normal">Ingresa tus datos de facturación</label>
                  <div class="regBox rB-gray">
                    <form>
                      <div class="row">
                        <div class="col-md-7">
                          <div class="form-group">
                            <label class="Flama-normal s15" for="nomRSocialFact">Nombre o Razón Social</label>
                            <input type="text" class="form-control" id="nomRSocialFact" name="nomRSocialFact" placeholder="">
                          </div>
                        </div>
                        <div class="col-md-5">
                          <div class="form-group">
                            <label class="Flama-normal s15" for="nomRSocialFact">RFC con homoclave</label>
                            <input type="text" class="form-control" id="nomRSocialFact" name="nomRSocialFact" placeholder="">
                          </div>
                        </div>
                        <div class="col-md-8">
                          <div class="form-group">
                            <label class="Flama-normal s15" for="calleFact">Calle</label>
                            <input type="text" class="form-control" id="calleFact" name="calleFact" placeholder="">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label class="Flama-normal s15" for="numeroFact">Numero</label>
                            <input type="text" class="form-control" id="numeroFact" name="numeroFact" placeholder="">
                          </div>
                        </div>
                        <div class="col-md-8">
                          <div class="form-group">
                            <label class="Flama-normal s15" for="coloniaFact">Colonia</label>
                            <input type="text" class="form-control" id="coloniaFact" name="coloniaFact" placeholder="">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label class="Flama-normal s15" for="cpFact">Código Postal</label>
                            <input type="text" class="form-control" id="cpFact" name="cpFact" placeholder="">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="Flama-normal s15" for="ciudadFact">Ciudad</label>
                            <input type="text" class="form-control" id="ciudadFact" name="ciudadFact" placeholder="">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="Flama-normal s15" for="estadoFact">Estado</label>
                            <input type="text" class="form-control" id="estadoFact" name="estadoFact" placeholder="">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                          <input type="button" class="btn btn-warning btn-block" value="Guardar">
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="row EndButtons"></div>
            </div>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
   </div><!-- end modal regMedico -->


    <script>
      $(document).ready(function() {

        $.get('/medicosregistrados', function(data) {

          console.log(data);
          console.log(data[0]['info'][0]['Telefono']['numero']);

          for (var i = 0; i < data.length; i++) {

            $('#tbmedReg').append('<tr><td></td><td>' + data[i]['info'][0]["DatosGenerale"]["nombre"] + ' ' + data[i]['info'][0]["DatosGenerale"]["apellidoM"] + ' ' + data[i]['info'][0]["DatosGenerale"]["apellidoP"] + '</td><td>' + data[i][
              'info'
            ][0]["correo"] + '</td><td>' + data[i]['info'][0]["Telefono"]["numero"] + '</td><td>' + data[i]['info'][0]['Direccion']['calle'] + ' ' + data[i]['info'][0]['Direccion']['numero'] + '</td><td>' + data[i]['especialidades'][0][
              'titulo'
            ] + '<td></tr>');

          }

        });

      });

    </script>
  </body>

</html>
