<section id="configuraciones">
  <div id="configPanel" class="container">
    <div class="panel panel-primary noBorder noMargin">
      <!--<div class="panel-heading bg-darkBlue">
        <h4 class="h67-medcond noMargin">Configuraciones</h4>
      </div>-->
      <div class="panel-body mainpb">
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-2 noPadding">
            <ul class="h45-light nav list-group bg-white noBorder" role="tablist">
              <li role="presentation" class="active">
                <a href="#generales" aria-controls="generales" role="tab" data-toggle="tab" class="darkBlue-c">
                  <span class="visible-xs s20 proicon proicon-editar center-block text-center"></span>
                  <span class="hidden-xs"><span class="proicon proicon-editar"></span>&nbsp;Cuenta</span>
                </a>
              </li>
              <li role="presentation" class="">
                <a href="#notificaciones" aria-controls="notificaciones" role="tab" data-toggle="tab" class="darkBlue-c">
                  <span class="visible-xs s20 proicon proicon-notificacion center-block text-center"></span>
                  <span class="hidden-xs"><span class="proicon proicon-notificacion"></span>&nbsp;Notificaciones</span>
                </a>
              </li>
              <li role="presentation" class="">
                <a href="#pagos" aria-controls="pagos" role="tab" data-toggle="tab" class="darkBlue-c">
                  <span class="visible-xs s20 proicon proicon-credit-card center-block text-center"></span>
                  <span class="hidden-xs"><span class="proicon proicon-credit-card"></span>&nbsp;Pagos</span>
                </a>
              </li>
              <li role="presentation" class="">
                <a href="#promociones" aria-controls="promociones" role="tab" data-toggle="tab" class="darkBlue-c">
                  <span class="visible-xs s20 glyphicon glyphicon-gift center-block text-center"></span>
                  <span class="hidden-xs"><span class="glyphicon glyphicon-gift"></span>&nbsp;Meses gratis</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-10 col-md-10 col-sm-9 col-xs-10 noPadding">
            <div class="tab-content h45-light s15">
              <div role="tabpanel" class="tab-pane fade in active" id="generales">
                <div class="row">
                  <div class="col-lg-12">
                    <h3 class="noMargin">Editar información de la cuenta</h3>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="panel panel-primary square noBorder noShadow">
                      <div class="panel-heading bg-darkBlue square">
                        Basico
                      </div>
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <p>
                              Correo electrónico
                              <br>
                              <small class="text-muted">Correo de contacto y acceso a tu cuenta.</small>
                            </p>
                          </div>
                          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="form-group">
                              <span class="label label-warning" id="getMail"></span>
                              <div class="input-group">
                                <input type="mail" id="mailMedic" class="form-control" placeholder="E-mail">
                                <div class="input-group-btn">
                                  <button class="btn" type="button" id="saveMail">
                                    <span class="glyphicon glyphicon-floppy-disk"></span><span class="hidden-xs"> Guardar</span>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <p>
                              Nombre de Usuario
                              <br>
                              <small class="text-muted">Tu nombre de usuario público es el mismo que la dirección de tu perfil.</small>
                            </p>
                          </div>
                          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="visible-xs-block">
                              <span class="text-muted">www.intermed.online/</span>
                            </div>
                            <div class="input-group">
                              <span class="input-group-addon square hidden-xs">
                                www.intermed.online/
                              </span>
                              <input type="text" id="urlMedic" title="" class="form-control" placeholder="Url personalizado" />
                              <span class="input-group-btn">
                                <button class="btn" type="button" id="saveUrl">
                                  <span class="glyphicon glyphicon-floppy-disk"></span><span class="hidden-xs"> Guardar</span>
                              </button>
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <p>
                              Renueva tu contraseña
                            </p>
                          </div>
                          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="input-group">
                              <div class="form-group">
                                <input type="password" id="passMedic" class="form-control" placeholder="Nueva Contraseña" />
                                <input type="password" id="confiMedic" class="form-control" placeholder="Confirmar" />
                              </div>
                              <span class="input-group-btn bottom-content">
                                <button class="btn btn" id="confirMedicPas">
                                  <span class="glyphicon glyphicon-floppy-disk"></span><span class="hidden-xs"> Guardar</span>
                              </button>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="notificaciones">
                <div class="row">
                  <div class="col-lg-12 col-md-12">
                    <h3 class="noMargin">Configuración de Notificaciones</h3>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="panel panel-primary square noBorder noShadow">
                      <div class="panel-heading bg-darkBlue square">
                        Citas
                      </div>
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-lg-12 col-md-12 noPadding" id="notifList">
                            <input type="hidden" value="" id="maxId">
                            <table class="table" id="notifListTable">
                              <thead>
                                <tr>
                                  <th style="">Tipo</th>
                                  <th style="" class="text-center">Web</th>
                                  <th style="" class="text-center">Movil</th>
                                  <th style="" class="text-center">Mail</th>
                                </tr>
                              </thead>
                              <tbody id="configNot">
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="pagos">
                <div class="row">
                  <div class="col-lg-12">
                    <h3 class="noMargin">Información de pagos</h3>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="panel panel-primary square noBorder noShadow">
                      <div class="panel-heading bg-darkBlue square">
                        Resumen
                      </div>
                      <div class="panel-body">
                        <div class="row noPadding">
                          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <h2 class="noMargin text-center">
                              Cuenta Premium
                            </h2>
                            <button class="btn btn-link btn-block">Cambiar</button>
                            <hr class="noBorder">
                          </div>
                          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <table class="table table-bordered table-condensed noMargin">
                              <tbody>
                                <tr>
                                  <th class="col-lg-4 col-md-4 col-sm-4 col-xs-5">
                                    No. de Cuenta
                                  </th>
                                  <td>
                                    1827465893
                                  </td>
                                </tr>
                                <tr>
                                  <th>
                                    Descripción
                                  </th>
                                  <td>
                                    Suscipcion mensual de Directorio con acceso a Agenda en la Nube y Secretaria.
                                  </td>
                                </tr>
                                <tr>
                                  <th>
                                    Próximo pago
                                  </th>
                                  <td>
                                    2016-02-02
                                  </td>
                                </tr>
                                <tr>
                                  <th>
                                    Monto
                                  </th>
                                  <td>
                                    $1,000.00
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-primary square noBorder noShadow">
                      <div class="panel-heading bg-darkBlue square">
                        <div class="row noPadding">
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            Métodos de pago
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <a class="btn btn-xs btn-default pull-right" role="button"><span class="glyphicon glyphicon-plus"></span></a>
                          </div>
                        </div>
                      </div>
                      <div class="panel-body">
                        <ul class="list-group">
                          <li class="list-group-item square">
                            <div class="media">
                              <div class="media-left center-content">
                                <span class="s30 ubitBlue-c proicon proicon-visa"></span>
                              </div>
                              <div class="media-body center-content">
                                <div class="pull-left" style="height:34px;">
                                  <div class="body-container">
                                    <div class="center-content">
                                      <span class="ls1">**** 7023</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="btn-group pull-right" role="group">
                                  <button class="btn btn-link blue-c" type="button">Editar</button>
                                  <button class="btn btn-link red-c" type="button">Borrar</button>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item square">
                            <div class="media">
                              <div class="media-left center-content">
                                <span class="s30 ubitBlue-c proicon proicon-mastercard"></span>
                              </div>
                              <div class="media-body center-content">
                                <div class="pull-left" style="height:34px;">
                                  <div class="body-container">
                                    <div class="center-content">
                                      <span class="ls1">**** 0098</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="btn-group pull-right" role="group">
                                  <button class="btn btn-link blue-c" type="button">Editar</button>
                                  <button class="btn btn-link red-c" type="button">Borrar</button>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item square">
                            <div class="media">
                              <div class="media-left center-content">
                                <span class="s30 ubitBlue-c proicon proicon-american-express"></span>
                              </div>
                              <div class="media-body center-content">
                                <div class="pull-left" style="height:34px;">
                                  <div class="body-container">
                                    <div class="center-content">
                                      <span class="ls1">**** 4323</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="btn-group pull-right" role="group">
                                  <button class="btn btn-link blue-c" type="button">Editar</button>
                                  <button class="btn btn-link red-c" type="button">Borrar</button>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item square">
                            <div class="media">
                              <div class="media-left center-content">
                                <span class="s30 ubitBlue-c proicon proicon-paypal"></span>
                              </div>
                              <div class="media-body center-content">
                                <div class="pull-left" style="height:34px;">
                                  <div class="body-container">
                                    <div class="center-content">
                                      <span class="ls1">jcmedinamartinez@gmail.com</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="btn-group pull-right" role="group">
                                  <button class="btn btn-link blue-c" type="button">Editar</button>
                                  <button class="btn btn-link red-c" type="button">Borrar</button>
                                </div>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="panel noBorder square bg-grey boxShadow">
                      <div class="panel-body">
                        <div class="row noPadding">
                          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="height:80px;">
                            <div class="body-container">
                              <div class="center-content">
                                <h3 class="center-block text-center noMargin">
                                  ¿Deseas cancelar tu suscripción?
                                  <br /><small class="text-muted">Esta acción no se podrá deshacer, pero podrás volver a registrarte con nostros cuando gustes en el futuro.</small>
                                </h3>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="height:80px;">
                            <div class="body-container">
                              <div class="center-content">
                                <button style="border-radius:20px;" class="btn btn-danger btn-block" id="actualizaDatos" type="button">
                                  <span class="glyphicon glyphicon-transh"></span>&nbsp;Cancelar
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="promociones">
                <div class="row">
                  <div class="col-lg-12">
                    <h3 class="noMargin">Obtén Meses Gratis</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="hidden" id="mensaje">
            <h4 id="texto"></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
