<style>
.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.chat li:last-child
{
    border-bottom: none;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    height: 225px;
}

.panel-body2
{
    height: 185px;
    margin: 15px;
}

.panel-body3
{
    margin: 15px;
}

.panel-body4
{
    margin: 15px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

p a {
    text-decoration: underline;
}

.twitter-typeahead {
    display: block !important;
}

.tt-dataset-topics {
    margin-left: 15px;
}

.help-buttons {
    margin-top: 15px;
}

img.mini{
  width: 30px;
  height: 30px;
}

@media (max-width: 768px) {
  img.mini{
    width: 100%;
    height: auto;
  }
}

textarea::-webkit-scrollbar {
width: 4px;
}

.datetime{
  font-size: 80%;
  padding: 3px!important;
  color: #AAA;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.datetime>span{
  position: relative;
  z-index: 3000;
}

li.error{
  color: #a94442;
  font-size: 80%;
}

.nombreContacto.seleccionado{
  background-color: #FFBF00;
}

.marcoImagen {
  padding:8px;
  background-color: #f5f5f5;
  width: 200px;
  border-bottom: 1px solid #999999;
  border-right: 1px solid #999999;
}

</style>
<section id="mensajes">
  <div id="medico" class="container">
    <div class="profileBody">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2">
              <div class="row">
              <div class="panel panel-default">
                <div class="panel-heading" style="padding:0px">
                  <div class="form-group has-feedback" style="margin-bottom: 0px;">
                    <input type="text" class="form-control" placeholder="Buscar contacto..." id="autocompleteContactos">
                    <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
                  </div>
                </div>
                <div class="panel-body" style="padding:0px" id="contactList">
                  <table class="table table-hover table-bordered" style="margin:0px">
                    <tbody id="InboxListaContactos">
                      <tr>
                        <td class="nombreContacto" onclick="cargarInbox(this)">
                              <img src="http://cdns2.freepik.com/foto-gratis/hombre-usuario-icono-de-clip-art_421787.jpg" class="img-circle mini" width="50" height="50" />
                              <span class="hidden-xs name" style="overflow:hidden">Cinthia Bermúdez Acosta</span>

                              <small class="pull-right text-right" style="font-size:70%;color:#888">Ahora <span style="font-size: 80%" class="glyphicon glyphicon-time" ></span></small>
                        </td>
                      </tr>
                      <tr>
                          <td class="nombreContacto" onclick="cargarInbox(this)">
                                <span class="badge pull-right">69</span>
                                <img src="http://cdns2.freepik.com/foto-gratis/hombre-usuario-icono-de-clip-art_421787.jpg" class="img-circle mini" width="50" height="50" />
                                <span class="hidden-xs name" style="overflow:hidden">Cinthia Bermúdez Acosta</span>
                          </td>
                        </tr>
                        <tr>
                            <td class="nombreContacto" onclick="cargarInbox(this)">
                                  <img src="http://cdns2.freepik.com/foto-gratis/hombre-usuario-icono-de-clip-art_421787.jpg" class="img-circle mini" width="50" height="50" />
                                  <span class="hidden-xs name" style="overflow:hidden">Cinthia Bermúdez Acosta</span>

                                  <small class="pull-right text-right" style="font-size:70%;color:#888">Ahora <span style="font-size: 80%" class="glyphicon glyphicon-time" ></span></small>
                            </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-10">
              <div class="row">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title" id="InboxContact">&nbsp;
                  </h3>
                </div>
                <div class="panel-body" id="InboxMsg" style="padding:0px;">
                  <ul class="chat" id="chat">

                  </ul>
                </div>

                <div class="panel-footer" id="inboxInput">
                    <div class="input-group">
                        <textarea id="inboxInputText" rows="1" class="form-control input-sm" placeholder="Type your message here..."  onkeyup="auto_grow(this)" style="resize:none;overflow:auto;max-height:100px;"></textarea>
                        <span class="input-group-btn"><button class="btn btn-warning btn-sm" id="inboxBtnEnviar" style="max-height:100px;"><span class="glyphicon glyphicon-send"></span></button></span>
                    </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
    </div>
  </div>
</section>

<script type="text/javascript">
    function auto_grow(element) {
      element.style.height = "5px";
      element.style.height = (element.scrollHeight + 2)+"px";
      $('#inboxBtnEnviar').css('height',element.style.height);
    }

    $("textarea").keypress(function(event) {
      var key = event.which || event.keyCode;
      var control = event.ctrlKey || event.altKey ||  event.shiftKey ;
      if (!control && key==13){
        if ($('#inboxInputText').val() != ''){
          if (enviarMensaje($('#InboxContact').html(), $('#inboxInputText').val())){
            $('#inboxInputText').val('');
          }
        }
        event.preventDefault();
      }
    });

    $('#inboxBtnEnviar').click(function(){
        if ($('#inboxInputText').val() != ''){
          if (enviarMensaje($('#InboxContact').html(), $('#inboxInputText').val())){
            $('#inboxInputText').val('');
          }
        }
    });

    function eliminarError(){
      $('.error').fadeOut(300, function() { $(this).remove(); });
    }

    function focusUltimo(){
      var ultimoMsg = $( "#chat li" ).last();
      if (ultimoMsg[0])
        ultimoMsg[0].scrollIntoView();
    }

    function enviarMensaje(para, mensaje){
      eliminarError();
      enviado = false;
      var para_id = $('.seleccionado').parent().prop('id');

      $.ajax({
        url: "/inbox/enviar",
        dataType: "json",
        method: 'POST',
        data: {
          para: para_id, mensaje: mensaje
        },
        async: false,
        success: function( data ) {
          console.log('data: ' + JSON.stringify(data));
          if (data.success){
            enviado = true;
          }
        }
      });

      if (enviado){
        var ultimoMsg = $( "#chat .msg" ).last();
        mensaje = renderHTML(mensaje);
        if (ultimoMsg.hasClass('right'))
          ultimoMsg.find('p').append('<br/>' + mensaje);
        else
          $('#chat').append(mensajeDerecha(mensaje));
      } else {
        $('#chat').append('<li class="clearfix text-center error"><span><span class="glyphicon glyphicon-info-sign" style="font-size:80%"></span>imposible enviar el mensaje, por favor revisa tu conexion</span></li>');
        focusUltimo();
        setTimeout(function(){
          eliminarError();
        },3000);
      }
      focusUltimo();
      return enviado;
    }

    $(document).ready(function(){
      $('#InboxMsg').css('background-color','#EEE');
      inputAutocompleteContact($('#autocompleteContactos'));
      $('#inboxInputText').prop('disabled',true);
      $('#inboxBtnEnviar').prop('disabled',true);

      $('#InboxMsg').css('height',($(window).height() - document.getElementById('inboxInput').offsetHeight - document.getElementById('navPlatform').offsetHeight - 130));
      $('#InboxMsg').css('overflow','auto');
      $('#contactList').css('height',$('#InboxMsg').css('height'));
      $('#contactList').css('overflow','auto');

      focusUltimo();
    });

    function cargarInbox(element){
      $('.nombreContacto').removeClass('seleccionado');
      $('#chat').html('');
      $(element).addClass('seleccionado');
      $('#InboxContact').html($(element).find('span.name').html());
      cargarMensajes($(element).parent().prop('id'));
    }

    function nuevoInbox(ui){
      $('#InboxListaContactos').prepend('<tr id="'+ ui.item.id +'" ><td class="nombreContacto seleccionado" onclick="cargarInbox(this)"><img src="'+ ui.item.imageSrc +'" class="img-circle mini" width="50" height="50" /><span class="hidden-xs name"> '+ ui.item.name +'</span><br/><small class="pull-right text-right" style="font-size:70%;color:#888">Ahora <span style="font-size: 80%" class="glyphicon glyphicon-time" ></span></small></td></tr>');
      $('#chat').html('');
    }

    function cargarMensajes(id){
      console.log('cargar mensajes de usuario_id:' + id);
    }

    function mensajeIzquierda(img, msg){
      return '<li class="left clearfix msg"><span class="chat-img pull-left"><img src="'+ img +'" class="img-circle" width="50" height="50" /></span><div class="chat-body clearfix"><div class="header"><strong class="primary-font">Jen Darby</strong><small class="pull-right text-muted"> </small></div><p class="pull-left text-left">msg</p></div></li>';
    }

    function mensajeDerecha(msg){
      return '<li class="right clearfix msg"><span class="chat-img pull-right"><img src="'+ $('#fotoPerfilMini').prop('src') +'" class="img-circle" width="50" height="50" /></span><div class="chat-body clearfix"><div class="header"><small class=" text-muted"> </small><strong class="pull-right primary-font">You</strong></div><p class="pull-right text-right">'+ msg +'</p></div></li>';
    }

    function renderHTML(text) {
      var urlRegex = /(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig;
      text = text.replace(urlRegex, function(url) {
          if ( ( url.indexOf(".jpg") > 0 ) || ( url.indexOf(".png") > 0 ) || ( url.indexOf(".gif") > 0 ) ) {
              return '<a href="' + url + '" target="_blanck"><img src="' + url + '" style="max-width:60%" class="img-thumbnail"></a>' + '<br/>'
          } else {
              return '<a href="' + url + '" target="_blanck">' + url + '</a>'
          }
      });
      return text;
    }

</script>
