<section id="plataforma" style="background-color:#EEE!important;">
  <div class="container-fluid profileHolder">
    <div>
      <div>
        <div class="container">
          <div class="row" style="margin-top:40px;">
            <div class="col-lg-12 col-md-12" style="margin-bottom:15px;">
              <h3 style="display:inline">Notificaciones</h3>
            </div>
            <div class="col-lg-12 col-md-12" id="notifList" >
              <input type="hidden" value="" id="maxId">
              <table class="table" id="notifListTable" style="border-color: black;">
                <thead>
                      <tr>
                        <th style="width: 70%">Tipo</th>
                        <th style="width: 10%" class="text-center">Interno</th>
                        <th style="width: 10%" class="text-center">Push</th>
                        <th style="width: 10%" class="text-center">Mail</th>
                      </tr>
                    </thead>
                    <tbody id="configNot">
                    </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  $(document).ready(function(){


    if (window.location.href.indexOf("/notificaciones/configuracion") > 0){
      //Manejar notificaciones
      $.ajax( {
        url: '/notificaciones',
        type: 'POST',
        dataType: "json",
        cache: false,
        success: function ( data ) {
          if ( data ) {
            /*
            notificaciones.forEach( function ( notificacion ) {
              clearInterval( notificacion.id );
            } );
            notificaciones = [];
            */
            if ( Object.prototype.toString.call( data ) === '[object Array]' ) {
              if ( data ) {
                data.forEach( function ( record ) {
                  var internoChecked = '';
                  var pushChecked = '';
                  var mailChecked = '';
                  if (record.interno == 1){
                    internoChecked = ' checked ';
                  }
                  if (record.push == 1){
                    pushChecked = ' checked ';
                  }
                  if (record.mail == 1){
                    mailChecked = ' checked ';
                  }
                  var descripcion = '';
                  if (record.descripcion && record.descripcion != ''){
                    descripcion = ' <a data-toggle="popover" title="'+record.nombre+'" data-content="'+ record.descripcion+'"><span class="glyphicon glyphicon-question-sign"></span></a>';
                  }
                  $('#configNot').append('<tr id="'+ record.id +'"><td>'+record.nombre+ descripcion + '</td><td class="text-center"><input type="checkbox" class="interno" '+ internoChecked +'></td><td class="text-center"><input type="checkbox" class="push"  ' + pushChecked + '></td><td class="text-center"><input type="checkbox"  class="mail" '+ mailChecked +'></td></tr>');

                if (record.configurable == 0){
                    $('tr#'+record.id).find('input[type="checkbox"]').each(function( index ) {
                      $( this ).attr('disabled',true);
                    });

                  }
                } );
                $('input[type="checkbox"]').click(function(){
                    var interno = 0, push = 0, mail = 0 ;
                    var id = $(this).parent().parent().prop('id');
                    if ($(this).parent().parent().find('input.interno').is(":checked")){
                      interno = 1;
                    }
                    if ($(this).parent().parent().find('input.push').is(":checked")){
                      push = 1;
                    }
                    if ($(this).parent().parent().find('input.mail').is(":checked")){
                      mail = 1;
                    }
                    modificarConfiguracion(id,interno,push,mail);
                });
                $('[data-toggle="popover"]').popover()
              }
            }
          }
        },
        error: function ( jqXHR, textStatus, err ) {
          console.error( 'AJAX ERROR: ' + err );
        }
      } );
    }
  });

  function modificarConfiguracion(id, interno, push, mail){
    $.ajax( {
      url: '/notificaciones/configurarNotificacion',
      type: 'POST',
      dataType: "json",
      data: {tipoNotificacion_id: id, interno: interno , push: push, mail: mail},
      cache: false,
      success: function ( data ) {
        if (data.success){
          if (interno == 0){
            //Detener setinterval para la notificacion
            var pos = -1;
            notificaciones.forEach( function ( notificacion ) {
              if (notificacion.tipoNotificacion_id == id){
                clearInterval( notificacion.id );
                pos = notificaciones.indexOf(notificacion);
              }
            } );
            if (pos>=0){
              notificaciones.splice(pos,1);
            }
          }
        }
      },
      error: function ( jqXHR, textStatus, err ) {
        console.error( 'AJAX ERROR: ' + err );
      }
    });
  }

</script>
