<div id="galeriaMedico">
  <input type="hidden" id="MedicoId" value="{{usuario.Medico.id}}" />
  <section id="galeriaBody" class="header-section">
    <nav id="stickyNav" class="nav-menu sticky h67-medcond">
      <div class="container-fluid nav-menu-container">
        <div id="menuMed" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="row nav-menu-row">
            <div class="nav-menu-inner-section col-lg-12">
              <ul class="nav nav-pills nav-menu-menu h67-medcond s20 pull-left">
                <li>
                  <a id="toPerfil">
                    <div class="body-container">
                      <div class="center-content">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        <span class="hidden-xs"> Regresar al Perfil</span>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
              <ul class="nav nav-pills nav-menu-menu h67-medcond s20 pull-right">
                <li>
                  <a class="btn btn-primary btn-lg btn-block" role="button" data-toggle="collapse" href="#uploadPanel" aria-expanded="false" aria-controls="uploadPanel">
                    <div class="body-container">
                      <div class="center-content">
                        <span class="glyphicon glyphicon-plus"></span> Agregar con brinco
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a class="btn btn-info btn-lg btn-block" role="button" data-toggle="collapse" href="#uploadPanel2" aria-expanded="false" aria-controls="uploadPanel2">
                    <div class="body-container">
                      <div class="center-content">
                        <span class="glyphicon glyphicon-plus"></span> Agregar fotos nuevo
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-collapse collapse col-lg-12 col-md-12 col-sm-12 col-xs-12" id="uploadPanel2">
        <div class="well noMargin">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <div class="thumbnail">
                <img src="" style="height: 190px;background-color: rgba(0,0,0,0.1);">
                <br>
                <div class="caption noPadding">
                  <form class="">
                    <div class="form-group">
                      <label class="control-label">Título:</label>
                      <input type="text" class="form-control" placeholder="titulo">
                    </div>
                    <dic class="form-group">
                      <label class="control-label">Descripción: </label>
                      <textarea class="form-control" rows="3"></textarea>
                    </dic>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <div class="thumbnail">
                <a role="button" class="btn btn-block text-center" style="height: 370px; ">
                  <div class="body-container">
                    <div class="center-content">
                      <span class="s50 glyphicon glyphicon-plus">
                      </span>
                      <br> Subir fotos
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <!-- aqui va el panel para subir las fotos -->
        </div>
      </div>
    </nav>
    <div id="uploadPanel-container" class="container-fluid">
      <div id="uploadControl" class="row noPadding" style="height:00px;">
        <div class="panel-collapse collapse col-lg-12 col-md-12 col-sm-12 col-xs-12" id="uploadPanel">
          <div class="well bg-transparentDark noMargin">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="thumbnail">
                  <img src="" style="height: 190px;background-color: rgba(0,0,0,0.1);">
                  <br>
                  <div class="caption noPadding">
                    <form class="">
                      <div class="form-group">
                        <label class="control-label">Título:</label>
                        <input type="text" class="form-control" placeholder="titulo">
                      </div>
                      <dic class="form-group">
                        <label class="control-label">Descripción: </label>
                        <textarea class="form-control" rows="3"></textarea>
                      </dic>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="thumbnail">
                  <a role="button" class="btn btn-block text-center" style="height: 370px; ">
                    <div class="body-container">
                      <div class="center-content">
                        <span class="s50 glyphicon glyphicon-plus">
                        </span>
                        <br> Subir fotos
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <!-- aqui va el panel para subir las fotos -->
          </div>
        </div>
      </div>
      <div id="galeriaPanel" class="row noPadding">
        <div class="body-container">
          <div class="center-content">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div id="slideGaleria" class="row">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <div class="container">
                        <div class="row noPadding">
                          <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12 bg-black">
                            <div class="img-container" style="background-image:url('/garage/test/landscape1.jpg')">
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12 caption-container bg-white">
                            <div class="img-caption">
                              <h1 class="h67-medcond s40">Titulo de la foto</h1>
                              <hr class="noMargin">
                              <p class="text-right center-block h67-medcond s15 text-default lbl-fecha">
                                <small>
                                  <span class="not-fecha hidden invisible">2016-04-01 19:01:25</span>
                                  <span class="glyphicon glyphicon-time"></span> 01 de abril a las 13:01
                                </small>
                              </p>
                              <p class="h45-light s15 lh1-5">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                              </p>
                              <div class="img-controls">
                                <div class="btn-group pull-left" role="group" aria-label="...">
                                  <button type="button" class="btn btn-default">Editar</button>
                                  <button type="button" class="btn btn-default">Cambiar</button>
                                  <button type="button" class="btn btn-default">Borrar</button>
                                </div>
                                <button type="button" class="btn btn-success pull-right">Guardar</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="container">
                        <div class="row noPadding">
                          <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12 bg-black">
                            <div class="img-container" style="background-image:url('/garage/test/portrait1.jpg')">
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12 caption-container bg-white">
                            <div class="img-caption">
                              <h1 class="h67-medcond s40">Titulo de la foto</h1>
                              <hr class="noMargin">
                              <p class="text-right center-block h67-medcond s15 text-default lbl-fecha">
                                <small>
                                  <span class="not-fecha hidden invisible">2016-04-01 19:01:25</span>
                                  <span class="glyphicon glyphicon-time"></span> 01 de abril a las 13:01
                                </small>
                              </p>
                              <p class="h45-light s15 lh1-5">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                              </p>
                              <div class="img-controls">
                                <div class="btn-group pull-left" role="group" aria-label="...">
                                  <button type="button" class="btn btn-default">Editar</button>
                                  <button type="button" class="btn btn-default">Cambiar</button>
                                  <button type="button" class="btn btn-default">Borrar</button>
                                </div>
                                <button type="button" class="btn btn-success pull-right">Guardar</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="item">
                      <div class="container">
                        <div class="row noPadding">
                          <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12 bg-black">
                            <div class="img-container" style="background-image:url('/garage/test/landscape2.jpg')">
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12 caption-container bg-white">
                            <div class="img-caption">
                              <h1 class="h67-medcond s40">Titulo de la foto</h1>
                              <hr class="noMargin">
                              <p class="text-right center-block h67-medcond s15 text-default lbl-fecha">
                                <small>
                                  <span class="not-fecha hidden invisible">2016-04-01 19:01:25</span>
                                  <span class="glyphicon glyphicon-time"></span> 01 de abril a las 13:01
                                </small>
                              </p>
                              <p class="h45-light s15 lh1-5">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                              </p>
                              <div class="img-controls">
                                <div class="btn-group pull-left" role="group" aria-label="...">
                                  <button type="button" class="btn btn-default">Editar</button>
                                  <button type="button" class="btn btn-default">Cambiar</button>
                                  <button type="button" class="btn btn-default">Borrar</button>
                                </div>
                                <button type="button" class="btn btn-success pull-right">Guardar</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="controls">
                      <div class="container">
                        <div class="row">
                          <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="bottomSlider" class="row noPadding bg-transparentDark hidden" style="height:150px;">
                <div class="col-lg-12">
                  <!-- aqui va el slider de thumbnails -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
