<div class="container-fluid"><!-- container-fluid -->
  <div class="row"><!-- ROW principal -->
    <!-- Inicio barra lateral izquierda -->
    <div class="col-md-3">
      <div class="col-md-12">
        <div class="list-group">
          <a href="#" class=" list-group-item">
            <div class="media">
              <div class="media-left">
                <img src="..." alt="..." class="rounded pull-left" />
              </div>
              <div class="media-body">
                <h4 class="list-group-item-heading">nombre paciente 1</h4>
                <p class="list-group-item-text">
                  <span id="apellidoPacienteSpan">Apellido paciente 1</span>
                  <small>Creado&nbsp;<span id="fechaCreacion">22 de Enero del 2016</span>
                </p>
              </div>
            </div>
          </a>
          <a href="#" class=" list-group-item ">
            <div class="media">
              <div class="media-left">
                <img src="..." alt="..." class="rounded pull-left" />
              </div>
              <div class="media-body">
                <h4 class="list-group-item-heading ">nombre paciente 2</h4>
                <p class="list-group-item-text ">
                  <span id="apellidoPacienteSpan">Apellido paciente 2</span>
                  <small>Creado&nbsp;<span id="fechaCreacion">22 de Enero del 2016</span>
                </p>
              </div>
            </div>
          </a>
          <a href="#" class=" list-group-item">
            <div class="media">
              <div class="media-left">
                <img src="..." alt="..." class="rounded pull-left" />
              </div>
              <div class="media-body">
                <h4 class="list-group-item-heading">nombre paciente 3</h4>
                <p class="list-group-item-text">
                  <span id="apellidoPacienteSpan">Apellido paciente 3</span>
                  <small>Creado&nbsp;<span id="fechaCreacion">22 de Enero del 2016</span>
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- FIN barra lateral izquierda -->

    <div class="col-md-9" style="border-color: blue solid 2px;"><!-- inicio barra lateral derecha -->
      <!-- input nombre -->
      <div class="col-md-12">
        <div class="col-md-6">
          <div class="form-horizontal">
            <div class="form-group">
              <label for="nombreInputHistorial" class="col-sm-4 control-label"><h4>Nombre:</h4></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="nombreInputHistorial" placeholder="Nombre"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- FIN INPUT NOMBRE -->
      <div class="row"><!-- inputs apellidos -->
        <div class="col-md-12">
          <div class="col-md-6">
            <div class="form-horizontal">
              <div class="form-group ">
                <label for="apellidoPHistorial" class="col-sm-4 control-label"><h6>Primer apellido</h6></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="apellidoPHistorial" placeholder="Apellido paterno" />
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-horizontal">
              <div class="form-group">
                <label for="apellidoMHistorial" class="col-sm-5 control-label"><h6>Segundo apellido</h6></label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" id="apellidoMHistorial" placeholder="Apellido materno" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- fin inputs apellidos -->
      <div class="row"><!-- BIOMETRICOS Y FECHAS -->
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-5" style="background-color:#f3fbfe; border-radius:8px;">
              <div class="row">
                <div class="col-md-12">
                  <h4>Fecha de nacimiento.</h4>
                </div>
                  <div class="col-md-4">
                    <div class="form-horizontal">
                      <div class="form-group">
                        <label for="diaHistorial" class="col-sm-2 control-label">Dia:</label>
                        <div class="col-sm-12">
                          <input type="text" class="form-control" id="diaHistorial" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-horizontal">
                      <div class="form-group">
                        <label for="mesHistorial" class="col-sm-4 control-label">Mes:</label>
                        <div class="col-sm-12">
                          <input type="text" class="form-control" id="mesHistorial"/>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-horizontal">
                      <div class="form-group">
                        <label for="anioHistorial" class="col-sm-4 control-label">Año:</label>
                        <div class="col-sm-12">
                          <input type="text" class="form-control" id="anioHistorial" />
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="row">
                <div class="col-md-12">
                  <div class="col-md-4">
                    <div class="form-horizontal">
                      <div class="form-group">
                        <label class="col-sm-2 control-label" for="selectSex">Sexo:</label>
                        <div class="col-sm-10">
                          <select class="form-control" id="selectSex">
                            <option value="0">--Seleccionar--</option>
                            <option value="masculino">M</option>
                            <option value="femenino">F</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-horizontal">
                      <div class="form-group">
                        <label for="cmHistorial" class="col-sm-2 control-label">Estatura</label>
                        <div class="col-sm-12">
                          <div class="input-group">
                            <input type="text" class="form-control" id="cmHistorial" aria-describedby="cm" />
                            <span class="input-group-addon" style="background-color:#3d71ff;color:white;" id="cm">Cm.</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-horizontal">
                      <div class="form-group">
                        <label for="kgHistorial" class="col-sm-2 control-label">Kilogramos</label>
                        <div class="col-sm-12">
                          <div class="input-group">
                            <input type="text" class="form-control" id="kgHistorial" aria-describedby="kg" />
                            <span class="input-group-addon" style="background-color:#3d71ff;color:white;" id="kg">Kg.</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- FIN BIOMETRICOS Y FECHAS -->
      <div class="row"><!-- Correo y boton -->
        <div class="col-md-12">
          <div class="col-md-6" style="background-color:#f3fbfe; border-radius:8px;">
            <div class="form-horizontal">
              <div class="form-group">
                <label for="mailHistorial" class="col-sm-4 control-label">Correo electrónico</label>
                <div class="col-sm-12">
                  <input type="text" class="form-control" id="mailHistorial" />
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <button class="btn btn-primary" id="nuevoHistorial">
              AGREGAR NUEVO PACIENTE&nbsp;<span class="glyphicon glyphicon-plus-sign"></span>
            </button>
          </div>
        </div>
      </div><!-- FIN correo y boton -->
      <hr style="display:block; border-width: 4px background-color:#3d71ff;" />
      <div class="row"><!-- Estado de salud -->
        <div class="col-md-12">
          <div class="form-horizontal">
            <div class="form-group">
              <label for="estadoHistorial" class="col-sm-2 control-label"><h6>Estado de salud:</h6></label>
              <div class="col-sm-12">
                <textarea class="form-control" style="background-color:#d1f7ff;" id="estadoHistorial" rows="5"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div><!-- FIN estado de salud -->
      <div class="row"><!-- Padecimientos -->
        <div class="col-md-12">
          <div class="form-horizontal">
            <div class="form-group">
              <label for="padeHistorial" class="col-sm-4 control-label"><h6>Afecciones y padecimientos cronicos:</h6></label>
              <div class="col-sm-12">
                <textarea class="form-control" style="background-color:#d1f7ff;" id="padeHistorial" rows="5"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div><!-- FIN PADECIMIENTOS -->
      <div class="row"><!-- Alergias -->
        <div class="col-md-12">
          <div class="form-horizontal">
            <div class="form-group">
              <label for="alergiasHistorial" class="col-sm-2 control-label"><h6>Alergias:</h6></label>
              <div class="col-sm-12">
                <textarea class="form-control" style="background-color:#d1f7ff;" id="alergiasHistorial" rows="5"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div><!-- fin alergias -->
      <div class="row"><!-- NOTAS -->
        <div class="col-md-12">
          <div class="form-horizontal">
            <div class="form-group">
              <label for="notaHistorial" class="col-sm-2 control-label"><h6>Notas:</h6></label>
              <div class="col-sm-12">
                <textarea class="form-control" style="background-color:#d1f7ff;" id="notaHistorial" rows="5"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div><!-- FIN NOTAS -->
      <div class="row"><!-- BOTON -->
        <div class="col-md-12">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <button class="btn btn-info form-control" type="button" id="agregarHistorial">
              GUARDAR INFORMACION&nbsp;<span class="glyphicon glyphicon-plus-sign"></span>
            </button>
          </div>
          <div class="col-md-4"></div>
        </div>
      </div><!-- Fin boton -->
    </div><!-- fin barra lateral derecha -->
  </div><!-- FIN row principal -->
</div><!-- fin container-fluid -->
