<div class="container-fluid"><!-- container-fluid -->
  <div class="row"><!-- ROW principal -->
    <!-- Inicio barra lateral izquierda -->
    <div class="col-md-1" style="background-color:green">
      test
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="panel panel-default" style="border:none;margin:2px">
          <div class="panel-heading" style="background-color:#32688E;color:white">
            <span class="h75-bold" style="font-size:160%">HISTORIALES</span><br>
            <span>DE CONSULTA</span>
          </div>
          <div class="panel-body" style="padding: 0px;">

              <div class="list-group">

                <a href="#" class=" list-group-item media" style="padding:0px;margin-top: 0px;">
                  <div class="media">
                    <div class="media-left">
                      <img src="https://www.ptcusercommunity.com/images/jive-profile-default-portrait.png" alt="..." style="height:70px;width:40px" />
                    </div>
                    <div class="media-body">
                      <h4 class="list-group-item-heading">nombre paciente 1</h4>
                      <p class="list-group-item-text">
                        <span id="apellidoPacienteSpan">Apellido paciente 1</span>
                      </p>
                      <p class="list-group-item-text">
                        <small>Creado&nbsp;<span id="fechaCreacion">22 de Enero del 2016</span></small>
                      </p>
                    </div>
                  </div>
                </a>

                <a href="#" class=" list-group-item media" style="padding:0px;margin-top: 0px;">
                  <div class="media">
                    <div class="media-left">
                      <img src="https://www.ptcusercommunity.com/images/jive-profile-default-portrait.png" alt="..." style="height:70px;width:40px" />
                    </div>
                    <div class="media-body">
                      <h4 class="list-group-item-heading">nombre paciente 1</h4>
                      <p class="list-group-item-text">
                        <span id="apellidoPacienteSpan">Apellido paciente 1</span>
                      </p>
                      <p class="list-group-item-text">
                        <small>Creado&nbsp;<span id="fechaCreacion">22 de Enero del 2016</span></small>
                      </p>
                    </div>
                  </div>
                </a>

                <a href="#" class=" list-group-item media" style="padding:0px;margin-top: 0px;">
                  <div class="media">
                    <div class="media-left">
                      <img src="https://www.ptcusercommunity.com/images/jive-profile-default-portrait.png" alt="..." style="height:70px;width:40px" />
                    </div>
                    <div class="media-body">
                      <h4 class="list-group-item-heading">nombre paciente 1</h4>
                      <p class="list-group-item-text">
                        <span id="apellidoPacienteSpan">Apellido paciente 1</span>
                      </p>
                      <p class="list-group-item-text">
                        <small>Creado&nbsp;<span id="fechaCreacion">22 de Enero del 2016</span></small>
                      </p>
                    </div>
                  </div>
                </a>

              </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading" style="background-color:#2C7DB0;color:white">
            <span>Generales y antecedentes</span><br>
            <span class="h75-bold" style="font-size:160%">Nuevo paciente</span>
          </div>
          <div class="panel-body" style="height: auto;background-color:#BCDDEE">


            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-4" style="font-size:130%;padding-top: 5px;">
                    <label for="nombreInputHistorial">Nombre:</label>
                  </div>
                  <div class="col-md-8" style="padding: 0px;">
                    <input type="text" class="form-control" id="nombreInputHistorial" placeholder="Nombre" style="padding:2px;height:80%;"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-4" style="padding-top: 5px;">
                    <label for="apellidoPHistorial" style="font-weight: lighter;">Primer apellido:</label>
                  </div>
                  <div class="col-md-8" style="padding: 0px;">
                      <input type="text" class="form-control" id="apellidoPHistorial" placeholder="Apellido paterno"  style="padding:2px;height:80%"/>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-4" style="padding-right: 0px;padding-top: 5px;">
                    <label for="apellidoMHistorial" style="font-weight: lighter;">Segundo apellido:</label>
                  </div>
                  <div class="col-md-8" style="padding: 0px;">
                      <input type="text" class="form-control" id="apellidoMHistorial" placeholder="Apellido materno"  style="padding:2px;height:80%"/>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-5" style="background-color:#CCE5F2; border-radius:8px;">
              <div class="row">
                <div class="col-md-12" style="font-size:120%;margin-top:3px">
                  <label>Fecha de nacimiento.</label>
                </div>
              </div>
              <div class="row">
                  <div class="col-md-12">
                      <div class="form-horizontal form-group row" style="padding-bottom:0px;margin-bottom:0px">
                          <label for="diaHistorial" class="col-md-1 col-sm-1 control-label" style="font-weight: lighter;">Día:</label>
                          <div class="col-md-3 col-sm-3">
                            <input type="text" class="form-control" id="diaHistorial"  style="padding:2px;height:80%"/>
                          </div>
                          <label for="mesHistorial" class="col-md-1 col-sm-1 control-label" style="font-weight: lighter;">Mes:</label>
                          <div class="col-md-3 col-sm-3">
                            <input type="text" class="form-control" id="mesHistorial" style="padding:2px;height:80%"/>
                          </div>
                          <label for="anioHistorial" class="col-md-1 col-sm-1 control-label" style="font-weight: lighter;">Año:</label>
                          <div class="col-md-3 col-md-3">
                            <input type="text" class="form-control" id="anioHistorial"  style="padding:2px;height:80%"/>
                          </div>
                      </div>
                  </div>
              </div>
            </div>

            <div class="col-md-7" style="border-radius:8px;">
              <div class="row">
                <div class="col-md-12" style="font-size:120%;margin-top:3px">
                  <label>&nbsp;</label>
                </div>
              </div>
              <div class="row">
                  <div class="col-md-12">
                      <div class="form-horizontal form-group row" style="padding-bottom:0px;margin-bottom:0px">
                          <label for="diaHistorial" class="col-md-1 col-sm-1 control-label" style="font-weight: lighter;">Sexo:</label>
                          <div class="col-md-3 col-sm-3">
                            <select class="form-control" id="selectSex" required  style="padding:2px;height:80%">
                              <option value="" disabled selected></option>
                              <option value="masculino">M</option>
                              <option value="femenino">F</option>
                            </select>
                          </div>
                          <label for="mesHistorial" class="col-md-1 col-sm-1 control-label" style="font-weight: lighter;">Estatura:</label>
                          <div class="col-md-3 col-sm-3">
                            <input type="text" class="form-control" id="mesHistorial" style="padding:2px;height:80%"/>
                          </div>
                          <label for="anioHistorial" class="col-md-1 col-sm-1 control-label" style="font-weight: lighter;">peso:</label>
                          <div class="col-md-3 col-md-3">
                            <input type="text" class="form-control" id="anioHistorial"  style="padding:2px;height:80%"/>
                          </div>
                      </div>
                  </div>
              </div>
            </div>

              <div class="col-md-7">
                <div class="row">
                  <div class="col-md-12">
                    <div class="col-md-4">
                      <div class="form-horizontal">
                        <div class="form-group">
                          <label class="col-sm-2 control-label" for="selectSex">Sexo:</label>
                          <div class="col-sm-10">
                            <select class="form-control" id="selectSex" required>
                              <option value="" disabled selected></option>
                              <option value="masculino">M</option>
                              <option value="femenino">F</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-horizontal">
                        <div class="form-group">
                          <label for="cmHistorial" class="col-sm-2 control-label">Estatura</label>
                          <div class="col-sm-12">
                            <div class="input-group">
                              <input type="text" class="form-control" id="cmHistorial" aria-describedby="cm" />
                              <span class="input-group-addon" style="background-color:#54A8DB;color:white;padding:2px" id="cm">Cm.</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-horizontal">
                        <div class="form-group">
                          <label for="kgHistorial" class="col-sm-2 control-label">Kilogramos</label>
                          <div class="col-sm-12">
                            <div class="input-group">
                              <input type="text" class="form-control" id="kgHistorial" aria-describedby="kg" />
                              <span class="input-group-addon" style="background-color:#54A8DB;color:white;padding:2px" id="kg">Kg.</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="col-md-6" style="background-color:#CCE5F2; border-radius:8px;">
                    <div class="form-horizontal">
                      <div class="form-group">
                        <label for="mailHistorial" class="col-sm-4 control-label">Correo electrónico</label>
                        <div class="col-sm-12">
                          <input type="text" class="form-control" id="mailHistorial" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <button class="btn btn-primary" id="nuevoHistorial">
                      AGREGAR NUEVO PACIENTE&nbsp;<span class="glyphicon glyphicon-plus-sign"></span>
                    </button>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-horizontal">
                    <div class="form-group">
                      <label for="estadoHistorial" class="col-sm-2 control-label"><h6>Estado de salud:</h6></label>
                      <div class="col-sm-12">
                        <textarea class="form-control" style="background-color:#F1F9FD;resize:none" id="estadoHistorial" rows="5"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-horizontal">
                    <div class="form-group">
                      <label for="padeHistorial" class="col-sm-4 control-label"><h6>Afecciones y padecimientos cronicos:</h6></label>
                      <div class="col-sm-12">
                        <textarea class="form-control" style="background-color:#F1F9FD;resize:none" id="padeHistorial" rows="5"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-horizontal">
                    <div class="form-group">
                      <label for="alergiasHistorial" class="col-sm-2 control-label"><h6>Alergias:</h6></label>
                      <div class="col-sm-12">
                        <textarea class="form-control" style="background-color:#F1F9FD;resize:none" id="alergiasHistorial" rows="5"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-horizontal">
                    <div class="form-group">
                      <label for="notaHistorial" class="col-sm-2 control-label"><h6>Notas:</h6></label>
                      <div class="col-sm-12">
                        <textarea class="form-control" style="background-color:#F1F9FD;resize:none" id="notaHistorial" rows="5"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="col-md-4"></div>
                  <div class="col-md-4">
                    <button class="btn" type="button" id="agregarHistorial" style="background-color:#D9D9D9">
                      GUARDAR INFORMACION&nbsp;<span class="glyphicon glyphicon-plus-sign"></span>
                    </button>
                  </div>
                  <div class="col-md-4"></div>
                </div>
              </div>









          </div>
        </div>
      </div>
    </div>
  </div>
</div>
