<section id="oficinaMedico">
  <div class="container-fluid agendaTopContainer">
    <div class="row noPadding">
      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4 agendaTop bg-transparentDark">
        <a thref="" class="btn btn-transparent btn-block h77-boldcond s20 white-c">
          <div class="body-container">
            <div class="center-content">
              <span class="glyphicon glyphicon-cog"></span><br>
              configurar
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-9 col-xs-8 agendaTop">
        <div class="body-container">
          <div class="center-content">
            <p class="noMargin text-uppercase h77-boldcond s50 white-c pull-right shadow">
              <span class="hidden-sm hidden-xs" id="diaSemana"></span> <span id="diaFecha"></span> <span class="hidden-sm hidden-xs" id="dateDe"></span> <span id="mesFecha"></span><span class="hidden-sm hidden-xs" id="dateComa"></span> <span id="anioFecha"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid agendaBody">
    <div class="row noPadding">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 agendaMonth">
        <div class="row noPadding">
          <div class="col-lg-12 agendaElement text-center noPadding">
            <div class="body-container">
              <div class="top-content">
                <div id="calendar" class="h77-boldcond"></div>
              </div>
            </div>
          </div>
        </div>
        <!--<div class="row noPadding bg-orange agendaOverview">
          <div class="col-lg-12 agendaElement text-center">
            <div class="body-container">
              <div class="center-content">
                <p class="white-c">
                  que onda 2
                </p>
                <a class="closeOverview hidden btn btn-danger" >cerrar</a>
              </div>
            </div>
          </div>
        </div>-->
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 agendaDay">
        <div class="row">
          <div class="col-lg-12">
          	<a class="btn btn-default pull-right" onclick="verAgendaMedico()" role="button">agendar</a>
          </div>
        </div>
        <div class="horas-container">
          <div class="row hora">
            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-1 noPadding">
              <p class="noMargin">
                <span class="lbl-hora h77-boldcond">8 am</span>
              </p>
            </div>
            <div class="col-lg-11 col-md-11 col-sm-10 col-xs-11">
              <a role="button" class="row mediaHora ocupada consulta" onclick="">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 noPadding">
                  <div class="mediaHoraInterno">
                    <div class="body-container">
                      <div class="center-content">
                        <span class="lbl-mediahora h77-boldcond">8:00</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <div class="mediaHoraInterno">
                    <div class="body-container">
                      <div class="center-content">
                        <div class="media">
                          <div class="media-left">
                            <span class="glyphicon glyphicon-user s35 darkBlue-c"></span>
                          </div>
                          <div class="media-body">
                            <h4 class="h77-boldcond s20 noMargin white-c">Juan Carlos Medina</h4>
                            <h4 class="h75-bold s15 noMargin white-c"><small>Consultorio principal</small></h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
              <a role="button" class="row mediaHora ocupada evento">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 noPadding">
                  <div class="mediaHoraInterno">
                    <div class="body-container">
                      <div class="center-content">
                        <span class="lbl-mediahora h77-boldcond">8:30</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <div class="mediaHoraInterno">
                    <div class="body-container">
                      <div class="center-content">
                        <div class="media">
                                  <div class="media-left">
                                    <span class="glyphicon glyphicon-bookmark s35 darkBlue-c"></span>
                                  </div>
                                  <div class="media-body">
                                    <h4 class="h77-boldcond s20 noMargin white-c">Junta de asociacion de consultorio</h4>
                                    <h4 class="h75-bold s15 noMargin white-c hidden-sm hidden-xs"><small>Consultorio principal</small></h4>
                                  </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="row hora">
            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-1 noPadding">
              <p class="noMargin">
                <span class="lbl-hora h77-boldcond">9 am</span>
              </p>
            </div>
            <div class="col-lg-11 col-md-11 col-sm-10 col-xs-11">
              <a role="button" class="row mediaHora">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 noPadding">
                  <div class="mediaHoraInterno">
                    <div class="body-container">
                      <div class="center-content">
                        <span class="lbl-mediahora h77-boldcond">9:00</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <div class="mediaHoraInterno">
                    <div class="body-container">
                      <div class="center-content">
                        <div class="media hidden">
                          <div class="media-left">
                            <span class="glyphicon glyphicon-user s35 darkBlue-c "></span>
                          </div>
                          <div class="media-body">
                            <h4 class="h77-boldcond s20 noMargin white-c">Juan Carlos Medina</h4>
                            <h4 class="h75-bold s15 noMargin white-c"><small>Consultorio principal</small></h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
              <a role="button" class="row mediaHora">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 noPadding">
                  <div class="mediaHoraInterno">
                    <div class="body-container">
                      <div class="center-content">
                        <span class="lbl-mediahora h77-boldcond">9:30</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <div class="mediaHoraInterno">
                    <div class="body-container">
                      <div class="center-content">
                        <div class="media hidden">
                          <div class="media-left">
                            <span class="glyphicon glyphicon-user s35 darkBlue-c "></span>
                          </div>
                          <div class="media-body">
                            <h4 class="h77-boldcond s20 noMargin white-c">Juan Carlos Medina</h4>
                            <h4 class="h75-bold s15 noMargin white-c"><small>Consultorio principal</small></h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  var device = navigator.userAgent
  if (device.match(/Iphone/i) || device.match(/Ipod/i) || device.match(/Android/i) || device.match(/J2ME/i) || device.match(/BlackBerry/i) || device.match(/iPhone|iPad|iPod/i) || device.match(/Opera Mini/i) || device.match(/IEMobile/i)
   || device.match(/Mobile/i) || device.match(/Windows Phone/i) || device.match(/windows mobile/i) || device.match(/windows ce/i) || device.match(/webOS/i) || device.match(/palm/i) || device.match(/bada/i) || device.match(/series60/i)
   || device.match(/nokia/i) || device.match(/symbian/i) || device.match(/HTC/i)) {
      var txt = "";
      txt += "{ * Browser CodeName: " + navigator.appCodeName + " } ";
      txt += "{ * Browser Name: " + navigator.appName + "} ";
      txt += "{ * Browser Version: " + navigator.appVersion + " } ";
      txt += "{ * Cookies Enabled: " + navigator.cookieEnabled + " } ";
      txt += "{ * Browser Language: " + navigator.language + " } ";
      txt += "{ * Browser Online: " + navigator.onLine + " } ";
      txt += "{ * Platform: " + navigator.platform + " } ";
      txt += "{ * User-agent header: " + navigator.userAgent + " } ";
      console.log(txt);
    } else {
  }
</script>
