<section id="oficinaMedico">
  <div class="container-fluid agendaTopContainer">
    <div class="row noPadding">
      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4 agendaTop bg-transparentDark">
        <a thref="" class="btn btn-transparent btn-block h77-boldcond s20 white-c">
          <div class="body-container">
            <div class="center-content">
              <span class="glyphicon glyphicon-cog"></span><br>
              configurar
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-9 col-xs-8 agendaTop">
        <div class="body-container">
          <div class="center-content">
            <p class="noMargin text-uppercase h77-boldcond s50 white-c pull-left shadow hidden-xs">
              agenda //
            </p>
            <p class="noMargin text-uppercase h77-boldcond s50 white-c pull-right shadow">
              <span class="hidden-sm hidden-xs">martes </span>22 <span class="hidden-sm hidden-xs">de </span>marzo<span class="hidden-sm hidden-xs">,</span> 2016
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid agendaBody">
    <div class="row noPadding">
      <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12">
        <p class="white-c">
          que onda
        </p>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-8 col-xs-12 bg-transparentDark agenda-day">
        <p class="white-c">
          hola mundo
        </p>
      </div>
    </div>
  </div>
</section>
