<div class="container-fluid">
  <div class="row">
    <div class="row header-section" style="height:100px">
      <div class="col-md-12" >
        <h4 class="Flama-book whiteF s30 text-center" style="margin-top: 30px;">CONFIGURA TUS SERVICIOS Y HORARIOS DE ATENCIÓN //</h4>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row">
        <ul class="nav nav-tabs menuRegUbic Flama-book whiteF s20">
          <li class="active"><a data-toggle="tab" href="#home">UBICACIONES<hr></a></li>
          <li><a data-toggle="tab" href="#menu1">SERVICIOS<hr></a></li>
          <li><a data-toggle="tab" href="#menu2">HORARIOS<hr></a></li>
        </ul>

        <div class="tab-content ">
          <div id="home" class="tab-pane fade in active">
            <div class="regExp Flama-book whiteF s19">CONFIGURAR EL HORARIO DE ATENCIÓN PARA LA UBICACIÓN: CONSULTORIO LOPE DE VEGA #4523</div>
            <h3>HOME</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div id="menu1" class="tab-pane fade">
            <div class="regExp Flama-book whiteF s19">CONFIGURAR EL HORARIO DE ATENCIÓN PARA LA UBICACIÓN: CONSULTORIO LOPE DE VEGA #4523</div>
            <h3>Menu 1</h3>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
          <div id="menu2" class="tab-pane fade">
            <div class="regExp Flama-book whiteF s19">CONFIGURAR EL HORARIO DE ATENCIÓN PARA LA UBICACIÓN: CONSULTORIO LOPE DE VEGA #4523</div>
            <h3>Menu 2</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
