<section id="divMapRegHor" class="container-fluid bg-white">
  <div class="container">
    <div class="header-section">
      <div class="body-container">
        <div class="center-content">
          <div class="row">
            <div class="col-md-8">
              <h4 class="h35-thin darkBlue-c s45 text-left">Configura tus ubicaciones, servicios <br/>y horarios de atención.</h4>
            </div>
            <div class="col-md-4 hidden" id="btnEndReg">
              <p class="h45-light s15 darkGrey-c text-center">
                <br />
                ¡Gracias por tu paciencia!
                Has registrado tus horarios con éxito. Si deseas ajustar tu registro o añadir un horario nuevo, adelante.
                Si no, haz click a continuación:
              </p>
              <button type="button" class="btn btn-warning btn-lg bg-orange btn-block s20 h65-medium" onclick="saveStepTwo()">Terminar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <ul class="nav nav-tabs menuRegStep2">
      <li class="reg2Step active">
        <a data-toggle="tab" href="#home" class="h45-light s20">
          <span class="h65-medium stepCircle">1</span><span class="stepContent text-uppercase">ubicaciones</span>
        </a>
      </li>
      <li class="reg2Step">
        <a data-toggle="tab" href="#menu1" class="h45-light s20" onclick="cargarServicios($('#slc_servicios_ubi'))">
          <span class="h65-medium stepCircle">2</span><span class="stepContent text-uppercase">servicios</span>
        </a>
      </li>
      <li class="reg2Step">
        <a data-toggle="tab" href="#menu2" class="h45-light s20" onclick="cargarHorario($('#slc_horarios_ubi'))">
          <span class="h65-medium stepCircle">3</span><span class="stepContent text-uppercase">horarios</span>
        </a>
      </li>
    </ul>
    <div class="tab-content contentRegStep2">
      <div id="home" class="tab-pane fade in active">
        <div class="row regExp">
          <div class="col-lg-12 col-md-12">
            <p class="h45-light s20 darkGrey-c" id="alertRegUbi">
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <form method="POST" name="frmRegUb" id="frmRegUbi">
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <input type="hidden" id="idDireccion">
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-8">
                      <label class="control-label regInput" for="textinput">Nombre de la ubicación:</label>
                      <input id="nombreUbi" name="nombreUbi" type="text" placeholder="" class="form-control input-md regInput">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-4">
                      <div class="checkbox" style="margin-top: 27px;margin-left: 17px;">
                        <label class=" regInput">
                          <input type="checkbox" id="principal" name="principal" value="" style="margin-top:0px"> Ubicación principal.
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="form-group">
                        <label class="control-label  regInput" for="textinput">Calle o avenida:</label>
                        <input id="calleUbi" name="calleUbi" type="text" placeholder="" class="form-control input-md regInput">
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                      <div class="form-group">
                        <label class="control-label regInput" for="textinput">Número:</label>
                        <input id="numeroUbi" name="numeroUbi" type="text" placeholder="" class="form-control input-md regInput">
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                      <div class="form-group">
                        <label class="control-label regInput" for="textinput">Interior:</label>
                        <input id="numeroIntUbi" name="numeroIntUbi" type="text" placeholder="" class="form-control input-md regInput">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                      <div class="form-group">
                        <label class="control-label regInput" for="textinput">Entre calles:</label>
                        <input id="calle1Ubi" name="calle1Ubi" type="text" placeholder="" class="form-control input-md regInput">
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                      <div class="form-group">
                        <label class="control-label regInput" for="textinput">Y:</label>
                        <input id="calle2Ubi" name="calle2Ubi" type="text" placeholder="" class="form-control input-md regInput">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                      <div class="form-group">
                        <label class="control-label regInput" for="textinput">Estado:</label>
                        <select id="slc_estados_mapa" name="slc_estados_mapa" type="text" placeholder="" class="form-control input-md regInput" onChange="obtenerCiudades('_mapa')">
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                      <div class="form-group">
                        <label class="control-label regInput" for="textinput">Municipio/ciudad:</label>
                        <select id="slc_ciudades_mapa" name="slc_ciudades_mapa" type="text" placeholder="" class="form-control input-md regInput" onChange="obtenerColonias('_mapa')">
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                      <div class="form-group">
                        <label class="control-label regInput" for="textinput">Localidad/colonia:</label>
                        <select id="slc_colonias_mapa" name="slc_colonias_mapa" type="text" placeholder="" class="form-control input-md regInput">
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                      <div class="form-group">
                        <label class="control-label regInput" for="textinput">CP:</label>
                        <input id="cpUbi" name="cpUbi" type="text" placeholder="" class="form-control input-md regInput">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <input type="hidden" id="latitud" name="latitud" value="latitud+'" />
                  <input type="hidden" id="longitud" name="longitud" value="longitud+'" />
                  <div id="searchDiv">
                    <input id="autocomplete_searchField" type="text" placeholder="Buscar Dirección">
                  </div>
                  <div id="direccion"></div>
                  <div class="mapMessage h65-medium s15">
                    <p>
                      Arrastra y coloca el indicador en la posición más aproximada a tu ubicación.
                    </p>
                  </div>
                  <div id="mapDiv"></div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <label class="control-label regInput" for="textinput">Ingresa tus números de contacto:</label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-5">
                  <div class="form-group">
                    <select class="form-control regInput" id="tipoTelefono">
                      <option value="celular">Celular</option>
                      <option value="oficina">Oficina</option>
                      <option value="localizador">Localizador</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-5" id="divTelefono">
                  <div class="form-group">
                    <input type="text" id="numTelefono" class="form-control solo-numero" placeholder="Número:" onpaste="soloNumeros()" maxlength="12">
                  </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                  <div class="form-group">
                    <button type="button" class="btn btn-warning bg-orange btn-block regInput h65-medium" id="addFon" >Añadir</button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-sm-12">
                  <ul class="list-inline" id="divTelefonoAgregado">
                  </ul>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 pull-right">
                  <button type="button" class="btn btn-reg btn-block h35-thin s20" onclick="regUbicacion()" id="btnGuardar">Guardar</button>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6  pull-left">
                  <button type="button" class="btn btn-drop btn-block h35-thin s20 hidden" onclick="resetearFormRegUbi()" id="btnCancelarUbi">Cancelar edicion</button>
                </div>
              </div>
            </form>
          </div>
          <hr>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <h4 class="h45-light s20 text-uppercase darkGrey-c">
              Ubicaciones Registradas
            </h4>
            <p class="h65-medium s15 darkGrey-c">
              Haz click en una ubicación para editar su información o en la 'x' para eliminarla.
            </p>
          </div>
          <div class="col-lg-12 col-md-12">
            <ul class="list-inline" id="listInlineUbi">
            </ul>
          </div>
          <hr>
        </div>
        <div class="row nav-nextprev">
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 pull-right text-right">
            <div class="cargarSiguiente">
              <a data-toggle="tab" href="#menu1" onclick="cargarServicios($('#slc_servicios_ubi'),this)" class="btn-nextprev h35-thin s45 darkBlue-c">
                <span class="hidden-sm hidden-xs">Siguiente</span>
                <span class="icon siguiente-icon"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div id="menu1" class="tab-pane fade">
        <div class="row regExp">
          <div class="col-lg-12 col-md-12">
            <p class="h45-light s20 darkGrey-c">
              CONFIGURA LOS SERVICIOS PARA LA UBICACIÓN:
            </p>
          </div>
          <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4 darkBlue-c">
            <select class="form-control slc_ubicReg" onchange="cargarServicios(this);" id="slc_servicios_ubi">
              <option value="" disabled selected>REGISTRA UNA UBICACIÓN</option>
            </select>
          </div>
        </div>
        <div class="row UbicHidden">
          <form method="POST" onsubmit="return guardarServicio('frmRegServ');" id="frmRegServ">
            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="hidden" name="servicio_id" id="servicio_id" value="">
                    <label class="darkGrey-c regInput">Concepto.</label>
                    <input type="text" class="form-control regInput" id="conceptServ" name="concepto" required="required">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="darkGrey-c regInput">Descripción.</label>
                    <input type="text" class="form-control regInput" id="decriptServ" name="descripcion" required="required">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="darkGrey-c regInput">Costo.</label>
                    <input type="text" class="form-control regInput" id="precServ" name="precio" required="required">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="darkGrey-c regInput">Duración.</label>
                    <select id="duraServ" class="form-control regInput" name="duracion" required="required">
                      <option value="" selected disabled>Selecciona</option>
                      <option value="00:30:00">30 minutos</option>
                      <option value="00:45:00">1 hora</option>
                      <option value="01:30:00">1 hora y 30 minutos</option>
                      <option value="02:00:00">2 horas</option>
                      <option value="02:30:00">2 horas y 30 minutos</option>
                      <option value="03:00:00">3 horas</option>
                      <option value="03:30:00">3 horas y 30 minutos</option>
                      <option value="04:00:00">4 horas</option>
                      <option value="04:30:00">4 horas y 30 minutos</option>
                      <option value="05:00:00">5 horas</option>
                      <option value="05:30:00">5 horas y 30 minutos</option>
                      <option value="06:00:00">6 horas</option>
                      <option value="06:30:00">6 horas y 30 minutos</option>
                      <option value="07:00:00">7 horas</option>
                      <option value="07:30:00">7 horas y 30 minutos</option>
                      <option value="08:00:00">8 horas</option>
                      <option value="08:30:00">8 horas y 30 minutos</option>
                      <option value="09:00:00">9 horas</option>
                      <option value="09:30:00">9 horas y 30 minutos</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>&nbsp;</label><br />
                    <button type="submit" class="btn btn-warning bg-orange regInput btn-block h65-medium">
                      Añadir
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="row UbicHidden">
          <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
            <div class="regSectionTitle darkGrey-c h77-boldcond">
              <span class="glyphicon glyphicon-pencil"></span>EDITA TUS SERVICIOS
            </div>
          </div>
        </div>
        <div class="row UbicHidden">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="list-inline" id="ServListReg">
            </ul>
          </div>
        </div>
        <div class="row nav-nextprev">
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 pull-left text-left">
            <div class="cargarAnterior">
              <a data-toggle="tab" href="#home" onclick="cargarServicios($('#slc_servicios_ubi'),this)" class="btn-nextprev h35-thin s45 darkBlue-c">
                <span class="icon anterior-icon"></span>
                <span class="hidden-sm hidden-xs">Anterior</span>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 pull-right text-right">
            <div class="cargarSiguiente">
              <a data-toggle="tab" href="#menu2" onclick="cargarHorario($('#slc_horarios_ubi'),this)" class="btn-nextprev h35-thin s45 darkBlue-c">
                <span class="hidden-sm hidden-xs">Siguiente</span>
                <span class="icon siguiente-icon"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div id="menu2" class="tab-pane fade">
        <div class="row regExp">
          <div class="col-lg-12 col-md-12">
            <p class="h45-light s20 darkGrey-c">
              CONFIGURA LOS HORARIOS DE ATENCIÓN PARA LA UBICACIÓN:
            </p>
          </div>
          <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4 darkBlue-c">
            <select class="form-control slc_ubicReg" onchange="cargarHorario(this);" id="slc_horarios_ubi">
              <option value="" disabled selected>REGISTRA UNA UBICACIÓN</option>
            </select>
          </div>
        </div>
        <div class="row noPadding">
          <div class="col-lg-12">
            <div class="alert alert-dismissible bg-darkBlue" role="alert">
              <button type="button" class="close white-c" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <p class="h45-light s20 text-center white-c noMargin" id="alertRegUbi">
                Utiliza el siguiente calendario para seleccionar el horario de atención disponible en la ubicación seleccionada. Puedes ayudarte con las opciones preconfiguradas:
              </p>
            </div>
          </div>
        </div>
        <div class="row UbicHidden">
          <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset1 col-sm-offset-0">
            <div class="row noPadding" style="margin-bottom:20px;">
              <div class="col-lg-12" style="height:40px;">
                <div class="body-container bg-orange">
                  <div class="center-content">
                    <p class="h65-medium s20 white-c noMargin noPadding text-center">
                      Opciones preconfiguradas:
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row divActionsUbic noPadding">
              <div class="col-lg-4 col-md-4 text-left">
                <a class="btn btn-lg btn-white action" onclick="calendarSeleccionarTodo()">
                  <p class="noMargin">
                    <span class="btnicon disponible"></span>
                    <span class="btnlbl">Todo disponible</span>
                  </p>
                </a>
              </div>
              <div class="col-lg-4 col-md-4 text-center">
                <a class="btn btn-lg btn-white action" onclick="calendarSeleccionarNada()">
                  <p class="noMargin">
                    <span class="btnicon ocupado"></span>
                    <span class="btnlbl">Todo ocupado</span>
                  </p>
                </a>
              </div>
              <div class="col-lg-4 col-md-4 text-right" >
                <a class="btn btn-lg btn-white action" onclick="calendarHorarioOficina()">
                  <span class="btnicon oficina"></span>
                  <span class="btnlbl">Horario de oficina</span>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <hr />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <form method="POST" name="frmRegHorarios" id="frmRegHorarios" onsubmit="return false;" class="UbicHidden">
            <div class="col-lg-12 col-md-12">
              <input type="hidden" id="horariosUbi" name="horariosUbi" value="" />
              <input type="hidden" id="direccion_id" name="direccion_id" value="" />
              <!--
              <div class="col-md-12" id="divCalendarioPadre" style="margin-right: 15px;">
                <div id="divCalendario" class="regHorMed"></div>
              </div>
            -->
              <div class="col-md-12" id="divCalendarioPadre">
                <div class="row">
                  <div id="divCalendario" class="regHorMed calCita">
                  </div>
                </div>
              </div>

              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 pull-right">
                <button type="button" class="btn bg-darkBlue btn-block h35-thin s20 white-c" id="btnRegHorarios" onclick="regHorarios($('#slc_horarios_ubi').val())">Guardar</button>
              </div>
            </div>
          </form>
        </div>
        <!--<input type="button" class="btn btn-save btn-sm" value="Guardar y salir" onclick="registrarHorariosBot();">-->
        <div class="row nav-nextprev">
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 pull-left text-left">
            <div class="cargarAnterior">
              <a data-toggle="tab" href="#menu1" onclick="cargarServicios($('#slc_servicios_ubi'),this)" class="btn-nextprev h35-thin s45 darkBlue-c">
                <span class="icon anterior-icon"></span>
                <span class="hidden-sm hidden-xs">Anterior</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
