<div class="container" style="margin-top:30px;">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form id="regMedStepOne" onsubmit="return saveStepOne();">
        <div class="row topMsgReg">
          <div class="col-md-12">
            <h4 class="Flama-bold s20">¡Bienvenido Dr.!<small></small></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div id="alertError"></div>
          </div>
          <div class="col-md-12">
            <div class="regBox">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="Flama-normal s15" for="nombreRegMed">Nombres</label>
                    <input type="text" class="form-control" id="nombreRegMed" name="nombreRegMed" placeholder="Nombres" value="">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="Flama-normal s15" for="apePatRegMed">Apellido Paterno</label>
                    <input type="text" class="form-control" id="apePatRegMed" name="apePatRegMed" placeholder="Apellido Paterno" value="">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="Flama-normal s15" for="apePatRegMed">Apellido Materno</label>
                    <input type="text" class="form-control" id="apeMatRegMed" name="apeMatRegMed" placeholder="Apellido Materno" value="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-12">
                      <label class="Flama-normal s15">Fecha de Nacimiento</label>
                    </div></div><div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <input type="number" class="form-control" id="diaNacReg" name="birthdayDay" placeholder="Dia" required="true" min="1" max="31">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <input type="number" class="form-control" id="mesNacReg" name="birthdayMonth" placeholder="Mes" required="true" min="1" max="12">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <input type="number" class="form-control" id="añoNacReg" name="birthdayYear" placeholder="Año" required="true" min="1930" max="2016">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="col-md-12">
                      <label class="Flama-normal s15">Sexo</label>
                    </div>
                    <div class="col-md-6">
                      <div class="radio">
                        <label>
                          <input type="radio" name="gender" id="sexM" value="M"> Masculino</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="radio">
                          <label><input type="radio" name="gender" id="sexF" value="F"> Femenino</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="separator2">
                <div class="regBox">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="Flama-normal s15" for="curpRegMed">CURP</label>
                        <input type="text" class="form-control" id="curpRegMed" name="curpRegMed" placeholder="CURP" value="">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="Flama-normal s15" for="cedulaRegMed">Cedula Profesional</label>
                        <input type="text" class="form-control" id="cedulaRegMed" name="cedulaRegMed" placeholder="CEDULA" value="">
                      </div>
                    </div>
                  </div>
                </div>


                <hr class="separator2">
                <!-- Especialidades -->
                <div class="col-md-12">
                  <h4>Especialidades</h4>
                </div>
                <div class="col-md-6 form-group">
                  <select id="autoEspecialidad" class="form-control"></select>
                </div>
                <div class="col-md-4 checkbox form-group">
                  <label>
                    <input type="checkbox" id="subEspEdit" name="subEsp" value="0"/>¿Es sub especialidad?
                  </label>
                </div>
                <div class="col-md-2 form-group">
                  <button id="addEspecialidadMedic" onclick="editEspecialidades();" class="btn btn-primary form-control" type="button">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                  </button>
                </div>
                <!-- fin add Especialidades -->
                  <div class="col-md-12" id="regmedEsp">


                  </div>

                  <div class="col-md-3 col-md-offset-9" style="margin-top:25px">
                    <input type="submit" id="regi" name="registroCorreo" value="Guardar" class="btn btn-success btn-block btn-step" style="margin-top:10px;margin-bottom:10px">
                  </div>
              </div>
            </div>
          </div>

      </form>
    </div>
  </div>
</div>
